﻿@using SoftNetCore.Model.Catalog;
@model ProductAttributeModel
@{
    int countShadow = 0;
    int countThumb = 0;
}
<div class="portfolio-thumbnil-area">
    <div class="product-more-views">
        <div class="tab_thumbnail tab-productlist" data-tabs="tabs">
            <div class="thumbnail-carousel">
                <ul class="nav">
                    @if (Model.ImageList != null)
                    {
                        foreach (var item in Model.ImageList.Split(';'))
                        {
                            countThumb++;
                            <li>
                                <a href="#view-@countThumb" class="shadow-box @(countThumb==1? "active":"")" aria-controls="view-@countThumb" data-bs-toggle="tab">
                                    <img src="/@item" alt="Orriana.vn" />
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content active-portfolio-area pos-rltv">
        @*<div class="social-tag">
            <a href="https://www.facebook.com/sharer/sharer.php?u=@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path"><i class="zmdi zmdi-share"></i></a>
        </div>*@
        @if (Model.ImageList != null)
        {
            foreach (var item in Model.ImageList.Split(';'))
            {
                countShadow++;
                <div role="tabpanel" class="tab-pane @(countShadow==1? "active":"")" id="view-@countShadow">
                    <div class="product-img">
                        <a class="fancybox" data-fancybox-group="group" href="/@item">
                            <img src="/@item" alt="@countShadow" />
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox();
    });
</script>