﻿<div class="sidebar-widget widget-store-info mb-30 bg-3 border-0">
    <div class="vendor-logo mb-30">
        <img src="~/assets/imgs/vendor/vendor-16.png" alt="">
    </div>
    <div class="vendor-info">
        <div class="product-category">
            <span class="text-muted">Since 2012</span>
        </div>
        <h4 class="mb-5"><a href="vendor-details-1.html" class="text-heading">Nest Food.,Ltd</a></h4>
        <div class="product-rate-cover mb-15">
            <div class="product-rate d-inline-block">
                <div class="product-rating" style="width: 90%"></div>
            </div>
            <span class="font-small ml-5 text-muted"> (4.0)</span>
        </div>
        <div class="vendor-des mb-30">
            <p class="font-sm text-heading">Got a smooth, buttery spread in your fridge? Chances are good that it's Good Chef. This brand made Lionto's list of the most popular grocery brands across the country.</p>
        </div>
        <div class="follow-social mb-20">
            <h6 class="mb-15">Follow Us</h6>
            <ul class="social-network">
                <li class="hover-up">
                    <a href="#">
                        <img src="~/assets/imgs/theme/icons/social-tw.svg" alt="">
                    </a>
                </li>
                <li class="hover-up">
                    <a href="#">
                        <img src="~/assets/imgs/theme/icons/social-fb.svg" alt="">
                    </a>
                </li>
                <li class="hover-up">
                    <a href="#">
                        <img src="~/assets/imgs/theme/icons/social-insta.svg" alt="">
                    </a>
                </li>
                <li class="hover-up">
                    <a href="#">
                        <img src="~/assets/imgs/theme/icons/social-pin.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="vendor-info">
            <ul class="font-sm mb-20">
                <li><img class="mr-5" src="~/assets/imgs/theme/icons/icon-location.svg" alt=""><strong>Address: </strong> <span>5171 W Campbell Ave undefined, Utah 53127 United States</span></li>
                <li><img class="mr-5" src="~/assets/imgs/theme/icons/icon-contact.svg" alt=""><strong>Call Us:</strong><span>(+91) - 540-025-124553</span></li>
            </ul>
            <a href="vendor-details-1.html" class="btn btn-xs">Contact Seller <i class="fi-rs-arrow-small-right"></i></a>
        </div>
    </div>
</div>