/*=======Default Color===========*/
a:focus,
a:hover {
    color: #fa6400;
}
.social-icon ul li a:hover {
  background: #fa6400 none repeat scroll 0 0;
  border-color: #fa6400;
}
.social-icon.socile-icon-style-2 ul li a:hover {
  color: #fa6400;
}
.social-icon.socile-icon-style-3 ul li a:hover {
  background: #fa6400 none repeat scroll 0 0;
  border-color: #fa6400;
}
.default-bg { background: #fa6400; }

a.btn-def:hover,a.btn-def.btn-white:hover,a.btn-def.btn2:hover {
  background: #fa6400 none repeat scroll 0 0;
  border-color: #fa6400;
}
.quick-add-to-cart .single_add_to_cart_button {
  background: #fa6400 none repeat scroll 0 0;
}

/*menu style */
.main-menu > li:hover > a,.main-menu > li a.active {
	color: #fa6400;
} 
.main-menu li ul > li:hover > a {
  color: #fa6400;
}
.main-menu li ul li a:hover{
  color: #fa6400;
}
.src-btn:hover {
  color: #fa6400;
}
.menu-eff > li > a::before {
  border-bottom: 1px solid #fa6400;
  border-top: 1px solid #fa6400;
}
.remove:hover {
    background: #fa6400 none repeat scroll 0 0;
}
.cart-price {
    color: #fa6400;
    font-size: 16px;
}
.cart-name > a:hover {
  color: #fa6400;
}
.cart-icon > a:hover {
  color:#fa6400;
}
.cart-icon:hover span {
  border: 1px solid #fa6400;
  color:#fa6400;
}

/*Slider*/
.underline::after {
  background: #fa6400 none repeat scroll 0 0;
}

.product-label.red .new {
  background: #fa6400 none repeat scroll 0 0;
}
.product-icon ul li a:hover {
  color: #fa6400;
}
.prodcut-name > a:hover {
  color: #fa6400;
}
.carsoule-btn .slick-arrow:hover {
    border-color: #fa6400;
    color: #fa6400;
}
.heading-style::after, .heading-style-2 .active::after {
  background: #fa6400 none repeat scroll 0 0;
}
.like-comments-date li a:hover {
    color: #fa6400;
}
.like-comments-date li.blog-date a {
  color: #fa6400;
}
.read-more:hover {
    color: #fa6400;
}
.src-btn.sb-2:hover {
  color: #fa6400;
}
.price_slider_amount > input[type="submit"]:hover {
    background: #fa6400;
}
.table-head.item-nam {
  color: #fa6400;
}
.social-tag a:hover {
  color:#fa6400
}
.dec.qtybutton:hover,
.inc.qtybutton:hover {
    background: #fa6400 ;
    border-color: #fa6400 
}
.single-product-description .prodcut-ratting > a {
	color:#fa6400 
}
.item-title > a:hover {
  color: #fa6400;
}
.remove-item a:hover { color: #fa6400 }
.shipping-method p a:hover { color: #fa6400 }
.panel-checkout .panel-title > a:hover { color: #fa6400 }
.first-last-area .forgotten.forg:hover { color: #fa6400 }
.account-area .forgotten:hover { color: #fa6400 }
.checkbox-2 small a:hover {
  color: #fa6400;
}
.single-choose:hover .choose-icon {
    color: #fa6400;
}
.sbumit-btn:hover {
  background: #fa6400 none repeat scroll 0 0;
}
.contact-us-2 .contact-info .contact-text a:hover {
  color: #fa6400;
}
.subject li a:hover {
  color: #fa6400;
}
.replay > a:hover {
  color: #fa6400;
}
.content-404 .search-box.blog-search input { padding: 0 60px 0 15px }
.src-btn:hover { color: #fa6400 }
#scrollUp:hover {
    border-color: #fa6400;
    color: #fa6400;
}




