﻿@using SoftNetCore.Model.Catalog;
@using System.Security.Claims;
@using SoftNetCore.Common.Helpers;
@model AboutModel

@{ var userId = "";
    var fullName = "";
    var typeId = "";
    if (!string.IsNullOrEmpty(User.Identity.Name))
    {
        userId = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.Name))?.Value;
        fullName = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
        typeId = User.Claims.FirstOrDefault(x => x.Type.Equals("Type"))?.Value;
    }
}

@*<div class="mobile-promotion">
        <span>Grand opening, <strong>up to 15%</strong> off all items. Only <strong>3 days</strong> left</span>
    </div>*@
<div class="header-top header-top-ptb-1 d-none d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-4">
                <div class="header-info">
                    <ul>
                        <li>Hotline:<strong class="text-brand">&nbsp;@Model.Phone</strong></li>
                        @*<li><a href="/don-hang">Đơn hàng</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="text-center">
                    @*<div id="news-flash" class="d-inline-block">
                            <ul>
                                <li> Giao hàng an toàn 100% mà không cần liên hệ với chuyển phát nhanh </li>
                                <li> Ưu đãi giá trị cho bữa ăn tối - Tiết kiệm hơn với phiếu thưởng </li>
                                <li> Trang sức 25silver hợp thời trang, tiết kiệm tới 35% ngay hôm nay </li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <div class="header-info header-info-right">
                    <ul>
                        @if (!string.IsNullOrEmpty(userId) && typeId == "2")
                        {
                            <li>
                                <a href="/tai-khoan"><i class="fi fi-rs-user mr-10"></i>Chào, @fullName</a>
                            </li>
                            <li>
                                <a href="/tai-khoan"><i class="fi fi-rs-location-alt mr-10"></i>Đơn hàng</a>
                            </li>
                            <li>
                                <a href="/yeu-thich"><i class="fi fi-rs-heart mr-10"></i>Yêu thích</a>
                            </li>
                            <li>
                                <a asp-route="logout"><i class="fi fi-rs-sign-out mr-10"></i>Đăng xuất</a>
                            </li>
                        }
                        else
                        {
                            <li><a href="/dang-nhap">Đăng nhập</a></li>
                            <li><a href="/dang-ky">Đăng ký</a></li>
                        }
                        <!--<li>
                        <a class="language-dropdown-active" href="#">Tiếng việt <i class="fi-rs-angle-small-down"></i></a>-->
                        @*<ul class="language-dropdown">
                                <li>
                                    <a href="#"><img src="~/assets/imgs/theme/flag-fr.png" alt="">Français</a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/imgs/theme/flag-dt.png" alt="">Deutsch</a>
                                </li>
                                <li>
                                    <a href="#"><img src="~/assets/imgs/theme/flag-ru.png" alt="">Pусский</a>
                                </li>
                            </ul>*@
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    function GoSearch() {
        var key = $("#strSearch").val();
        if (key !== "" && key !== "undefined") {
            //
            newurl = window.location.protocol + "//" + window.location.host + "/tim-kiem/" + key;
            window.location = newurl;
        }
    }
</script>
