﻿
@using SoftNetCore.Data.Enums;
@model int

@{
    var index = Model + 1;
    List<EnumDomains> Domains = (List<EnumDomains>)ViewBag.EnumDomains;
}

<div class="row mb-2">
    <h5>Cấu hình @index</h5>
    <input type="text" name="MerchantProductByCategories[@Model].Title" class="col-xs-10 col-sm-10" placeholder="Nhập tiêu đề" />
    <input type="text" name="MerchantProductByCategories[@Model].Description" class="col-xs-10 col-sm-10" placeholder="Mô tả" />
    <input type="text" name="MerchantProductByCategories[@Model].Url" class="col-xs-10 col-sm-10" placeholder="Url" />
    <input type="text" name="MerchantProductByCategories[@Model].PageSize" class="col-xs-10 col-sm-10" placeholder="Page size" />
    <input type="text" name="MerchantProductByCategories[@Model].AccessToken" class="col-xs-10 col-sm-10" placeholder="Access token" />
    <select class="radius col-xs-10 col-sm-10" name="MerchantProductByCategories[@Model].DomainId">
        @foreach (var domain in Domains)
        {
            <option value="@domain.GetId()">@domain.ToString()</option>
        }
    </select>
</div>
