﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li class="active">Liên hệ</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thư liên hệ</strong></h3>
            <div class="top-toolbar">
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row form-function">
            <div class="col-sm-8">
                <input type="text" id="form-search" placeholder="Tìm kiếm" class="col-xs-10 col-sm-5 width-100 radius" onkeydown="Search(arguments[0] || event);">
            </div>
            <div class="col-sm-2">
                <select class="form-control width-100 radius" id="form-select-search" onchange="Search(arguments[0] || event);">
                    <option value="">Tất cả</option>
                    <option value="0">Chưa đọc</option>
                    <option value="1">Đã đọc</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary radius" onclick="Search(arguments[0] || event);">
                <i class="ace-icon glyphicon glyphicon-search bigger-110"></i>
                <span class="bigger-110 no-text-shadow">Tìm kiếm</span>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</div>

<div id="ShowContact" class="modal fade" data-url="@Url.Action("ShowContact","AdminContact")" role="dialog"></div>

@section scripts{
    <script src="~/admin/app/Contact.js"></script>

    <script type="text/javascript">
        function ShowContact(id) {
            var url = $("#ShowContact").data('url') + "/" + id;
            $.get(url, function (data) {
                $("#ShowContact").html(data);
                $("#ShowContact").modal('show');
            });
        }
    </script>

    <script>
        $(function () {
            $("#createTime").datepicker({
                dateFormat: "dd-MM-yyyy",
            });
        });
    </script>
}


