﻿@model SoftNetCore.Model.Catalog.ContactModel
@{
    Layout = null;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Xem liên hệ</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Họ và tên:</label>
                        <input type="text" class="form-control" asp-for="FullName">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Điện thoại:</label>
                        <input type="text" class="form-control" asp-for="Mobi">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" asp-for="Email">
            </div>
            <div class="form-group">
                <label>Nội dung:</label>
                <textarea type="text" name="Content" asp-for="Content" class="form-control" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label>Ngày gửi:</label>
                <input type="date" class="form-control" id="createTime" asp-for="CreateTime" asp-format="{0:dd-MM-yyyy}" value="@(Model.CreateTime != null? Model.CreateTime.Value.ToString("yyyy-MM-dd"):null)">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
