﻿@using SoftNetCore.Model.Catalog;
@model AboutModel

<footer class="main">
    <section class="featured section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6 mb-md-4 mb-xl-0">
                    <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay="0">
                        <div class="banner-icon">
                            <img src="~/assets/imgs/theme/icons/icon-1.svg" alt="" />
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Giá và ưu đãi tốt</h3>
                            <p>Mua càng nhiều giá càng rẻ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                        <div class="banner-icon">
                            <img src="~/assets/imgs/theme/icons/icon-6.svg" alt="" />
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Giao hàng</h3>
                            <p>Đối với đơn hàng trên 500k</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                        <div class="banner-icon">
                            <img src="~/assets/imgs/theme/icons/icon-3.svg" alt="" />
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Ưu đãi hàng ngày</h3>
                            <p>Nhiều chương trình giảm giá diễn ra</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                        <div class="banner-icon">
                            <img src="~/assets/imgs/theme/icons/icon-4.svg" alt="" />
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Đa dạng</h3>
                            <p>Có nhiều sự lựa chọn cho bạn</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                    <div class="banner-left-icon d-flex align-items-center wow animate__animated animate__fadeInUp" data-wow-delay=".5s">
                        <div class="banner-icon">
                            <img src="~/assets/imgs/theme/icons/icon-2.svg" alt="" />
                        </div>
                        <div class="banner-text">
                            <h3 class="icon-box-title">Giá cả cạnh tranh</h3>
                            <p>Khách hàng tiếp cận giá tốt nhất!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                        <div class="logo mb-10">
                            <h5 class="widget-title">@Model.Title</h5>
                            <p class="font-sm text-heading">@Model.Description</p>
                        </div>
                        <ul class="contact-infor">
                            <li><img src="~/assets/imgs/theme/icons/icon-location.svg" alt="location" /><strong>Địa chỉ: </strong> <span>@Model.Address</span></li>
                            <li><img src="~/assets/imgs/theme/icons/icon-contact.svg" alt="contact" /><strong>Điện thoại: </strong><span>@Model.Phone</span></li>
                            <li><img src="~/assets/imgs/theme/icons/icon-email-2.svg" alt="email" /><strong>Email: </strong><span><a href="#" class="__cf_email__">@Model.Email</a></span></li>
                            <li><img src="~/assets/imgs/theme/icons/icon-clock.svg" alt="clock" /><strong>Thời gian: </strong><span>24/7, Thứ Hai - Chủ Nhật</span></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                    <h5 class="widget-title uppercase">Thông tin</h5>
                    <ul class="footer-list mb-sm-5 mb-md-0">
                        <li><a href="/gioi-thieu">Giới thiệu</a></li>
                        <li><a href="/lien-he">Liên hệ cộng tác bán hàng</a></li>
                        <li><a href="/lien-he">Liên hệ hợp tác kinh doanh</a></li>
                        <li><a href="/lien-he">Liên hệ hỗ trợ</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Gửi góp ý, khiếu nại</a></li>
                    </ul>
                </div>
                <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                    <h5 class="widget-title uppercase">Tài khoản</h5>
                    <ul class="footer-list mb-sm-5 mb-md-0">
                        <li><a href="/dang-nhap">Đăng nhập</a></li>
                        <li><a href="/gio-hang">Giỏ hàng</a></li>
                        <li><a href="/yeu-thich">Sản phẩm yêu thích</a></li>
                        <li><a href="/tai-khoan">Lịch sử mua hàng</a></li>
                        <li><a href="#">Xem gần đây</a></li>
                        <li><a href="#">So sánh sản phẩm</a></li>
                    </ul>
                </div>
                <div class="footer-link-widget col wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                    <h5 class="widget-title uppercase">Chính sách</h5>
                    <ul class="footer-list mb-sm-5 mb-md-0">
                        <li><a href="/dieu-khoan-su-dung">Điều khoản sử dụng</a></li>
                        <li><a href="/huong-dan-thanh-toan">Hướng dẫn mua online</a></li>
                        <li><a href="/chinh-sach-giao-hang">Chính sách giao hàng</a></li>
                        <li><a href="/chinh-sach-khuyen-mai">Chính sách khuyến mãi</a></li>
                        <li><a href="/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                        <li><a href="#">Giải quyết khiếu nại</a></li>
                    </ul>
                </div>
                <div class="footer-link-widget widget-install-app col wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                    <h5 class="widget-title uppercase">Đăng ký theo dõi</h5>
                    <div class="newsletter-content">
                        <div class="form-subcriber d-flex">
                            <input type="email" placeholder="Email..." />
                            <button class="btn" type="submit">Theo dõi</button>
                        </div>
                    </div>
                    <div class="download-app mt-15">
                        <a href="#" class="hover-up mb-sm-2 mb-lg-0"><img class="active" src="~/assets/imgs/theme/app-store.jpg" alt="" /></a>
                        <a href="#" class="hover-up mb-sm-2"><img src="~/assets/imgs/theme/google-play.jpg" alt="" /></a>
                    </div>
                    <p class="mb-5">LIÊN KẾT CÙNG HỆ THỐNG</p>
                    <div class="download-app link-app resize-logo">
                        <a href="https://vnsogroup.com" target="_blank" class="hover-up mb-sm-2 mb-lg-0"><img class="active" src="~/Files/icon/vnsogroup.png" alt="" /></a>
                        <a href="https://vnsosoft.com" target="_blank" class="hover-up mb-sm-2"><img src="~/Files/icon/vnsosoft.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-10 wow animate__animated animate__fadeInUp" data-wow-delay="0">
        <div class="row align-items-center">
            <div class="col-12 mb-30">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <p class="font-sm mb-10">&copy; 2022, <strong class="text-brand">VNSOSHOP</strong> - Thương mại điện tử. All rights reserved</p>
                <img class="" src="~/assets/imgs/theme/payment-method.png" alt="thanh toán" />
            </div>
            <div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
                <div class="hotline d-lg-inline-flex mr-30">
                    <img src="~/assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
                    <p>@Model.Phone<span>Điện thoại</span></p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
                <div class="mobile-social-icon">
                    <h6>Follow</h6>
                    <a href="@Model.Facebook" target="_blank"><img src="~/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                    <a href="@Model.Twitter" target="_blank"><img src="~/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                    <a href="@Model.Instagram" target="_blank"><img src="~/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                    <a href="@Model.Pinterest" target="_blank"><img src="~/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                    <a href="@Model.Youtube" target="_blank"><img src="~/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                </div>
                <p class="font-sm">Theo dõi các chương trình khuyến mãi</p>
            </div>
        </div>
    </div>
</footer>

