﻿<div class="sidebar-widget widget-tags mb-50 pb-10">
    <h5 class="section-title style-1 mb-30">Tags</h5>
    <ul class="tags-list">
        <li class="hover-up">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Thực phẩm chức năng</a>
        </li>
        <li class="hover-up">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Làm đẹp</a>
        </li>
        <li class="hover-up">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Mỹ phẩm</a>
        </li>
        <li class="hover-up">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Giảm cân</a>
        </li>
        <li class="hover-up mr-0">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Thời trang</a>
        </li>
        <li class="hover-up mr-0">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Quần áo</a>
        </li>
        <li class="hover-up mr-0">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Giày dép</a>
        </li>
        <li class="hover-up mr-0">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Đồng hồ</a>
        </li>
        <li class="hover-up mr-0">
            <a href="/san-pham"><i class="fi-rs-cross mr-10"></i>Cà phê</a>
        </li>
    </ul>
</div>
<!--single aside end-->
@*<script type="text/javascript">
    function GoSearch() {
        var key = $("#strSearch").val();
        if (key !== "" && key !== "undefined") {
            //
            newurl = window.location.protocol + "//" + window.location.host + "/tim-kiem/" + key;
            window.location = newurl;
        }
    }</script>*@