﻿@using SoftNetCore.Model.Catalog;
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Trang chủ</title>
    <meta itemprop='name' content='VNSO SHOP | Trang chủ' />
    <meta property='og:title' content='VNSO SHOP | Trang chủ' />
    <meta name='twitter:title' content='VNSO SHOP | Trang chủ' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main">
    @*@await (Component.InvokeAsync("Slider"))*@

    @await (Component.InvokeAsync("HomeBanner"))

    @await (Component.InvokeAsync("HomeCategory"))

    @await (Component.InvokeAsync("HomeProduct"))

    @await (Component.InvokeAsync("ProductHot"))

    @await (Component.InvokeAsync("HomePromotion"))

    @await (Component.InvokeAsync("ProductTop"))

    @await (Component.InvokeAsync("Partner"))

    @await (Component.InvokeAsync("PromotionNew"))
</main>
