﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Request;
@using System.Threading.Tasks;
@using SoftNetCore.Model.Catalog;
@model ForgotPasswordRequest
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Quên mật khẩu</title>
    <meta itemprop='name' content='VNSO SHOP | Quên mật khẩu' />
    <meta property='og:title' content='VNSO SHOP | Quên mật khẩu' />
    <meta name='twitter:title' content='VNSO SHOP | Quên mật khẩu' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='.' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Quên mật khẩu
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12 m-auto">
                    <div class="login_wrap widget-taber-content background-white">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <img class="border-radius-15" src="~/assets/imgs/page/forgot_password.svg" alt="">
                                <h2 class="mb-15 mt-15 text-uppercase">Quên mật khẩu?</h2>
                                <p class="mb-30">Đừng lo lắng, chúng tôi đã có bạn! Hãy lấy cho bạn một mật khẩu mới. Vui lòng nhập tên người dùng của bạn.</p>
                            </div>
                            <form method="post" id="frmForget" action="#">
                                <div class="form-group">
                                    <input type="text" id="txtEmail" name="email" placeholder="Email">
                                </div>
                                @*<div class="login_footer form-group">
                                        <div class="chek-form">
                                            <input type="text" required="" name="email" placeholder="Security code *">
                                        </div>
                                        <span class="security-code">
                                            <b class="text-new">8</b>
                                            <b class="text-hot">6</b>
                                            <b class="text-sale">7</b>
                                            <b class="text-best">5</b>
                                        </span>
                                    </div>*@
                                @*<div class="login_footer form-group mb-50">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                <label class="form-check-label" for="exampleCheckbox1"><span>I agree to terms & Policy.</span></label>
                                            </div>
                                        </div>
                                        <a class="text-muted" href="#">Learn more</a>
                                    </div>*@
                                <div class="form-group">
                                    <button type="button" id="btnForget" class="btn btn-heading btn-block hover-up">Gửi lại mật khẩu</button>
                                </div>
                                <p id="registerForget" style="color:red"></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/portal/function/form-forget.js"></script>
    <script>
        $('#btnForget').click(function () {
            if (!ValidateFrmForget())
                return;
            var _data = {
                Email: $('#txtEmail').val()
            }
            $.ajax({
                type: 'POST',
                data: _data,
                url: '/Customer/PostForgetPassword',
                success: function (data) {
                    if (data.Status) {
                        $('#registerForget').text(data.Message);
                        $('#frmForget')[0].reset();
                    }
                    else {
                        $('#registerForget').text(data.Message);
                    }
                }
            })
        });

    </script>
}