﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Request;
@using System.Threading.Tasks;
@using SoftNetCore.Model.Catalog;
@model AuthenticateRequest
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Đăng nhập</title>
    <meta itemprop='name' content='VNSO SHOP | Đăng nhập' />
    <meta property='og:title' content='VNSO SHOP | Đăng nhập' />
    <meta name='twitter:title' content='VNSO SHOP | Đăng nhập' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='.' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Đăng nhập
            </div>
        </div>
    </div>

    <div class="page-content pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">

                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h2 class="mb-5 text-uppercase">Đăng nhập</h2>
                                        <p class="mb-30">Bạn chưa có tài khoản? <a href="/dang-ky">Tạo tài khoản</a></p>
                                    </div>
                                    <form method="post">
                                        <div class="form-group">
                                            <input type="text" name="txtUsername" asp-for="Username" id="txtUsername" placeholder="Tài khoản">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" asp-for="Password" id="txtPassword" placeholder="Mật khẩu">
                                        </div>
                                        @*<div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <input type="text" required="" name="email" placeholder="Mã bảo vệ *" />
                                                </div>
                                                <span class="security-code">
                                                    <b class="text-new">8</b>
                                                    <b class="text-hot">6</b>
                                                    <b class="text-sale">7</b>
                                                    <b class="text-best">5</b>
                                                </span>
                                            </div>*@
                                        <div class="login_footer form-group mb-30">
                                            <div class="chek-form">
                                                <div class="custome-checkbox">
                                                    <input class="form-check-input" type="checkbox" name="checkbox" id="rememberMe" value="">
                                                    <label class="form-check-label" for="rememberMe"><span>Nhớ mật khẩu</span></label>
                                                </div>
                                            </div>
                                            <a class="text-muted" href="/quen-mat-khau">Quên mật khẩu?</a>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                <button type="button" class="submit btn btn-heading btn-block hover-up" id="btnLogin">Đăng nhập</button>
                                            </div>
                                            <p id="loginError" style="color:red"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pr-30">
                            <div class="card-login mt-10">
                                <a href="#" class="social-login facebook-login">
                                    <img src="~/assets/imgs/theme/icons/logo-facebook.svg" alt="" />
                                    <span>Continue with Facebook</span>
                                </a>
                                <a href="#" class="social-login google-login">
                                    <img src="~/assets/imgs/theme/icons/logo-google.svg" alt="" />
                                    <span>Continue with Google</span>
                                </a>
                                <a href="#" class="social-login apple-login">
                                    <img src="~/assets/imgs/theme/icons/logo-apple.svg" alt="" />
                                    <span>Continue with Apple</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Account Area End -->
@section scripts {
    <script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/portal/function/form-login.js"></script>
    <script>
        $('#btnLogin').click(function () {
            if (!ValidateFrmLogin())
                return;
            var _data = {
                Username: $('#txtUsername').val(),
                Password: $('#txtPassword').val(),
                RememberMe: $('#rememberMe').is(":checked")
            }
            $.ajax({
                type: 'POST',
                data: _data,
                url: '/Customer/PostLogin',
                success: function (data) {
                    if (data.Status) {
                        window.location.href = "/";
                    }
                    else {
                        $('#loginError').text(data.Message);
                    }
                }
            })
        });

    </script>
}