﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model CustomerModel
@{
    var wishlist = ViewBag.Wishlist as List<ProductWishlistModel>;
    var orders = ViewBag.Orders as List<OrderModel>;
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Tài khoản</title>
    <meta itemprop='name' content='VNSO SHOP | Tài khoản' />
    <meta property='og:title' content='VNSO SHOP | Tài khoản' />
    <meta name='twitter:title' content='VNSO SHOP | Tài khoản' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Tài khoản của tôi
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-settings-sliders mr-10 text-uppercase"></i>Hồ cơ của tôi</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10 text-uppercase"></i>Đổi mật khẩu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10 text-uppercase"></i>Đơn hàng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="wishlist-tab" data-bs-toggle="tab" href="#wishlist" role="tab" aria-controls="wishlist" aria-selected="false"><i class="fi-rs-heart mr-10 text-uppercase"></i>Yêu thích</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-route="logout"><i class="fi-rs-sign-out mr-10 text-uppercase"></i>Đăng xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content account dashboard-content pl-50">
                                <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0 text-uppercase">Hồ sơ của tôi</h3>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" id="frmUpdateCustomer" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="PostChange" asp-controller="Customer">
                                                <div class="row">
                                                    <input type="hidden" asp-for="Id" id="Id" name="Id">
                                                    <input type="hidden" asp-for="AccountId" id="AccountId" name="AccountId">
                                                    @*<div class="form-group col-md-12">
                                                            <label>Tên đăng nhập <span class="required">*</span></label>
                                                            <input asp-for="UserName" class="form-control" name="name" type="text" readonly />
                                                        </div>*@
                                                    <div class="form-group col-md-12">
                                                        <label>Họ Tên <span class="required">*</span></label>
                                                        <input type="text" asp-for="FullName" id="FullName" name="FullName" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Số điện thoại <span class="required">*</span></label>
                                                        <input type="text" asp-for="Phone" id="Phone" name="Phone" class="form-control" />
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label>Email <span class="required">*</span></label>
                                                        <input type="email" asp-for="Email" id="Email" name="Email" placeholder="Email" class="form-control" />
                                                    </div>
                                                    <div class="row shipping_calculator">
                                                        <div class="form-group col-lg-12">
                                                            <label>Tỉnh/thành... <span class="required">*</span></label>
                                                            <div class="custom_select">
                                                                <select class="form-control select-active" asp-for="ProvinceId" asp-items="ViewBag.ProvinceID">
                                                                    <option disabled selected>--- Chọn tỉnh, thành phố ---</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12">
                                                            <label>Địa chỉ cụ thể <span class="required">*</span></label>
                                                            <input type="text" asp-for="Address" id="Address" name="Address" placeholder="Địa chỉ cụ thể *">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <a onclick="ValidateFrmUpdateCustomer();" class="btn btn-fill-out submit font-weight-bold">Cập nhật thông tin</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0 text-uppercase">Đổi mật khẩu</h3>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" method="post" id="frmUpdateAccount" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="ChangePass" asp-controller="Customer">
                                                        <input type="hidden" asp-for="AccountId" id="AccountId" name="AccountId">
                                                        <div class="input-style mb-20">
                                                            <label>Mật khẩu hiện tại</label>
                                                            <input type="password" asp-for="Password" id="Password" name="Password" />
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Mật khẩu mới</label>
                                                            <input type="password" asp-for="NewPassword" id="NewPassword" name="NewPassword" />
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Xác nhận mật khẩu</label>
                                                            <input type="password" asp-for="RePassword" id="RePassword" name="RePassword" />
                                                        </div>
                                                        <a onclick="ValidateFrmUpdateAccount();" class="btn btn-fill-out submit font-weight-bold">Xác nhận</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0 text-uppercase">Đơn hàng</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã đơn hàng</th>
                                                            <th>Tổng tiền</th>
                                                            <th>Ngày giao dịch</th>
                                                            <th>Trạng thái</th>
                                                            <th>Thao tác</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (orders != null)
                                                        {
                                                            foreach (var item in orders)
                                                            {
                                                                <tr>
                                                                    <td>#@item.Code</td>
                                                                    <td>@String.Format("{0:0,0đ}", item.TotalPrice)</td>
                                                                    <td>@item.CreateTime?.ToString("dd/MM/yyyy")</td>
                                                                    <td>@item.OrderStatus?.Title</td>
                                                                    <td>
                                                                        <a onclick="viewData(@item.Id)" class="btn-small d-block">Xem chi tiết</a>
                                                                        @if (item.OrderStatusId == 1)
                                                                        {
                                                                            <button onclick="cancelOrder(@item.Id)" class="btn btn-sm">Hủy đơn</button>
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0 text-uppercase">Yêu thích</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive shopping-summery">
                                                @if (wishlist != null && wishlist.Count > 0)
                                                {
                                                    <table class="table table-wishlist">
                                                        <thead>
                                                            <tr class="main-heading">
                                                                <th scope="col" colspan="1"> Sản phẩm</th>
                                                                <th scope="col">Giá</th>
                                                                @*<th scope="col">Stock Status</th>*@
                                                                <th scope="col">Thao tác</th>
                                                                <th scope="col" class="end">Xóa</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in wishlist)
                                                            {
                                                                <tr class="pt-30">
                                                                    <td class="product-des product-name">
                                                                        <h6><a class="product-name mb-10" href="/chi-tiet-san-pham-@item.Product.Title-@item.ProductId">@item.Product.Title.Peel(54)</a></h6>
                                                                        <div class="product-rate-cover">
                                                                            <div class="product-rate d-inline-block">
                                                                                <div class="product-rating" style="width: 90%"></div>
                                                                            </div>
                                                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                                                        </div>
                                                                    </td>
                                                                    <td class="price" data-title="Price">
                                                                        <h3 class="text-brand">@String.Format("{0:0,0đ}", (item.Product.CommissionValue == 0 ? item.Product.Price : item.Product.Price * item.Product.CommissionValue / 100))</h3>
                                                                    </td>
                                                                    @*<td class="text-center detail-info" data-title="Stock">
                                                                            <span class="stock-status in-stock mb-0"> In Stock </span>
                                                                        </td>*@
                                                                    @if (string.IsNullOrEmpty(item.Product.Aff_link))
                                                                    {
                                                                        <td class="text-right add-cart"
                                                                            data-quantity="1" data-id="@item.Product.Id" data-producimage="@item.Product.Thumb" data-producname="@item.Product.Title" data-producprice="@(item.Product.CommissionValue == 0 ? item.Product.Price : item.Product.Price * item.Product.CommissionValue/100)"
                                                                            data-title="Cart">
                                                                            <button class="btn btn-sm">Thêm vào giỏ</button>
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td class="text-right"
                                                                            data-title="Cart">
                                                                            <button class="btn btn-sm" onclick="window.open('@item.Product.Aff_link')" formtarget="_blank">Mua hàng</button>
                                                                        </td>
                                                                    }
                                                                    <td class="action text-center remove-wishList" data-customerId="@item.CustomerId" data-productid="@item.ProductId" data-title="Xóa">
                                                                        <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div id="partialDiv">

</div>
<div id="partialRating">

</div>
<div id="partialCancelOrder">

</div>

@section scripts {
    <script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/portal/function/updatecustomer.js"></script>
    <script type="text/javascript" src="~/portal/function/updateaccount.js"></script>
    <script>
        $(".remove-wishList").on("click", function () {
            var customerId = $(this).data("customerid");
            var productId = $(this).data("productid");
            $(this).parent().remove();
            $('.total-item-WishList').text(parseFloat($('.totalWishList').text()) - 1);
            removeWishlist(customerId, productId);
        });

        function removeWishlist(customerId, productId) {
            $.ajax({
                type: 'GET',
                url: '/Customer/RemoveWishlist?customerId=' + customerId + '&productId=' + productId,
                success: function (data) {
                    if (data.status) {
                        alert('Đã xóa ra khỏi danh sách yêu thích!')
                        getQutityWishlist();
                    }
                    else {
                        alert('Có lỗi đã xảy ra!')
                    }
                }
            })
        }

    </script>
    <script type="text/javascript">
        //$(function () {
        //    LoadDistrictByProvince();
        //});

        $("#ProvinceId").change(function () {
            var provinceId = $("#ProvinceId").val();
            if (provinceId != '') {
                $.ajax({
                    type: 'GET',
                    url: '/Customer/LoadDataDrop',
                    async: true,
                    dataType: 'JSON',
                    data: { id: provinceId },
                    success: function (data) {
                        $("#DistrictId").empty();
                        //$(".list").empty();
                        $.each(data.DistrictDrop, function (key, item) {
                            $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#DistrictId'));
                            //$("<li class='option' data-value=" + item.Value + ">" + item.Text + " </li>").appendTo($('.list'));
                        });
                    }
                })
                    .fail(
                        function (jqXHR, textStatus, err) {

                        });
            }
        });

        //function LoadDistrictByProvince() {
        //    var provinceId = $("#ProvinceId").val();
        //    if (provinceId != '') {
        //        $.ajax({
        //            type: 'GET',
        //            url: '/Checkout/LoadDataDrop',
        //            async: true,
        //            dataType: 'JSON',
        //            data: { id: provinceId },
        //            success: function (data) {
        //                $("#DistrictId").empty();
        //                $.each(data.DistrictDrop, function (key, item) {
        //                    $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#DistrictId'));
        //                });
        //            }
        //        })
        //            .fail(
        //                function (jqXHR, textStatus, err) {

        //                });
        //    }
        //}

    </script>
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('.quick-view-button').click(function () {
        //        var _this = $(this);
        //        var slug = _this.attr("data-slug");
        //        $.ajax({
        //            url: '/Customer/OrderDetail',
        //            data: { id: id },
        //            success: function (data) {
        //                $("#order_quick_view_modal").html("");
        //                $("#order_quick_view_modal").html(data);
        //                $('#order_quick_view_modal').modal('show');
        //            },
        //            error: function (err) {
        //                console.log('error', err);
        //            }
        //        })
        //    })
        //});

        function viewData(id) {
            //check login
            if (id != '') {
                $.ajax({
                    url: '/Customer/OrderDetail',
                    data: { id: id },
                    //async: true,
                    //type: 'GET',
                    //dataType: 'JSON',
                    success: function (data) {
                        $("#partialDiv").html("");
                        $("#partialDiv").html(data);
                        $("#order_quick_view_modal").modal("show")
                    }
                });
            }
        }

        function ratingOrder(id) {
            //check login
            if (id != '') {
                $.ajax({
                    url: '/Order/EvaluationRating',
                    data: { id: id },
                    //async: true,
                    //type: 'GET',
                    //dataType: 'JSON',
                    success: function (data) {
                        $("#partialRating").html("");
                        $("#partialRating").html(data);
                        $("#rating_view_modal").modal("show")
                    }
                });
            }
        }

        function cancelOrder(id) {
            //check login
            if (id != '') {
                $.ajax({
                    url: '/Order/CancelOrder',
                    data: { id: id },
                    //async: true,
                    //type: 'GET',
                    //dataType: 'JSON',
                    success: function (data) {
                        $("#partialCancelOrder").html("");
                        $("#partialCancelOrder").html(data);
                        $("#cancel_order_modal").modal("show")
                    }
                });
            }
        }
    </script>
}