﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model CustomerModel
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
    {
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Đăng ký</title>
    <meta itemprop='name' content='VNSO SHOP | Đăng ký' />
    <meta property='og:title' content='VNSO SHOP | Đăng ký' />
    <meta name='twitter:title' content='VNSO SHOP | Đăng ký' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Đăng ký
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    <div class="heading_s1">
                                        <h1 class="mb-5">Đăng ký tài khoản</h1>
                                        <p class="mb-30">Bạn đã có tài khoản? <a href="/dang-nhap">Đăng nhập</a></p>
                                    </div>
                                    <form method="post" action="#" id="frmRegister">
                                        <div class="form-group">
                                            <input type="text" name="FullName" id="txtFullName" placeholder="Họ và tên">
                                        </div>
                                        <div class="form-group">
                                            <input type="number" name="Phone" id="txtPhone" placeholder="Số điện thoại">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="username" id="txtUserName" placeholder="Tài khoản">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="email" id="txtEmail" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="txtPassword" placeholder="Mật khẩu">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="RePassword" id="txtRePassword" placeholder="Nhập lại mật khẩu">
                                        </div>
                                        @*<div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <input type="text" required="" name="email" placeholder="Security code *">
                                                </div>
                                                <span class="security-code">
                                                    <b class="text-new">8</b>
                                                    <b class="text-hot">6</b>
                                                    <b class="text-sale">7</b>
                                                    <b class="text-best">5</b>
                                                </span>
                                            </div>*@
                                        @*<div class="payment_option mb-50">
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios3" checked="">
                                                    <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">I am a customer</label>
                                                </div>
                                                <div class="custome-radio">
                                                    <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios4" checked="">
                                                    <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">I am a vendor</label>
                                                </div>
                                            </div>*@
                                        @*<div class="login_footer form-group mb-50">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox12" value="">
                                                        <label class="form-check-label" for="exampleCheckbox12"><span>I agree to terms &amp; Policy.</span></label>
                                                    </div>
                                                </div>
                                                <a href="page-privacy-policy.html"><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean more</a>
                                            </div>*@
                                        <div class="form-group mb-30">
                                            <button id="btnRegister" type="button" class="submit btn btn-fill-out btn-block hover-up font-weight-bold">Đăng ký</button>
                                        </div>
                                        <p id="registerError" style="color:red"></p>
                                        @*<p class="font-xs text-muted"><strong>Note:</strong>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy</p>*@
                                    </form>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-6 pr-30 d-none d-lg-block">
                                <div class="card-login mt-115">
                                    <a href="#" class="social-login facebook-login">
                                        <img src="~/assets/imgs/theme/icons/logo-facebook.svg" alt="">
                                        <span>Continue with Facebook</span>
                                    </a>
                                    <a href="#" class="social-login google-login">
                                        <img src="~/assets/imgs/theme/icons/logo-google.svg" alt="">
                                        <span>Continue with Google</span>
                                    </a>
                                    <a href="#" class="social-login apple-login">
                                        <img src="~/assets/imgs/theme/icons/logo-apple.svg" alt="">
                                        <span>Continue with Apple</span>
                                    </a>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section scripts {
    <script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/portal/function/form-resister.js"></script>
    <script>
        $('#btnRegister').click(function () {
            if (!ValidateFrmRegister())
                return;
            var _data = {
                FullName: $('#txtFullName').val(),
                Email: $('#txtEmail').val(),
                UserName: $('#txtUserName').val(),
                Phone: $('#txtPhone').val(),
                Password: $('#txtPassword').val(),
                RePassword : $('#txtRePassword').val()
            }
            $.ajax({
                type: 'POST',
                data: _data,
                url: '/Customer/PostRegister',
                success: function (data) {
                    if (data.Status) {
                        $('#registerError').text(data.Message);
                        $('#frmRegister')[0].reset();
                    }
                    else {
                        $('#registerError').text(data.Message);
                    }
                }
            })
        });

    </script>
}