﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model List<ProductWishlistModel>
@{
    var info = ViewBag.Info as AboutModel;
}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Danh sách yêu thích
            </div>
        </div>
    </div>
    <div class="container mb-30 mt-50">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <div class="mb-50">
                    <h1 class="heading-2 mb-10">Danh sách yêu thích</h1>
                    <h6 class="text-body">Có <span class="text-brand total-item-WishList">@Model.Count()</span> sản phẩm trong danh sách yêu thích</h6>
                </div>
                <div class="table-responsive shopping-summery">
                    @if (Model != null && Model.Count > 0)
                    {
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2"> Sản phẩm</th>
                                    <th scope="col">Giá</th>
                                    @*<th scope="col">Stock Status</th>*@
                                    <th scope="col">Thao tác</th>
                                    <th scope="col" class="end">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="pt-20">
                                        <td class="image product-thumbnail pt-20"><img src="@item.Product.Thumb" alt="@item.Product.Title"></td>
                                        <td class="product-des product-name">
                                            <h6><a class="product-name mb-10" href="/chi-tiet-san-pham-@item.Product.Title-@item.ProductId">@item.Product.Title.Peel(54)</a></h6>
                                            <div class="product-rate-cover">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                                            </div>
                                        </td>
                                        <td class="price" data-title="Price">
                                            <h6 class="text-brand">@String.Format("{0:0,0đ}", (item.Product.CommissionValue.ToDecimal() == 0 ? item.Product.Price : item.Product.Price * item.Product.CommissionValue.ToDecimal() / 100))</h6>
                                        </td>
                                        @*<td class="text-center detail-info" data-title="Stock">
                                                <span class="stock-status in-stock mb-0"> In Stock </span>
                                            </td>*@
                                        @if (string.IsNullOrEmpty(item.Product.Aff_link))
                                        {
                                            <td class="text-right add-cart"
                                                data-quantity="1" data-id="@item.Product.Id" data-producimage="@item.Product.Thumb" data-producname="@item.Product.Title" data-producprice="@(item.Product.CommissionValue == 0 ? item.Product.Price : item.Product.Price * item.Product.CommissionValue/100)"
                                                data-title="Cart">
                                                <button class="btn btn-sm">Thêm vào giỏ</button>
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-right"
                                                data-title="Cart">
                                                <button class="btn btn-sm" onclick="window.open('@item.Product.Aff_link')" formtarget="_blank">Mua hàng</button>
                                            </td>
                                        }
                                        <td class="action text-center remove-wishList" data-customerId="@item.CustomerId" data-productid="@item.ProductId" data-title="Xóa">
                                            <a href="#" class="text-body"><i class="fi-rs-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>

        $(".remove-wishList").on("click", function () {
            var customerId = $(this).data("customerid");
            var productId = $(this).data("productid");
            $(this).parent().remove();
            $('.total-item-WishList').text(parseFloat($('.totalWishList').text()) - 1);
            removeWishlist(customerId, productId);
        });

        function removeWishlist(customerId, productId) {
            $.ajax({
                type: 'GET',
                url: '/Customer/RemoveWishlist?customerId=' + customerId + '&productId=' + productId,
                success: function (data) {
                    if (data.status) {
                        alert('Đã xóa ra khỏi danh sách yêu thích!')
                        getQutityWishlist();
                    }
                    else {
                        alert('Có lỗi đã xảy ra!')
                    }
                }
            })
        }

    </script>
}