﻿@model SoftNetCore.Model.Catalog.ConfigSystemModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Hệ thống</a>
            </li>
            <li class="active">Cấu hình</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Cấu hình</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="SubmitFormByID('frmConfigSystem',false);">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu thông tin</span>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmConfigSystem" class="form-horizontal" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Update" asp-controller="AdminConfigSystem">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Thông tin chi tiết
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" asp-for="Id" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="CreateTime" class="col-xs-12 col-sm-12" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="col-sm-3 control-label no-padding-right">Mã giảm giá</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Số trang</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="CouponPage" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Giới hạn</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="CouponLimit" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="col-sm-3 control-label no-padding-right">Sản phẩm (DIMUADI)</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Số trang</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="DIMUADIProductPage" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Giới hạn</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="DIMUADIProductLimit" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="col-sm-3 control-label no-padding-right">Sản phẩm (ACCESSTRADE)</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Số trang</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="ACCESSTRADEProductPage" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Giới hạn</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="ACCESSTRADEProductLimit" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="col-sm-3 control-label no-padding-right">HOT DEAL</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Số trang</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="HotDealPage" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Giới hạn</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="HotDealLimit" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="col-sm-3 control-label no-padding-right">Sản phẩm (HOT DEAL)</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Số trang</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="HotDealProductPage" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Giới hạn</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="HotDealProductLimit" class="col-xs-12 col-sm-12" placeholder="Số lượng" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h4 class="col-sm-3 control-label no-padding-right">Thời gian</h4>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right"></label>
                                            <div class="col-sm-2">
                                                <div class="input-group row">
                                                    <label class="control-label no-padding-right" for="form-field-2">Bắt đầu</label>
                                                    <input type="time" asp-for="TimeStart" class="col-xs-12 col-sm-12" placeholder="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div class="input-group">
                                                    <label class="control-label no-padding-right" for="form-field-2">Kết thúc</label>
                                                    <input type="time" asp-for="TimeEnd" class="form-control col-xs-12 col-sm-12" placeholder="" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="control-label no-padding-right" style="margin-top:40px" for="form-field-2"></label>
                                                <span class="help-inline">
                                                    <label class="middle">
                                                        <input type="checkbox" asp-for="IsActive" class="ace" />
                                                        <span class="lbl">Kích hoạt</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="form-horizontal" role="form">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" onclick="SubmitFormByID('frmConfigSystem',false);">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Kiểm tra và lưu
                            </button>
                            <a class="btn" href="@Url.Action("Index", "AdminConfigSystem")">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
