﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model List<ProductCategoryModel>

@if (Model != null && Model.Count() > 0)
{
    <ul>
        @foreach (var item in Model)
        {
        <li>
            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">
                @item.Title
            </a>
            @await (Component.InvokeAsync("MenuSidebarSubChild", new { parentId = item.Id }))
        </li>
        }
     </ul>
}