﻿@using SoftNetCore.Common.Helpers
@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Extensions;
@model IList<ProductAndTotalCategoryModel>
<div class="sidebar-widget widget-category-2 mb-30">
    <h5 class="section-title style-1 mb-30">Danh mục</h5>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/san-pham-@item.ProductCategoryModel.Title.ToUrlFormat()-@item.ProductCategoryModel.Id">
                        @if (string.IsNullOrEmpty(item.ProductCategoryModel.Logo))
                        {
                            <img src="~/assets/imgs/theme/icons/noimage.png" width="30" alt="@item.ProductCategoryModel.Title"> @item.ProductCategoryModel.Title.Peel(20)
                        }
                        else
                        {
                            <img src="@item.ProductCategoryModel.Logo" width="30" alt="@item.ProductCategoryModel.Title"> @item.ProductCategoryModel.Title.Peel(20)
                        }
                    </a>
                    <span class="count">@item.Total</span>
                </li>
            }
        </ul>
    }

</div>