﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Request;
@using SoftNetCore.Common.Helpers;
@model StatusOrderRequest;

<div class="modal modal-custom fade" role="dialog" id="cancel_order_modal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title">Hủy đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <form method="post" id="frmCancelOrder" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="PostCancelOrder" asp-controller="Order" class="login-side">
                            <input type="hidden" asp-for="OrderId" name="OrderId">
                            <div class="input-box">
                                <label class="control-label">Lý do*</label>
                                <textarea asp-for="Remark" id="Content" name="Remark" placeholder="Nhập lý do" maxlength="150" class="info"></textarea>
                            </div>
                        </form>
                        <div class="">
                            <div class="input-box tci-box">
                                <a href="#" class="btn-def btn2" onclick="ValidateFrmCancelOrder();">Xác nhận</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/portal/function/form-cancelorder.js"></script>