﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model ProductViewModel
@{
    var titleCat = (string)ViewBag.TitleCat;
    var info = ViewBag.info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | @Html.Raw(Model.Title)</title>
    <meta itemprop='name' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta property='og:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(Model.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> <a href="/san-pham">Danh mục</a> <span></span> @titleCat
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row">
            <div class="col-xl-11 col-lg-12 m-auto">
                <div class="row flex-row-reverse">
                    <div class="col-xl-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50 mt-30">
                                <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                    @if (Model != null)
                                    {
                                        <div class="detail-gallery">
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            @if (Model.ImageList.Count() > 0)
                                            {<!-- MAIN SLIDES -->
                                                <div class="product-image-slider">
                                                    <figure class="border-radius-10">
                                                        <img src="@(Model.Avatar??Model.Thumb)" alt="@Model.Title">
                                                    </figure>
                                                    @foreach (var image in Model.ImageList)
                                                    {
                                                        <figure class="border-radius-10">
                                                            <img src="@image" alt="@Model.Title">
                                                        </figure>
                                                    }
                                                </div>

                                                <div class="slider-nav-thumbnails">
                                                    <div><img src="@(Model.Avatar??Model.Thumb)" alt="@Model.Title"></div>
                                                    @foreach (var image in Model.ImageList)
                                                    {
                                                        <div><img src="@image" alt="@Model.Title"></div>
                                                    }
                                                </div>
                                                <!-- THUMBNAILS -->
                                            }
                                            else
                                            { <div class="detail-gallery">
                                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                                    <div class="product-image-slider">
                                                        <figure class="border-radius-10">
                                                            <img src="@(Model.Avatar??Model.Thumb)" alt="@Model.Title">
                                                        </figure>
                                                    </div>

                                                    <div class="slider-nav-thumbnails">
                                                        <div><img src="@(Model.Avatar??Model.Thumb)" alt="@Model.Title"></div>
                                                    </div>
                                                    <!-- THUMBNAILS -->
                                                </div>}
                                        </div>
                                    }

                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info pr-30 pl-30">
                                        @*<span class="stock-status out-stock"> Sale Off </span>*@
                                        <h3 class="title-detail">@Model.Title</h3>
                                        <div class="product-detail-rating">
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 90%"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                @if (Model.CommissionValue.ToDecimal() > 0)
                                                {
                                                    <span class="current-price text-brand">@String.Format("{0:0,0đ}", (Model.Price * Model.CommissionValue.ToDecimal() / 100))</span>
                                                    <span>
                                                        <span class="old-price font-md ml-15">@String.Format("{0:0,0đ}", Model.Price)</span>
                                                        <span class="save-price font-md color3 ml-15">@(Model.CommissionValue.ToDecimal() == 0 ?"":"-"+ Model.CommissionValue.ToString() +"%")</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    if (Model.Price == null || Model.Price == 0)
                                                    {
                                                        <span>Liên hệ</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="current-price text-brand">@String.Format("{0:0,0đ}", Model.Price)</span>
                                                    }
                                                }
                                            </div>
                                            @*<div class="product-price primary-color float-left">
                                                    <span class="current-price text-brand">@String.Format("{0:0,0đ}", (Model.CommissionValue == 0 ? Model.Price : Model.Price * Model.CommissionValue / 100))</span>
                                                    <span>
                                                        <span class="save-price font-md color3 ml-15">@(Model.CommissionValue == 0 ? 0 : Model.CommissionValue)% Off</span>
                                                        <span class="old-price font-md ml-15">@String.Format("{0:0,0đ}", Model.PriceSale)</span>
                                                    </span>
                                                </div>*@

                                        </div>

                                        @*<div class="attr-detail attr-size mb-30">
                                                <strong class="mr-10">Size / Weight: </strong>
                                                <ul class="list-filter size-filter font-small">
                                                    <li><a href="#">50g</a></li>
                                                    <li class="active"><a href="#">60g</a></li>
                                                    <li><a href="#">80g</a></li>
                                                    <li><a href="#">100g</a></li>
                                                    <li><a href="#">150g</a></li>
                                                </ul>
                                            </div>*@
                                        <div class="detail-extralink mb-50">
                                            <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                            <div class="product-extra-link2">

                                                @if (string.IsNullOrEmpty(Model.Aff_link))
                                                {
                                                    <button type="submit" class="button button-add-to-cart add-cart"
                                                            data-quantity="1" data-id="@Model.Id" data-producimage="@Model.Thumb" data-producname="@Model.Title" data-producprice="@(Model.CommissionValue == 0 ? Model.Price : Model.Price * Model.CommissionValue/100)">
                                                        <i class="fi-rs-shopping-cart"></i>Thêm vào giỏ
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button class="button button-add-to-cart" onclick="window.open('@Model.Aff_link')" formtarget="_blank">
                                                        <i class="fi-rs-shopping-cart"></i>Mua hàng
                                                    </button>
                                                }
                                                <a aria-label="Yêu thích" data-productId="@Model.Id" class="action-btn hover-up addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>
                                                @*<a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>*@
                                            </div>
                                        </div>
                                        <div class="short-desc mb-30">
                                            <p class="font-lg">
                                                <h5>Thông tin sản phẩm</h5>
                                                @Html.Raw(@Model.Description.PeelDescription(500))
                                            </p>
                                        </div>
                                        @*<div class="short-desc mb-30">
                                                <p class="font-lg">@Html.Raw(@Model.ShipPrice)</p>
                                            </div>*@
                                        @*<div class="font-xs">
                                                <ul class="mr-50 float-start">
                                                    <li class="mb-5">Type: <span class="text-brand">Organic</span></li>
                                                    <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                                    <li>LIFE: <span class="text-brand">70 days</span></li>
                                                </ul>
                                                <ul class="float-start">
                                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                                    <li class="mb-5">Tags: <a href="#" rel="tag">Snack</a>, <a href="#" rel="tag">Organic</a>, <a href="#" rel="tag">Brown</a></li>
                                                    <li>Stock:<span class="in-stock text-brand ml-5">8 Items In Stock</span></li>
                                                </ul>
                                            </div>*@
                                    </div>
                                    <!-- Detail info -->
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="tab-style3">
                                    <h5>Mô tả sản phẩm</h5>
                                    @if (!string.IsNullOrEmpty(Model.ContentModels.FirstOrDefault()?.content))
                                    {
                                        @Html.Raw(Model.ContentModels.FirstOrDefault()?.content)
                                    }
                                    else
                                    {
                                        <span>Đang cập nhật</span>
                                    }
                                </div>
                            </div>
                            @await (Component.InvokeAsync("ProductRelated", new { id = Model.Id, catId = Model.ProductCategoryId }))
                        </div>
                    </div>
                    <div class="col-xl-3 primary-sidebar sticky-sidebar mt-30">
                        @await (Component.InvokeAsync("Category"))
                        <!-- Fillter By Price -->
                        @*@await (Component.InvokeAsync("FillByPrice"))*@
                        <!-- Product sidebar Widget -->
                        @await (Component.InvokeAsync("ProductNew"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section scripts{
    @*<script type="text/javascript">
            $(function () {
                $("#productcolor li").first().addClass("selected");

                var colorId = $('#productcolor li.selected').data('value');
                var title = $('#productcolor li.selected').data('title');
                // get name
                $("#colorname").text(title);

                LoadImage(colorId);
                LoadSize(colorId);
            });

            $(document).ready(function () {
                $('#productcolor li').on('click', function (e) {
                    e.preventDefault();
                    // This removes the class on selected li's
                    $("#productcolor li").removeClass("selected");
                    // 'this' here refers to the clicked a element
                    $(this).closest('li').addClass('selected');
                    // get value
                    var id = $(this).data('value');
                    var title = $(this).data('title');
                    // get name
                    $("#colorname").text(title);
                    $("#add_to_cart").text("THÊM VÀO GIỎ");
                    LoadImage(id);
                    LoadSize(id);
                });
            });
            // load hình ảnh
            function LoadImage(id) {
                // sets the input field's value to the data value of the clicked a element
                if (id != '') {
                    $.ajax({
                        url: '/Product/ProductImageReview',
                        data: { id: id },
                        //async: true,
                        //type: 'GET',
                        //dataType: 'JSON',
                        success: function (data) {
                            $("#partialImageReview").html("");
                            $("#partialImageReview").html(data);
                        }
                    });
                }
            }

            // load hình ảnh
            function LoadPrice(id) {
                // sets the input field's value to the data value of the clicked a element
                if (id != '') {
                    $.ajax({
                        url: '/Product/ProductPriceReview',
                        data: { id: id },
                        //async: true,
                        //type: 'GET',
                        //dataType: 'JSON',
                        success: function (data) {
                            $("#partialPriceReview").html("");
                            $("#partialPriceReview").html(data);
                        }
                    });
                }
            }

            // load size
            function LoadSize(id) {
                // sets the input field's value to the data value of the clicked a element
                if (id != '') {
                    $.ajax({
                        url: '/Product/ProductSize',
                        data: { id: id },
                        success: function (data) {
                            $("#partialSize").html("");
                            $("#partialSize").html(data);
                        }
                    });
                }
            }
        </script>

        <script type="text/javascript">
            function AddToCard() {
                // get value
                var sizeId = $('#productsize li.selected').data('value');
                var quantity = $('#input-quantity').val();
                //
                if (sizeId == '' || quantity == '' || sizeId == null || quantity == null) {
                    toastr.error("Chọn màu, kích cỡ trước khi cho vào giỏ", "Không thành công!", { timeOut: 3000, "closeButton": true });
                }
                if (sizeId != '' && quantity != '' && sizeId != null && quantity != null) {
                    $.ajax({
                        url: '/ShoppingCart/AddItem',
                        data: { sizeId: sizeId, quantity: quantity },
                        //async: true,
                        //type: 'GET',
                        //dataType: 'JSON',
                        success: function (data) {
                            toastr.success("Sản phẩm đã được thêm vào giỏ hàng", "Thêm thành công!", { timeOut: 3000, "closeButton": true });
                            $("#cartmini").html("");
                            $("#cartmini").html(data);
                        }
                    });
                }
            }
        </script>*@
}
