﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model List<ProductViewModel>
@{
    var titleCat = (string)ViewBag.TitleCat;
    var banner = (string)ViewBag.Banner;
    var info = ViewBag.info as AboutModel;
    var catId = (int)ViewBag.CatId;
    int pageSize = ViewBag.PageSize;
    string sortBy = ViewBag.SortBy;
    string sortDir = ViewBag.sortDir;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | @titleCat</title>
    <meta itemprop='name' content='VNSO SHOP | @titleCat' />
    <meta property='og:title' content='VNSO SHOP | @titleCat' />
    <meta name='twitter:title' content='VNSO SHOP | @titleCat' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}
<!-- Quick view -->
@await (Component.InvokeAsync("Quick", new { model = Model.ToList() }))

<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <h1 class="mb-15">@titleCat</h1>
                        <div class="breadcrumb">
                            <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                            <span></span> Sảm phẩm
                            @if (catId != 0)
                            {
                                <span></span> @titleCat
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-xl-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p>Tìm thấy <strong class="text-brand">@ViewBag.Total</strong> sản phẩm!</p>
                    </div>
                    <div class="sort-by-product-area">
                        <div class="sort-by-cover mr-10">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps"></i>Hiển thị:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> @pageSize <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a href="#" onclick="onFillter(50)" class="@(pageSize==50 ? "active" : "" )" data-value="50">50</a></li>
                                    <li><a href="#" onclick="onFillter(100)" class="@(pageSize==100 ? "active" : "" )" data-value="100">100</a></li>
                                    <li><a href="#" onclick="onFillter(150)" class="@(pageSize==150 ? "active" : "" )" data-value="150">150</a></li>
                                    <li><a href="#" onclick="onFillter(200)" class="@(pageSize==200 ? "active" : "" )" data-value="200">200</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Sắp xếp:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> @ViewBag.TitleSort <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    @*<li><a href="#" onclick="onFillter2('Id','DESC')" class="@(sortBy=="Id" && sortDir == "DESC" ? "active" : "" )">Mặc định</a></li>*@
                                    <li><a href="#" onclick="onFillter2('Price','ASC')" class="@(sortBy=="Price" && sortDir == "ASC" ? "active" : "" )">Giá: Thấp đến cao</a></li>
                                    <li><a href="#" onclick="onFillter2('Price','DESC')" class="@(sortBy=="Price" && sortDir == "DESC" ? "active" : "" )">Giá: Cao đến thấp</a></li>
                                    <li><a href="#" onclick="onFillter2('Id','DESC')" class="@(sortBy=="Id" && sortDir == "DESC" ? "active" : "" )">Mới nhất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-grid">
                    @if (Model.Count() > 0)
                    {
                        @foreach (var product in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-6 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">
                                                <img class="default-img" src="@product.Thumb" alt="@product.Title">
                                                <img class="hover-img" src="@product.Thumb" alt="@product.Title">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Yêu thích" data-productid="@product.Id" class="action-btn addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>
                                            @*<a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>*@
                                            <a aria-label="Xem trước" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal-@product.Id"><i class="fi-rs-eye"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            @if (product.IsProductNew.ToBool())
                                            {
                                                <span class="new">Mới</span>
                                            }
                                            else if (product.CommissionType != null && product.CommissionType.Equals("amount"))
                                            {
                                                <span class="hot">Bán chạy</span>
                                            }
                                            else if (product.CommissionValue.ToDecimal() > 0)
                                            {
                                                <span class="sale">Giảm giá</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        @*<div class="product-category">
                                                <a href="\san-pham-@product.ProductCategoryId">@product.ProductCategory.Title</a>
                                            </div>*@
                                        <h2><a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">@product.Title.Peel(54)</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        @*<div>
                                                <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                                            </div>*@
                                        <div class="product-price mt-10">
                                            @if (product.CommissionValue.ToDecimal() > 0)
                                            {
                                                <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue.ToDecimal() / 100))</span>
                                                <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                                <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                                            }
                                            else
                                            {
                                                if (product.Price == null || product.Price == 0)
                                                {
                                                    <span>Liên hệ</span>
                                                }
                                                else
                                                {
                                                    <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                                }
                                            }
                                        </div>
                                        <div class="sold mt-15 mb-15">
                                            <div class="progress mb-5">
                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                        </div>

                                        @if (string.IsNullOrEmpty(product.Aff_link))
                                        {
                                            <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                                <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="add-cart2">
                                                <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!--end product card-->
                </div>
                <!--product grid-->
                <div class="pagination-area text-center mt-20 mb-20">
                    @{
                        var pagingModel = new SoftNetCore.Model.System.PagingModel()
                        {
                            currentPage = ViewBag.currentPage,
                            countPages = ViewBag.countPages,
                            generateUrl = (int? p) => catId != 0 ? Url.RouteUrl("ExistProductCat", new { p }) : Url.Action("Index", new { p })
                        };
                    }
                    <partial name="_Paging" model="@pagingModel" />
                    @*<nav aria-label="Page navigation example">
                            @if (Model.PageCount > 1)
                            {
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="/san-pham-@titleCat-@catId?page=@(Model.PageNumber-1)"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                    @for (int i = 1; i <= Model.LastItemOnPage; i++)
                                    {
                                        @if (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1)
                                        {
                                            <li class="page-item @(i==Model.PageNumber ? "active" : "")"><a class="page-link" href="/san-pham-@titleCat-@catId?page=@i">@i</a></li>
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="/san-pham-@titleCat-@catId?page=@(Model.PageNumber+1)"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                </ul>
                            }
                        </nav>*@
                </div>
                @*@await (Component.InvokeAsync("HomePromotion"))*@
                <!--End Deals-->
            </div>
            <div class="col-xl-3 primary-sidebar sticky-sidebar">
                @await (Component.InvokeAsync("Category"))
                <!-- Fillter By Price -->
                @*@await (Component.InvokeAsync("FillByPrice"))*@
                <!-- Product sidebar Widget -->
                @await (Component.InvokeAsync("ProductNew"))
                @await (Component.InvokeAsync("CouponNew"))
            </div>
        </div>
    </div>
</main>

<!--shop main area are end-->
@section scripts{
    <script type="text/javascript">

        function onFillter(value) {
            // get value
            var pageSize = value;
            //
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + @catId + "&pageSize=" + pageSize + "&sortBy=" + '@sortBy' + "&sortDir=" + '@sortDir';
            window.history.pushState({ path: newurl }, '', newurl);
            location.reload();
        }

        function onFillter2(sortBy, sortDir) {
            // get value
            var valueBy = sortBy;
            var valueDir = sortDir;
            //
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + @catId + "&pageSize=" + @pageSize + "&sortBy=" + valueBy + "&sortDir=" + valueDir;
            window.history.pushState({ path: newurl }, '', newurl);
            location.reload();
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return 1;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}