﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->

    <link href="~/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/admin/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- page specific plugin styles -->
    <link href="~/admin/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/admin/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/admin/css/jquery.gritter.min.css" rel="stylesheet" />
    <link href="~/admin/css/ui.jqgrid.min.css" rel="stylesheet" />
    <!-- text fonts -->
    <link href="~/admin/css/fonts.googleapis.com.css" rel="stylesheet" />
    <!-- ace styles -->
    <link href="~/admin/css/ace.min.css" rel="stylesheet" class="ace-main-stylesheet" id="main-ace-style" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/admin/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link href="~/admin/css/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/admin/css/ace-skins.min.css" rel="stylesheet" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/admin/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/admin/js/ace-extra.min.js"></script>
    <link href="~/admin/css/Style.css" rel="stylesheet" />

    <link href="~/admin/lib/elfinder/css/elfinder.full.css" rel="stylesheet" />
    <link href="~/admin/lib/elfinder/css/theme.css" rel="stylesheet" />
    <script src="~/admin/lib/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="~/portal/css/toastr.min.css">
</head>

<body class="no-skin">
    <!--Header-->
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="~/admin/home/index" class="navbar-brand">
                    <small>
                        Admin
                    </small>
                </a>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    @*@Html.Action("AdminTopMessage", "AdminLayout")*@
                    <partial name="~/Areas/Admin/Views/AdminLayout/AdminTopAccount.cshtml" />
                    @*@Html.Action("AdminTopAccount", "AdminAccount")*@
                </ul>
            </div>
        </div>
    </div>
    <!--End Header-->

    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">try { ace.settings.loadState('main-container') } catch (e) { }</script>
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <script type="text/javascript">try { ace.settings.loadState('sidebar') } catch (e) { }</script>
            <!--Top button-->
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>
                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>
                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!--End Top button-->
            <!--Menu-->
            <partial name="~/Areas/Admin/Views/AdminLayout/AdminMenu.cshtml" />
            <!--End Menu-->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
        </div>

        <!--Main-->
        <div class="main-content">
            @RenderBody()
        </div>
        <!--End Main-->
        <!--Footer-->
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">VNSOGROUP</span>
                        Application &copy; 2020-2021
                    </span>
                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>
                        <a href="https://www.facebook.com/itteamvn/">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>
                        <a href="http://itteamvn.com/">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
        <!--End Footer-->
    </div>
    <div id="ChangePassword" class="modal fade" data-url="@Url.Action("ChangePassword","AdminAccount")" role="dialog"></div>

    <script src="~/admin/js/jquery-2.1.4.min.js"></script>
    <script src="~/portal/js/toastr.min.js"></script>
    <script src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/admin/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/admin/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@

    <script type="text/javascript">if ('ontouchstart' in document.documentElement) document.write("<script src='~/admin/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");</script>
    <script src="~/admin/js/bootstrap.min.js"></script>

    <script src="~/admin/js/jquery-ui.custom.min.js"></script>
    <script src="~/admin/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/admin/js/jquery.easypiechart.min.js"></script>
    <script src="~/admin/js/jquery.sparkline.index.min.js"></script>
    <script src="~/admin/js/jquery.flot.min.js"></script>
    <script src="~/admin/js/jquery.flot.pie.min.js"></script>
    <script src="~/admin/js/jquery.flot.resize.min.js"></script>
    <script src="~/admin/js/bootstrap-datepicker.min.js"></script>
    <script src="~/admin/js/jquery.jqGrid.min.js"></script>
    <script src="~/admin/js/grid.locale-vi.js"></script>
    <script src="~/admin/js/jquery.gritter.min.js"></script>
    <script src="~/admin/js/jquery.validate.min.js"></script>
    <script src="~/admin/js/bootstrap-datepicker.vi.js"></script>
    <!-- ace scripts -->
    <script src="~/admin/js/ace-elements.min.js"></script>
    <script src="~/admin/js/ace.min.js"></script>
    <script src="~/admin/lib/elfinder/js/elfinder.full.js"></script>
    <script src="~/admin/app/Common.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
