﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model List<ProductCollectionModel>

<div role="tabpanel" class="tab-pane fade show active" id="grid">
    <div class="total-shop-product-grid row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                var product = item.Product;
                if (product != null)
                {
                    <div class="col-lg-3 col-md-4 col-xs-5 item">
                        <div class="single-product">
                            <div class="product-img">
                                <div class="product-label">
                                    @if (product.IsSale)
                                    {
                                        <div class="sale">-@product.Discount%</div>
                                    }
                                </div>
                                <div class="single-prodcut-img  product-overlay pos-rltv">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" asp-route-title="@product.Title.ToUrlFormat()">
                                        <img src="/@product.Thumb" alt="@product.Title" class="primary-image">
                                        <img src="/@product.Avatar" alt="@product.Title" class="secondary-image">
                                    </a>
                                </div>
                            </div>
                            <div class="product-text">
                                <div class="prodcut-name">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" asp-route-title="@product.Title.ToUrlFormat()">
                                        @product.Title
                                    </a>
                                </div>
                                <div class="prodcut-ratting">
                                    @for (decimal i = 1; i <= 5; i++)
                                    {
                                        if (i <= product.ValueAssess.ToDecimal())
                                        {
                                            <a href="#" tabindex="0"><i class="fa fa-star"></i></a>
                                        }
                                        else
                                        {
                                            if (product.ValueAssess.ToDecimal() > i - 1)
                                            {
                                                <a href="#" tabindex="0"><i class="fa fa-star-half-o"></i></a>
                                            }
                                            else
                                            {
                                                <a href="#" tabindex="0"><i class="fa fa-star-o"></i></a>
                                            }
                                        }
                                    }
                                    <a href="#" class="color-1"> (@product.TotalAssess.ToInt() đánh giá )</a>
                                </div>
                                <div class="prodcut-ratting-price">
                                    <div class="prodcut-price">
                                        @if (product.IsSale)
                                        {
                                            <div class="new-price"> @String.Format("{0:0,0đ}", product.PriceSale) </div>
                                            <div class="old-price"> @String.Format("{0:0,0đ}", product.Price) </div>
                                            <span class="text--primary-sale">
                                                -@product.Discount%
                                            </span>
                                        }
                                        else
                                        {
                                            <div class="new-price"> @String.Format("{0:0,0đ}", product.Price) </div>
                                        }
                                    </div>
                                </div>
                                <div class="prodcut-name">
                                    <a class="btn product-detail" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id" asp-route-title="@product.Title.ToUrlFormat()"> Chọn mua</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
