﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model IList<ArticleModel>

<div class="sidebar-widget product-sidebar mb-50 p-30 bg-grey border-radius-10">
    <h5 class="section-title style-1 mb-30 uppercase">Bài viết nổi bật</h5>
    @foreach (var item in Model)
    {
        <div class="single-post clearfix">
            <div class="image">
                <img src="/@item.Thumb" alt="@item.Title" />
            </div>
            <div class="content pt-10">
                <h6><a href="/chi-tiet-tin-tuc-@item.Title-@item.Id" title="@item.Title">@item.Title.Peel(54)</a></h6>
                <div>
                    <span class="post-on"><i class="fi fi-rs-calendar"></i> @item.CreateTime.ToStringDateTime("dd/MM/yyyy")</span>
                </div>
            </div>
        </div>
    }
</div>
