﻿@model SoftNetCore.Model.Catalog.CouponTypeModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Trang chủ</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminCouponType" asp-action="Index">Danh mục khuyến mãi</a>
            </li>
            <li class="active">Thêm mới</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm danh mục</strong></h3>
            <div class="top-toolbar">
                <button onclick="SubmitFormByID('frmCouponType',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminCouponType" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmCouponType" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminCouponType">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Danh mục cha</label>
                            <div class="col-sm-9">
                                <select class="col-xs-12 col-sm-12 radius" asp-for="ParentId" asp-items="ViewBag.CouponTypeId">
                                    <option disabled selected>--- Danh mục cha ---</option>
                                </select>
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mã danh mục</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="CouponTypeId" class="col-xs-12 col-sm-12" placeholder="Mã danh mục" />
                                <span asp-validation-for="CouponTypeId" class="text-danger"></span>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Nhà cung cấp</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Nhà cung cấp" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Ký hiệu</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="MerchantName" class="col-xs-12 col-sm-12" placeholder="Ký hiệu" />
                            <span asp-validation-for="MerchantName" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="clearfix">
                    <div class="col-md-offset-3 col-md-9">
                        <button onclick="SubmitFormByID('frmCouponType',true);" class="btn btn-info">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và tiếp tục
                        </button>
                        <a class="btn" asp-area="Admin" asp-controller="AdminCouponType" asp-action="Insert">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderThumb = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsethumb', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderListImage = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browselistimage', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    <script src="~/admin/app/CouponTypeValidate.js"></script>
    <script src="~/admin/app/product-category.service.js" asp-append-version="true"></script>
}
