﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@{
    var productCategoryList = ViewBag.ProductCategoryList as List<ProductCategoryModel>;
    int a = productCategoryList.Count() / 2;
    float b = productCategoryList.Count() % 2;
    int count = b > 1 / 2 ? a + 1 : a;
}
@if (productCategoryList != null && productCategoryList.Count() > 0)
{
    <ul>
        @foreach (var item in productCategoryList.Take(count))
        {
            <li>
                <a href="/san-pham-@item.Title.ToUrlFormat()-@item.Id">
                    <img src="@item.Logo" alt="@item.Title"> @item.Title
                </a>
            </li>
        }
    </ul>
    <ul>
        @foreach (var item in productCategoryList.Skip(count))
        {
            <li>
                <a href="/san-pham-@item.Title.ToUrlFormat()-@item.Id">
                    <img src="@item.Logo" alt="@item.Title"> @item.Title
                </a>
            </li>
        }
    </ul>
}