﻿<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#dcf0f8" style="margin: 0;
        padding: 0;
        background-color: #ccc;
        width: 100% !important;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        color: #31ab26;
        line-height: 18px">
    <tbody>
        <tr>
            <td align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#31ab26;line-height:18px;font-weight:normal">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin:15px 0">
                    <tbody>
                        <tr style="background:#fff">
                            <td align="left" width="600" height="auto" style="padding:15px">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p style="font-size:14px;font-weight:bold;padding:0 0 5px 0;margin:0">Thông báo đơn hàng khách đặt từ website VNSO SHOP.vn</p>
                                                <p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#31ab26;line-height:18px;font-weight:normal">
                                                    Đơn hàng được khách hàng đặt trực tiếp từ website, vui lòng kiểm tra hệ thống để xác nhận đơn hàng.
                                                </p>
                                                <!--<p style="font-size:14px;font-weight:bold;padding:0 0 5px 0;margin:0">Xin chào #FullName#,</p>
                                                <p style="font-size:14px;color:#31ab26;padding:0 0 5px 0;margin:0">Cảm ơn Anh/Chị đã đặt hàng tại #Company#!</p>-->
                                                <!--<p style="margin:4px 0;font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#31ab26;line-height:18px;font-weight:normal">
                                                    Đơn hàng của Anh/Chị đã được tiếp nhận, chúng tôi sẽ nhanh chóng liên hệ với Anh/Chị.
                                                </p>-->
                                                <h3 style="font-size:13px;font-weight:bold;color:#ed4e2a;text-transform:uppercase;margin:20px 0 0 0;border-bottom:1px solid #ddd">
                                                    Thông tin đơn hàng <span style="font-size:12px;color:#777;text-transform:none;font-weight:normal">Ngày #Ngay# Tháng #Thang# Năm #Nam#</span>
                                                </h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#31ab26;line-height:18px">
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th align="left" width="100%" style="padding:6px 9px 0px 9px;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#31ab26;font-weight:bold">
                                                                Mã đơn hàng:  <span style="color:red">#Code#</span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:3px 9px 9px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#31ab26;line-height:18px;font-weight:normal">
                                                                <span><strong>Khách hàng</strong>: #FullName#</span><br>
                                                                <span><strong>Email</strong>: #Email#</span><br>
                                                                <span><strong>Điện thoại</strong>: #PhoneNo#</span><br>
                                                                <span><strong>Địa chỉ nhận hàng</strong>: #Address#</span><br>
                                                                <span><strong>Ghi chú</strong>: #Remark#</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td valign="top" style="padding:7px 9px 0px 9px;border-top:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#31ab26" colspan="2">
                                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#31ab26;line-height:18px;font-weight:normal">
                                                                    <strong>Phương thức thanh toán: </strong>
                                                                    #Payment#
                                                                    <br>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2 style="text-align:left;margin:10px 0;border-bottom:1px solid #ddd;padding-bottom:5px;font-size:12px;color:#ed4e2a">
                                                    CHI TIẾT ĐƠN HÀNG
                                                </h2>
                                                <table cellspacing="0" cellpadding="0" border="0" width="100%" style="background:#f5f5f5">
                                                    <thead>
                                                        <tr>
                                                            <th align="left" width="55%" bgcolor="#ed4e2a" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Sản phẩm</th>
                                                            <th align="center" width="15%" bgcolor="#ed4e2a" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px"> Đơn giá</th>
                                                            <th align="center" width="10%" bgcolor="#ed4e2a" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">SL</th>
                                                            <th align="center" width="20%" bgcolor="#ed4e2a" style="padding:6px 9px;color:#fff;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:14px">Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody bgcolor="#eee" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#31ab26;line-height:18px">
                                                        #Content#
                                                    </tbody>
                                                    <tfoot style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#31ab26;line-height:18px">
                                                        <!--<tr bgcolor="#eee">
                                                            <td colspan="3" align="right" style="padding:7px 9px"><strong><big>Tổng tiền hàng</big></strong></td>
                                                            <td align="right" style="padding:7px 9px"><strong><big><span>#Total# ₫</span></big></strong></td>
                                                        </tr>
                                                        <tr bgcolor="#eee">
                                                            <td colspan="3" align="right" style="padding:7px 9px"><strong><big>Phí giao hàng</big></strong></td>
                                                            <td align="right" style="padding:7px 9px"><strong><big><span>#FeeShip# ₫</span></big></strong></td>
                                                        </tr>-->
                                                        <tr bgcolor="#eee">
                                                            <td colspan="3" align="right" style="padding:7px 9px"><strong><big>Tổng tiền</big></strong></td>
                                                            <td align="right" style="padding:7px 9px"><strong><big><span>#TotalPrice# ₫</span></big></strong></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <!--<p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#31ab26;font-weight:bold">
                                                   Để kiểm tra tình trạng đơn hàng. Anh/Chị vui lòng đăng nhập tài khoản tại:
                                                    <a href="#Login#" target="_blank">Đăng nhập vào tài khoản</a><br>
                                                </p>
                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;line-height:18px;color:#31ab26;font-weight:bold">
                                                    Một lần nữa #Company# cảm ơn quý khách. Nếu Anh/Chị có bất kỳ câu hỏi nào, xin liên hệ với chúng tôi tại:
                                                    <a href="mailto:#MailCompany#" target="_blank">#MailCompany#</a><br>
                                                </p>-->
                                                <p style="font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#31ab26;line-height:18px;font-weight:normal;text-align:right">
                                                    <strong><a style="color:#00a3dd;text-decoration:none;font-size:12px" href="#Link#" target="_blank">#Company#</a></strong><br>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>