﻿@model SoftNetCore.Model.Catalog.AboutModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý thông tin</a>
            </li>
            <li class="active">Giới thiệu</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Giới thiệu</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="CKupdate();SubmitFormByID('frmAbout',false);">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu thông tin</span>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmAbout" class="form-horizontal" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Update" asp-controller="AdminAbout">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Thông tin chi tiết
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" asp-for="Id" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="CreateTime" class="col-xs-12 col-sm-12" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Tên cửa hàng</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Tên cửa hàng" />
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" asp-for="Website" class="col-xs-12 col-sm-12" placeholder="Website" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Email</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Email" class="col-xs-12 col-sm-12" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Điện thoại</label>
                                            <div class="col-sm-5">
                                                <input type="text" asp-for="Phone" class="col-xs-12 col-sm-12" placeholder="Điện thoại" />
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" asp-for="Hotline" class="col-xs-12 col-sm-12" placeholder="Điện thoại 2" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Giới thiệu ngắn dưới chân trang</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Description" class="col-xs-12 col-sm-12" placeholder="Nhập giới thiệu" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Address" class="col-xs-12 col-sm-12" placeholder="Địa chỉ" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Iframe Map</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" asp-for="Map" class="col-xs-12 col-sm-12" placeholder="Map" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">ID Page</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="PageId" class="col-xs-12 col-sm-12" placeholder="ID Page" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Facebook</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Facebook" class="col-xs-12 col-sm-12" placeholder="Facebook" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Zalo</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Zalo" class="col-xs-12 col-sm-12" placeholder="Zalo" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Youtube</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Youtube" class="col-xs-12 col-sm-12" placeholder="Youtube" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Instagram</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Instagram" class="col-xs-12 col-sm-12" placeholder="Instagram" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Twitter</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="Twitter" class="col-xs-12 col-sm-12" placeholder="Twitter" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Logo</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="100" height="100" src="@(Model.Logo != null ? "/" + Model.Logo : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderThumb(event, 'ImageThumb');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="Logo" id="ImageThumb" class="col-xs-12 col-sm-12" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Hình đại diện (460x???)</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="100" height="100" src="@(Model.Thumb != null ?  "/" + Model.Thumb : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="Thumb" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Banner (1920x500)</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="100" height="100" src="@(Model.Avatar != null ? "/"+ Model.Avatar : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderListImage(event, 'ImageList');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="Avatar" id="ImageList" class="col-xs-12 col-sm-12" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Hình ảnh chia sẽ Link</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="100" height="100" src="@(Model.MetaImage != null ? "/"+ Model.MetaImage : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderMetaImage(event, 'MetaImage');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="MetaImage" id="MetaImage" class="col-xs-12 col-sm-12" placeholder="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Nội dung giới thiệu
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseTwo">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            @*<label class="col-sm-3 control-label no-padding-right">Giới thiệu ngắn</label>*@
                                            <div class="col-sm-12">
                                                <textarea type="text" asp-for="ShortContent" class="col-xs-12 col-sm-12" placeholder="Nội dung ngắn" rows="2"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @*<label class="col-sm-3 control-label no-padding-right">Nội dung chính</label>*@
                                            <div class="col-sm-12">
                                                <textarea type="text" asp-for="Content" class="form-control col-xs-12 col-sm-12" placeholder="Nội dung" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Nội dung SEO
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseThree">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">Từ khóa SEO</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="MetaKeywords" class="form-control col-xs-12 col-sm-12" placeholder="Nhập cách nhau bằng dấu ( ; )" rows="2" />
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Tiêu đề SEO</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="MetaTitle" class="form-control col-xs-12 col-sm-12" placeholder="Tiêu đề SEO" rows="2" />
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Mô tả SEO</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" asp-for="MetaDescription" class="form-control col-xs-12 col-sm-12" placeholder="Mô tả SEO" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="form-horizontal" role="form">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" onclick="CKupdate();SubmitFormByID('frmAbout',false);">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Kiểm tra và lưu
                            </button>
                            <a class="btn" href="@Url.Action("Index", "AdminAbout")">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderThumb = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsethumb', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderMetaImage = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsemetaimage', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderListImage = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browselistimage', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    <script type="text/javascript">
        $(function () {
            CKupdate();
        });

        function CKupdate() {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
            return true;
        }
    </script>
    <script type="text/javascript">
        CKEDITOR.replace("ShortContent");
    </script>
    <script type="text/javascript">
        CKEDITOR.config.height = 300;
        CKEDITOR.config.width = 'auto';
        CKEDITOR.replace("Content");
    </script>
    <script src="~/admin/app/AboutValidate.js"></script>
}