﻿@model SoftNetCore.Model.Catalog.AboutModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý thông tin</a>
            </li>
            <li class="active">Hướng dẫn chọn Size</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Hướng dẫn chọn Size</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="CKupdate();SubmitFormByID('frmAbout',false);">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu thông tin</span>
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmAbout" class="form-horizontal" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Update" asp-controller="AdminAbout">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Thông tin
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" asp-for="Id" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="Title" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                                <input type="hidden" asp-for="CreateTime" class="col-xs-12 col-sm-12" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea type="text" asp-for="Content" class="form-control col-xs-12 col-sm-12" placeholder="Nội dung" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
                <div class="form-horizontal" role="form">
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-info" onclick="CKupdate();SubmitFormByID('frmAbout',false);">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Kiểm tra và lưu
                            </button>
                            <a class="btn" href="@Url.Action("PolicyTerms", "AdminAbout")">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            CKupdate();
        });

        function CKupdate() {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
            return true;
        }
    </script>
    <script type="text/javascript">
        CKEDITOR.replace("ShortContent");
    </script>
    <script type="text/javascript">
        CKEDITOR.config.height = 450;
        CKEDITOR.config.width = 'auto';
        CKEDITOR.replace("Content");
    </script>
    <script src="~/admin/app/AboutValidate.js"></script>
}