﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model CollectionModel
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | @Html.Raw(Model.Title)</title>
    <meta itemprop='name' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta property='og:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(Model.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<!--breadcumb area start -->
@if (!string.IsNullOrEmpty(Model.Avatar))
{
    <div class="breadcumb-area overlay pos-rltv">
        <img src="/@Model.Avatar" alt="@Model.Title" />
    </div>
}
<!--breadcumb area end -->
<!--choose us area start-->
<div class="choose-us-area choose-us-area-custom ptb-30 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-time-countdown"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Thủ tục nhanh gọn</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Tiết kiệm thời gian
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-local-shipping"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Giao hàng nhanh</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Giao hàng nhanh toàn quốc
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-block d-lg-block">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-case-download"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Đóng gói cẩn thận</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Đóng gói 2 lớp hộp carton
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--choose us area start-->
<!--shop main area are start-->
<div class="shop-main-area pt-30 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title heading-style pos-rltv mtb-20 text-center">
                    <h3 class="uppercase">@Model.Title</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <div class="shop-total-product-area clearfix mt-35">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!--tab grid are start-->
                        @await (Component.InvokeAsync("ProductCollection", new { id = Model.Id }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shop main area are end-->