﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model IList<ProductViewModel>

<div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
    <div class="title">
        <h5 class="section-title style-1 mb-30">Sản phẩm mới</h5>
    </div>
    @if (Model != null)
    {
        foreach (var product in Model)
        {
            <div class="single-post single-product clearfix">
                <div class="image ">
                    <img src="@product.Thumb" alt="@product.Title">
                </div>
                <div class="content pt-10">
                    <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">@product.Title.Peel(45)</a>
                    @if (product.CommissionValue.ToDecimal() > 0)
                    {
                        <p class="price mb-0 mt-5">@String.Format("{0:0,0đ}", product.Price * product.CommissionValue.ToDecimal() / 100))</p>
                        <p class="old-price price mb-0 mt-5">@String.Format("{0:0,0đ}", product.Price)</p>
                        <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                    }
                    else
                    {
                        if (product.Price == null || product.Price == 0)
                        {
                            <span>Liên hệ</span>
                        }
                        else
                        {
                            <p class="price mb-0 mt-5">@String.Format("{0:0,0đ}", product.Price)</p>
                        }
                    }
                    <div class="product-rate">
                        <div class="product-rating" style="width: 90%"></div>
                    </div>
                </div>
            </div>
        }
    }
</div>
