﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model ArticleModel
@{
    var titleCat = (string)ViewBag.TitleCat;
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | @Html.Raw(Model.Title)</title>
    <meta itemprop='name' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta property='og:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Thumb)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Thumb)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Thumb)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(Model.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> <a href="/tin-tuc">@titleCat</a> <span></span> @Model.Title
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-page pt-50 pr-30">
                                <div class="single-header style-2">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 m-auto">
                                            <h6 class="mb-10"><a href="/tin-tuc"> @titleCat</a></h6>
                                            <h2 class="mb-10">@Model.Title</h2>
                                            <div class="single-header-meta">
                                                <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                                                    <span class="post-by"><i class="fi fi-rs-user"></i> <a href="#">Admin</a></span>
                                                    <span class="post-on"><i class="fi fi-rs-calendar"></i> @Model.CreateTime.ToStringDateTime("dd/MM/yyyy")</span>
                                                    <span class="time-reading"><i class="fi fi-rs-comment-alt"></i> @Model.ViewTime.ToInt() lượt xem</span>
                                                </div>
                                                <div class="social-icons single-share">
                                                    <ul class="text-grey-5 d-inline-block">
                                                        <li class="mr-5">
                                                            <a href="#">@*<img src="~/portal/imgs/theme/icons/icon-bookmark.svg" alt="" />*@</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">@*<img src="~/portal/imgs/theme/icons/icon-heart-2.svg" alt="" />*@</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-content">
                                    @Html.Raw(Model.Content)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 primary-sidebar sticky-sidebar pt-50">
                            <div class="widget-area">
                                @await (Component.InvokeAsync("ArticleCategory"))
                                @await (Component.InvokeAsync("ProductNew"))
                                @await (Component.InvokeAsync("ArticleNew"))
                                <!--Tags-->
                                @await (Component.InvokeAsync("Tag"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>