﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model X.PagedList.IPagedList<ArticleModel>
@{
    var titleCat = (string)ViewBag.TitleCat;
    var info = ViewBag.Info as AboutModel;
    var catId = (int)ViewBag.CatId;
    //var articleCategoryList = ViewBag.Catgory as List<ArticleCategoryModel>;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP |Tin tức</title>
    <meta itemprop='name' content='VNSO SHOP |Tin tức' />
    <meta property='og:title' content='VNSO SHOP |Tin tức' />
    <meta name='twitter:title' content='VNSO SHOP |Tin tức' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Tin tức</h1>
                        <div class="breadcrumb">
                            <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                            @Html.Raw(titleCat)
                        </div>
                    </div>
                    <div class="col-xl-9 text-end d-none d-xl-block">
                        @*@if (articleCategoryList != null && articleCategoryList.Count > 0)
                        {
                            <ul class="tags-list">
                                @foreach (var cartegory in articleCategoryList)
                                {
                                    <li class="hover-up @(catId == cartegory.Id ? "active" : "")">
                                        <a href="/tin-tuc-@cartegory.Id"><i class="fi-rs-cross mr-10"></i>@cartegory.Title</a>
                                    </li>
                                }
                            </ul>
                        }*@

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    @*<div class="shop-product-fillter mb-50 pr-30">
                        <div class="totall-product">
                            <h2>
                                <img class="w-36px mr-10" src="assets/imgs/theme/icons/category-1.svg" alt="">
                                @titleCat
                            </h2>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Newest</a></li>
                                        <li><a href="#">Most comments</a></li>
                                        <li><a href="#">Release Date</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="loop-grid pr-30">
                        <div class="row">
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var article in Model)
                                {
                                    <article class="col-xl-4 col-lg-6 col-md-6 hover-up mb-30 animated">
                                        <div class="post-thumb">
                                            <a href="\chi-tiet-tin-tuc-@article.Title.ToUrlFormat()-@article.Id">
                                                <img class="border-radius-15" src="/@article.Thumb" alt="@article.Title">
                                            </a>
                                            @*<div class="entry-meta">
                                                    <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-heart"></i></a>
                                                </div>*@
                                        </div>
                                        <div class="entry-content-2">
                                            @*<h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Side Dish</a></h6>*@
                                            <h4 class="post-title mb-15">
                                                <a href="\chi-tiet-tin-tuc-@article.Title.ToUrlFormat()-@article.Id">@article.Title</a>
                                            </h4>
                                            <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                                <div>
                                                    <span class="post-on mr-10">@article.CreateTime.ToStringDateTime("dd/MM/yyyy")</span>
                                                    <span class="hit-count has-dot mr-10">@article.ViewTime.ToInt() lượt xem</span>
                                                    @*<span class="hit-count has-dot">4 mins read</span>*@
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                }
                            }
                        </div>
                    </div>
                    <div class="pagination-area text-center mt-15 mb-sm-5 mb-lg-0">
                        @if (Model.PageCount > 1)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        }
                    </div>
                </div>
                <div class="col-xl-3 primary-sidebar sticky-sidebar">
                    <div class="widget-area">
                        @await (Component.InvokeAsync("ArticleCategory"))
                        @await (Component.InvokeAsync("ArticleNew"))
                        @await (Component.InvokeAsync("ProductNew"))
                        <!--Tags-->
                        @await (Component.InvokeAsync("Tag"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
