﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model List<BannerModel>
@{
    var titleCat = (string)ViewBag.TitleCat;
    //var banner = (string)ViewBag.Banner;
    var info = ViewBag.info as AboutModel;
    var catId = (int)ViewBag.CatId;
    int pageSize = ViewBag.PageSize;
    string sortBy = ViewBag.SortBy;
    string sortDir = ViewBag.sortDir;

}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Hot deal</title>
    <meta itemprop='name' content='VNSO SHOP | Hot deal' />
    <meta property='og:title' content='VNSO SHOP | Hot deal' />
    <meta name='twitter:title' content='VNSO SHOP | Hot deal' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}
<!-- Quick view -->
<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-6">
                        <h1 class="mb-15">Hot deal</h1>
                        <div class="breadcrumb">
                            <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                            <span></span> Hot deal
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-xl-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p>Tìm thấy <strong class="text-brand">@ViewBag.Total</strong> chương trình giảm giá!</p>
                    </div>
                </div>
                <div class="row product-grid">
                    @if (Model.Count() > 0)
                    {
                        @foreach (var banner in Model)
                        {
                            <div class="col-lg-3 col-md-4 col-6 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="\deal-hot-@banner.Id" title="@banner.Title">
                                                <img class="default-img" src="@banner.AvatarHome.Trim('[', '"', ']')" alt="@banner.Title">
                                                <img class="hover-img" src="@banner.AvatarHome.Trim('[', '"', ']')" alt="@banner.Title">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        @*<div class="product-category">
                                                <a href="\san-pham-@product.ProductCategoryId">@product.ProductCategory.Title</a>
                                            </div>*@
                                        <h2><a href="\deal-hot-@banner.Id" title="@banner.Title">@banner.Title.Peel(54)</a></h2>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    <!--end product card-->
                </div>
                <!--product grid-->
                <div class="pagination-area text-center mt-20 mb-20">
                    @*@{
                            var pagingModel = new SoftNetCore.Model.System.PagingModel()
                            {
                                currentPage = ViewBag.currentPage,
                                countPages = ViewBag.countPages,
                                generateUrl = (int? page) => Url.Action("Index", new { page })
                            };
                        }
                        <partial name="_Paging" model="@pagingModel" />*@
                    @*<nav aria-label="Page navigation example">
                            @if (Model.PageCount > 1)
                            {
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="/san-pham-@titleCat-@catId?page=@(Model.PageNumber-1)"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                    @for (int i = 1; i <= Model.LastItemOnPage; i++)
                                    {
                                        @if (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1)
                                        {
                                            <li class="page-item @(i==Model.PageNumber ? "active" : "")"><a class="page-link" href="/san-pham-@titleCat-@catId?page=@i">@i</a></li>
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="/san-pham-@titleCat-@catId?page=@(Model.PageNumber+1)"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                </ul>
                            }
                        </nav>*@
                </div>
                @*@await (Component.InvokeAsync("HomePromotion"))*@
                <!--End Deals-->
            </div>
            <div class="col-xl-3 primary-sidebar sticky-sidebar">
                @*@await (Component.InvokeAsync("Category"))*@
                <!-- Fillter By Price -->
                @*@await (Component.InvokeAsync("FillByPrice"))*@
                <!-- Product sidebar Widget -->
                @await (Component.InvokeAsync("ProductNew"))
                @*@await (Component.InvokeAsync("CouponNew"))*@
            </div>
        </div>
    </div>
</main>

<!--shop main area are end-->
@section scripts{
    <script type="text/javascript">

        function onFillter(value) {
            // get value
            var pageSize = value;
            //
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + @catId + "&pageSize=" + pageSize + "&sortBy=" + '@sortBy' + "&sortDir=" + '@sortDir';
            window.history.pushState({ path: newurl }, '', newurl);
            location.reload();
        }

        function onFillter2(sortBy, sortDir) {
            // get value
            var valueBy = sortBy;
            var valueDir = sortDir;
            //
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + @catId + "&pageSize=" + @pageSize + "&sortBy=" + valueBy + "&sortDir=" + valueDir;
            window.history.pushState({ path: newurl }, '', newurl);
            location.reload();
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return 1;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}