﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model IList<ProductCategoryModel>
@{ 
    var about = ViewBag.About as AboutModel;
    var index = 1;
}
    
<section class="popular-categories section-padding">
    <div class="container wow animate__animated animate__fadeIn">
        <div class="section-title">
            <div class="title">
                <h3>Danh mục</h3>
            </div>
            <div class="slider-arrow slider-arrow-2 flex-right carausel-10-columns-arrow" id="carausel-10-columns-arrows"></div>
        </div>
        <div class="carausel-10-columns-cover position-relative">
            <div class="carausel-10-columns" id="carausel-10-columns">
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var category in Model)
                    {
                        <div class="card-2 bg-@index wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/san-pham-@category.Title.ToUrlFormat()-@category.Id"><img src="@category.Avatar" alt="@category.Title"></a>
                            </figure>
                            <h6><a href="/san-pham-@category.Title.ToUrlFormat()-@category.Id">@category.Title</a></h6>
                            @*<span>@category.Products.Count() sản phẩm</span>*@
                        </div>
                        index++;
                    }
                }
                
            </div>
        </div>
    </div>
</section>