﻿@model SoftNetCore.Model.Catalog.BranchModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý</a>
            </li>
            <li class="active">Hệ thống cửa hàng</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm mới</strong></h3>
            <div class="top-toolbar">
                @*<button class="btn btn-sm btn-primary radius" onclick="CKupdate();SubmitFormByID('frmBranch',false);">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        <span class="bigger-110 no-text-shadow">Lưu</span>
                    </button>*@
                <button class="btn btn-sm btn-primary radius" onclick="CKupdate();SubmitFormByID('frmBranch',true);">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminBranch" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmBranch" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminBranch">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Thông tin chi tiết
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Tỉnh/Thành</label>
                                            <div class="col-sm-9">
                                                <select class="col-xs-12 col-sm-12 radius" asp-for="ProvinceId" asp-items="ViewBag.ProvinceID"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Quận/Huyện</label>
                                            <div class="col-sm-9">
                                                <select class="col-xs-12 col-sm-12 radius" asp-for="DistrictId" asp-items="ViewBag.DistrictID"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Đối tác</label>
                                            <div class="col-sm-9">
                                                <select class="col-xs-12 col-sm-12 radius" asp-for="PartnerId" asp-items="ViewBag.PartnerID"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Tên đại lý</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="col-xs-12 col-sm-12" placeholder="Tên đại lý" asp-for="Title" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Số điện thoại</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="col-xs-12 col-sm-12" placeholder="Số điện thoại" asp-for="Phone" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="col-xs-12 col-sm-12" placeholder="Địa chỉ" asp-for="Address" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Vị trí bản đồ (iframe)</label>
                                            <div class="col-sm-9">
                                                <textarea class="col-xs-12 col-sm-12" placeholder="Vị trí bản đồ" asp-for="Map" rows="3"></textarea>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                                                <div class="col-sm-9">
                                                    <textarea class="col-xs-12 col-sm-12" placeholder="Mô tả" asp-for="Description"></textarea>
                                                </div>
                                            </div>*@
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Hình đại diện</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="100" height="100" src="@(Model.Avatar != null ? "/"+ Model.Avatar : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="Avatar" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="Hình Giới thiệu" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @*<div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right">Hình thu nhỏ</label>
                                                <div class="col-sm-9">
                                                    <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                        <div>
                                                            <img width="100" height="100" src="@(Model.Thumb != null ? "/"+ Model.Thumb : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderThumb(event, 'ImageThumb');">
                                                                <i class="ace-icon fa fa-cloud-upload"></i>
                                                            </span>
                                                            <input type="text" asp-for="Thumb" id="ImageThumb" class="col-xs-12 col-sm-12" placeholder="Hình Giới thiệu" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>*@
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                            <div class="col-sm-9">
                                                <span class="help-inline">
                                                    <label class="middle">
                                                        <input type="checkbox" asp-for="Status" />
                                                        <span class="lbl">Hiển thị</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                            Nội dung SEO
                                        </a>
                                    </h4>
                                </div>

                                <div class="panel-collapse collapse" id="collapseThree">
                                    <div class="panel-body">
                                        <div class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">Từ khóa SEO</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="MetaKeywords" class="form-control col-xs-12 col-sm-12" placeholder="Nhập cách nhau bằng dấu ( ; )" />
                                                </div>
                                            </div>
                                            <div class="space-4"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Tiêu đề SEO</label>
                                                <div class="col-sm-9">
                                                    <input type="text" asp-for="MetaTitle" class="form-control col-xs-12 col-sm-12" placeholder="Tiêu đề SEO" />
                                                </div>
                                            </div>
                                            <div class="space-4"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Mô tả SEO</label>
                                                <div class="col-sm-9">
                                                    <textarea asp-for="MetaDescription" class="form-control col-xs-12 col-sm-12" placeholder="Mô tả SEO" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-horizontal" role="form">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" onclick="CKupdate();SubmitFormByID('frmBranch',true);">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và đóng
                        </button>
                        <a class="btn" asp-area="Admin" asp-controller="AdminBranch" asp-action="Insert">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            CKupdate();

            //link
            //$('.date').datepicker({
            //    autoclose: true,
            //    todayHighlight: true,
            //    language: 'vi',
            //    format: 'mm/dd/yyyy'

            //})
            //    //show datepicker when clicking on the icon
            //    .next().on(ace.click_event, function () {
            //        $(this).prev().focus();
            //    });
            LoadDistrictByProvince();
        });

        $("#ProvinceId").change(function () {
            var provinceId = $("#ProvinceId").val();
            if (provinceId != '') {
                $.ajax({
                    type: 'GET',
                    url: '/admin/AdminBranch/LoadDataDrop',
                    async: true,
                    dataType: 'JSON',
                    data: { provinceId: provinceId },
                    success: function (data) {
                        $("#DistrictId").empty();
                        $.each(data, function (key, item) {
                            $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#DistrictId'));
                        });
                    }
                })
                    .fail(
                        function (jqXHR, textStatus, err) {

                        });
            }
        });

        function LoadDistrictByProvince() {
            var provinceId = $("#ProvinceId").val();
            if (provinceId != '') {
                $.ajax({
                    type: 'GET',
                    url: '/admin/AdminBranch/LoadDataDrop',
                    async: true,
                    dataType: 'JSON',
                    data: { provinceId: provinceId },
                    success: function (data) {
                        $("#DistrictId").empty();
                        $.each(data, function (key, item) {
                            $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#DistrictId'));
                        });
                    }
                })
                    .fail(
                        function (jqXHR, textStatus, err) {

                        });
            }
        }

        function CKupdate() {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
            return true;
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderThumb = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsethumb', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    @*<script type="text/javascript">
            CKEDITOR.config.height = 300;
            CKEDITOR.config.width = 'auto';
            CKEDITOR.replace("Map");
        </script>*@
    @*<script src="~/admin/app/BranchValidate.js"></script>*@
}
