﻿@using SoftNetCore.Model.Catalog;
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Đặt hàng thành công</title>
    <meta itemprop='name' content='VNSO SHOP | Đặt hàng thành công' />
    <meta property='og:title' content='VNSO SHOP | Đặt hàng thành công' />
    <meta name='twitter:title' content='VNSO SHOP | Đặt hàng thành công' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<!--breadcumb area start -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a><span>»</span></li>
                    <li><strong>Đặt hàng thành công</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb area end -->
<!--cart-checkout-area start -->
<div class="cart-checkout-area  pt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-area">
                    <div class="title-tab-product-category row">
                        <div class="col-lg-12 text-center pb-60">
                            <ul class="nav heading-style-3" role="tablist">
                                <li role="presentation">
                                    <a class="shadow-box" href="#"
                                       aria-controls="cart" role="tab" data-bs-toggle="tab">
                                        <span>B1</span>
                                        Giỏ hàng
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a class="shadow-box" href="#"
                                       aria-controls="checkout" role="tab"
                                       data-bs-toggle="tab"><span>B2</span>Thanh toán</a>
                                </li>
                                <li role="presentation">
                                    <a class="active shadow-box" href="#complete-order"
                                       aria-controls="complete-order" role="tab"
                                       data-bs-toggle="tab">
                                        <span>B3</span>
                                        Đặt hàng thành công
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="content-tab-product-category pb-70">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="complete-order">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="checkout-payment-area">
                                            <div class="checkout-total mt20 text-center">
                                                <img src="~/portal/images/icons/complete.png" />
                                                <h3 class="mt-10">Đặt hàng thành công</h3>
                                                <p>Nhân viên cửa hàng sẽ liên lạc với quý khách để xác nhận đơn hàng</p>
                                            </div>
                                            <div class="payment-section mt-20 clearfix">
                                                <div class="pay-toggle">
                                                    <div class="input-box mt-20">
                                                        <a class="btn-def btn2" href="/">Quay lại trang chủ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cart-checkout-area end-->
