﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model IList<ArticleModel>

<section class="section-padding pb-5 pt-50">
    <div class="container">
        <div class="section-title wow animate__animated animate__fadeIn">
            <div class="title">
                <h3 class="">Khuyến mãi mới</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="loop-grid pr-30">
                    <div class="row">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var article in Model)
                            {
                                <article class="col-xl-3 col-lg-6 col-md-6 hover-up mb-10 animated">
                                    <div class="post-thumb">
                                        <a href="\chi-tiet-khuyen-mai-@article.Title.ToUrlFormat()-@article.Id">
                                            <img class="border-radius-15" src="/@article.Thumb" alt="@article.Title">
                                        </a>
                                        @*<div class="entry-meta">
                                                <a class="entry-meta meta-2" href="blog-category-grid.html"><i class="fi-rs-heart"></i></a>
                                            </div>*@
                                    </div>
                                    <div class="entry-content-2">
                                        @*<h6 class="mb-10 font-sm"><a class="entry-meta text-muted" href="blog-category-grid.html">Side Dish</a></h6>*@
                                        <h5 class="post-title mb-15">
                                            <a href="\chi-tiet-khuyen-mai-@article.Title.ToUrlFormat()-@article.Id" title="@article.Title">
                                                @article.Title.Peel(48)
                                            </a>
                                        </h5>
                                        <div class="entry-meta font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on mr-10">@article.CreateTime.ToStringDateTime("dd/MM/yyyy")</span>
                                                <span class="hit-count has-dot mr-10">@article.ViewTime.ToInt() lượt xem</span>
                                                @*<span class="hit-count has-dot">4 mins read</span>*@
                                            </div>
                                        </div>
                                        <p class="post-exerpt mb-10">
                                            @article.Description.PeelDescription(75)
                                        </p>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                </div>
            </div>
            <!--End Col-lg-9-->
        </div>
    </div>
</section>