﻿@using System.Security.Claims;
@{
    Layout = null;
}

@{
    var userName = "";
    if (string.IsNullOrEmpty(User.Identity.Name) == false)
    {
        userName = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
    }
}

<li class="light-blue dropdown-modal">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="~/admin/images/avatars/no_image_available.png" alt="hình ảnh" />
        <span class="user-info">
            <small>Xin chào,</small>
            @userName
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>

    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#" onclick="ChangePassword();">
                <i class="ace-icon fa fa-user"></i>
                Đổi mật khẩu
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a asp-route="admin-logout">
                <i class="ace-icon fa fa-power-off"></i>
                Đăng xuất
            </a>
        </li>
    </ul>
</li>
