﻿@using System.Security.Claims;
@{
    var typeId = "";
    var userName = "";
    if (!string.IsNullOrEmpty(User.Identity.Name))
    {
        userName = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
        typeId = User.Claims.FirstOrDefault(x => x.Type.Equals("Type"))?.Value;
    }
    if (string.IsNullOrEmpty(typeId) || typeId != "1")
    {
        Context.Response.Redirect("/admin");
    }
}
<!--Menu-->
<ul class="nav nav-list">
    <li class="">
        <a href="~/admin/home/index">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard</span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="">
        <a asp-area="Admin" asp-controller="AdminOrder" asp-action="Index">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                Đơn hàng
            </span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Sản phẩm </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            @*<li class="">
                    <a asp-area="Admin" asp-controller="AdminAttribute" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Thuộc tính sản phẩm
                    </a>
                    <b class="arrow"></b>
                </li>*@
            <li class="">
                <a asp-area="Admin" asp-controller="AdminProductCategory" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh mục sản phẩm
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Sản phẩm
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminSale" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Ưu đãi (Sale)
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> Mã giảm giá </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a asp-area="Admin" asp-controller="AdminCouponType" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh mục mã giảm giá
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminCoupon" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Mã giảm giá
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Hot Deal </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a asp-area="Admin" asp-controller="AdminHotDeal" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh mục
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminHotDeal" asp-action="Products">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Sản phẩm áp dụng
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Quản lý khuyến mãi </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a asp-area="Admin" asp-controller="AdminPromotionCategory" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh mục
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminPromotion" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Khuyến mãi
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Quản lý tin tức </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a asp-area="Admin" asp-controller="AdminArticleCategory" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Danh mục
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminArticle" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Tin tức
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-tag"></i>
            <span class="menu-text"> Quản lý thông tin </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li>
                <a asp-area="Admin" asp-controller="AdminAbout" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Giới thiệu
                </a>
                <b class="arrow"></b>
            </li>
            @*<li class="">
                    <a asp-area="Admin" asp-controller="AdminAbout" asp-action="SizeChart">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Hướng dẫn chọn Size
                    </a>
                    <b class="arrow"></b>
                </li>*@
            @*<li class="">
                    <a asp-area="Admin" asp-controller="AdminProvince" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Phí giao hàng
                    </a>
                    <b class="arrow"></b>
                </li>*@
            @*<li class="">
                    <a asp-area="Admin" asp-controller="AdminBranch" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Hệ thống cửa hàng
                    </a>
                    <b class="arrow"></b>
                </li>*@
            <li class="">
                <a asp-area="Admin" asp-controller="AdminPartner" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Đối tác
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminFaq" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Hỏi đáp
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminFeedback" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Phản hồi khách hàng
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminAbout" asp-action="PolicyPayment">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Hướng dẫn thanh toán
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminAbout" asp-action="PolicySale">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chính sách khuyến mãi
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminAbout" asp-action="PolicyShipping">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Chính sách giao hàng
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminAbout" asp-action="PolicyTerms">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Điều khoản sử dụng
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-film"></i>
            <span class="menu-text"> Slider </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li>
                <a asp-area="Admin" asp-controller="AdminSlider" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Trang chủ
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text"> Khách hàng</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a asp-area="Admin" asp-controller="AdminCustomer" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Thông tin khách hàng
                    <b class="arrow"></b>
                </a>
            </li>
            <li class="">
                <a asp-area="Admin" asp-controller="AdminContact" asp-action="Index">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Liên hệ
                    <b class="arrow"></b>
                </a>
            </li>
        </ul>
    </li>
    @if (!string.IsNullOrEmpty(userName) && userName == "admin")
    {
        @*<li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text">Tài khoản</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Tài khoản hệ thống
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>*@
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">Hệ thống</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                @*<li class="">
                        <a asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Tài khoản hệ thống
                        </a>
                        <b class="arrow"></b>
                    </li>*@
                <li class="">
                    <a asp-area="Admin" asp-controller="AdminMerchantSetting" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Cài đặt token
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a asp-area="Admin" asp-controller="AdminConfigSystem" asp-action="Index">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Cấu hình đồng bộ
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    }

</ul>
<!--End Menu-->
