﻿<div class="sidebar-widget widget_instagram mb-50">
    <h5 class="section-title style-1 mb-30">Gallery</h5>
    <div class="instagram-gellay">
        <ul class="insta-feed">
            <li>
                <a href="#"><img class="border-radius-5" src="~/assets/imgs/shop/thumbnail-1.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img class="border-radius-5" src="~/assets/imgs/shop/thumbnail-2.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img class="border-radius-5" src="~/assets/imgs/shop/thumbnail-3.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img class="border-radius-5" src="~/assets/imgs/shop/thumbnail-4.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img class="border-radius-5" src="~/assets/imgs/shop/thumbnail-5.jpg" alt=""></a>
            </li>
            <li>
                <a href="#"><img class="border-radius-5" src="~/assets/imgs/shop/thumbnail-6.jpg" alt=""></a>
            </li>
        </ul>
    </div>
</div>