﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model AboutModel
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Giới thiệu</title>
    <meta itemprop='name' content='VNSO SHOP | Giới thiệu' />
    <meta property='og:title' content='VNSO SHOP | Giới thiệu' />
    <meta name='twitter:title' content='VNSO SHOP | Giới thiệu' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(Model?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(Model?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(Model?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(Model?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(Model?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(Model?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(Model?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(Model?.PageId)' />
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Giới thiệu
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img src="@Model.Thumb" alt="@Model.Title" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                        </div>
                        <div class="col-lg-6">
                            <div class="pl-25">
                                <h2 class="mb-30 text-center">Về chúng tôi</h2>
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                    </section>
                    <section class="text-center mb-50">
                        <h2 class="title style-3 mb-40">Chúng tôi cung cấp những gì?</h2>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="~/assets/imgs/theme/icons/icon-1.svg" alt="" />
                                    <h4>Giá và ưu đãi tốt</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="~/assets/imgs/theme/icons/icon-2.svg" alt="" />
                                    <h4>Sản phẩm đa dạng</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="~/assets/imgs/theme/icons/icon-3.svg" alt="" />
                                    <h4>Giao hành nhanh chóng</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="~/assets/imgs/theme/icons/icon-4.svg" alt="" />
                                    <h4>Đôi trả hàng lỗi</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="~/assets/imgs/theme/icons/icon-5.svg" alt="" />
                                    <h4>Sản phẩm chất lượng</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card">
                                    <img src="~/assets/imgs/theme/icons/icon-6.svg" alt="" />
                                    <h4>Ưu đãi hàng ngày</h4>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        @await (Component.InvokeAsync("Partner"))
        <section class="container mb-50 mt-30 d-none d-md-block">
            <div class="row about-count">
                <div class="col-lg-1-5 col-md-6 text-center mb-lg-0 mb-md-5">
                    <h1 class="heading-1"><span class="count">2</span>+</h1>
                    <h4>Năm hoạt động</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">1.100</span>+</h1>
                    <h4>Số thành viên</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">120</span>+</h1>
                    <h4>Số đối tác</h4>
                </div>
                <div class="col-lg-1-5 col-md-6 text-center">
                    <h1 class="heading-1"><span class="count">700</span>+</h1>
                    <h4>Đơn hoàn thành</h4>
                </div>
                <div class="col-lg-1-5 text-center d-none d-lg-block">
                    <h1 class="heading-1"><span class="count">2.210</span>+</h1>
                    <h4>Sản phẩm phân phối</h4>
                </div>
            </div>
        </section>
    </div>
</main>