﻿@using SoftNetCore.Model.Catalog;
@model AboutModel
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Hướng dẫn thanh toán</title>
    <meta itemprop='name' content='VNSO SHOP | Hướng dẫn thanh toán' />
    <meta property='og:title' content='VNSO SHOP | Hướng dẫn thanh toán' />
    <meta name='twitter:title' content='VNSO SHOP | Hướng dẫn thanh toán' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Hướng dẫn mua hàng
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                <div class="single-header style-2">
                                    <h2>Hướng dẫn mua hàng</h2>
                                    @*<div class="entry-meta meta-1 meta-3 font-xs mt-15 mb-15">
                                        <span class="post-by">By <a href="#">Jonh</a></span>
                                        <span class="post-on has-dot">9 April 2020</span>
                                        <span class="time-reading has-dot">8 mins read</span>
                                        <span class="hit-count has-dot">29k Views</span>
                                    </div>*@
                                </div>
                                <div class="single-content mb-50">
                                    @Html.Raw(Model.Content)
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 primary-sidebar sticky-sidebar">
                            <div class="widget-area">
                                @await (Component.InvokeAsync("Category"))
                                @await (Component.InvokeAsync("ProductNew"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>