﻿@using SoftNetCore.Model.Catalog;
@model AboutModel
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Hướng dẫn chọn size</title>
    <meta itemprop='name' content='VNSO SHOP | Hướng dẫn chọn size' />
    <meta property='og:title' content='VNSO SHOP | Hướng dẫn chọn size' />
    <meta name='twitter:title' content='VNSO SHOP | Hướng dẫn chọn size' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<!--breadcumb area start -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a><span>»</span></li>
                    <li><strong>Hướng dẫn chọn size</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb area end -->
<!-- about-us-area start-->
<div class="about-us-area ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title heading-style pos-rltv mb-50 text-center">
                    <h3 class="uppercase">Hướng dẫn chọn size</h3>
                </div>
            </div>
            <div class="about-us-wrap row">
                <div class="col-lg-12">
                    <div class="about-des">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>