﻿<!-- Fillter By Price -->
<div class="sidebar-widget price_range range mb-30">
    <h5 class="section-title style-1 mb-30">Fill by price</h5>
    <div class="price-filter">
        <div class="price-filter-inner">
            <div id="slider-range" class="mb-20"></div>
            <div class="d-flex justify-content-between">
                <div class="caption">From: <strong id="slider-range-value1" class="text-brand"></strong></div>
                <div class="caption">To: <strong id="slider-range-value2" class="text-brand"></strong></div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div class="list-group-item mb-10 mt-10">
            <label class="fw-900">Color</label>
            <div class="custome-checkbox">
                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                <label class="form-check-label" for="exampleCheckbox1"><span>Red (56)</span></label>
                <br>
                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox2" value="">
                <label class="form-check-label" for="exampleCheckbox2"><span>Green (78)</span></label>
                <br>
                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                <label class="form-check-label" for="exampleCheckbox3"><span>Blue (54)</span></label>
            </div>
            <label class="fw-900 mt-15">Item Condition</label>
            <div class="custome-checkbox">
                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="">
                <label class="form-check-label" for="exampleCheckbox11"><span>New (1506)</span></label>
                <br>
                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox21" value="">
                <label class="form-check-label" for="exampleCheckbox21"><span>Refurbished (27)</span></label>
                <br>
                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox31" value="">
                <label class="form-check-label" for="exampleCheckbox31"><span>Used (45)</span></label>
            </div>
        </div>
    </div>
    <a href="shop-grid-right.html" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i> Fillter</a>
</div>