﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel
@model IList<ProductViewModel>
<!-- Quick view -->
@await (Component.InvokeAsync("Quick", new { model = Model }))

<section class="product-tabs section-padding position-relative">
    <div class="container">
        <div class="section-title style-2 wow animate__animated animate__fadeIn">
            <div class="title">
                <h3>Sản phẩm mới</h3>
            </div>
            <ul class="nav nav-tabs links" id="myTab" role="tablist">
                @if (Model != null)
                {
                    //int index = 1;
                    <li class="nav-item" role="presentation">
                        <a class="show-all" href="/san-pham">
                            Xem tất cả
                            <i class="fi-rs-angle-right"></i>
                        </a>
                    </li>
                    @*<li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-0" data-bs-toggle="tab" data-bs-target="#tab-0" type="button" role="tab" aria-controls="tab-0" aria-selected="true">Xem tất cả</button>
                                </li>
                                @foreach (var item in Model.Select(z => z.ProductCategory).DistinctBy(z => z.Title))
                        {
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-tab-@index" data-bs-toggle="tab" data-bs-target="#tab-@index" type="button" role="tab" aria-controls="tab-@index" aria-selected="false">@item.Title</button>
                            </li>
                            index++;
                        }*@
                }
            </ul>
        </div>
        <!--End nav-tabs-->
        <div class="tab-content" id="myTabContent">
            @if (Model != null)
            {
                //int index = 1;
                <div class="tab-pane fade show active" id="tab-0" role="tabpanel" aria-labelledby="tab-0">
                    <div class="row product-grid-4">
                        @foreach (var product in Model)
                        {
                            <div class="col-lg-1-5 col-md-4 col-6 col-sm-6">
                                <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">
                                                <img class="default-img" src="@product.Thumb" alt="@product.Title">
                                                <img class="hover-img" src="@product.Thumb" alt="@product.Title">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Yêu thích" data-productid="@product.Id" class="action-btn addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>
                                            @*<a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>*@
                                            <a aria-label="Xem trước" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal-@product.Id"><i class="fi-rs-eye"></i></a>
                                        </div>
                                        <div class="product-badges product-badges-position product-badges-mrg">
                                            @if (product.IsProductNew.ToBool())
                                            {
                                                <span class="new">Mới</span>
                                            }
                                            else if (product.CommissionType != null && product.CommissionType.Equals("amount"))
                                            {
                                                <span class="hot">Bán chạy</span>
                                            }
                                            else if (product.CommissionValue.ToDecimal() > 0)
                                            {
                                                <span class="sale">Giảm giá</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        @*<div class="product-category">
                                                <a href="/san-pham-@product.ProductCategoryId">@product.ProductCategory.Title</a>
                                            </div>*@
                                        <h2><a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">@product.Title.Peel(45)</a></h2>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (4.0)</span>
                                        </div>
                                        @*<div>
                                                <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                                            </div>*@
                                    <div class="product-price mt-10">
                                        @if (product.CommissionValue.ToDecimal() > 0)
                                        {
                                            <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue.ToDecimal() / 100))</span>
                                            <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                            <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                                        }
                                        else
                                        {
                                            if (product.Price == null || product.Price == 0)
                                            {
                                                <span>Liên hệ</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                            }
                                        }
                                    </div>
                                        <div class="sold mt-15 mb-15">
                                            <div class="progress mb-5">
                                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                        </div>

                                        @if (string.IsNullOrEmpty(product.Aff_link))
                                        {
                                            <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                                <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="add-cart2">
                                                <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!--End product-grid-4-->
                </div>
            }
            <!--@@foreach (var item in Model.Select(z => z.ProductCategory).DistinctBy(z => z.Title))
            {
                <div class="tab-pane fade" id="tab-@@index" role="tabpanel" aria-labelledby="tab-@@index">
                    <div class="row product-grid-4">
                        @@foreach (var product in Model.Where(z => z.ProductCategoryId == item.Id))
                        {
                            <div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="/chi-tiet-san-pham-@@product.Id">
                                                <img class="default-img" src="@@product.Thumb" alt="">
                                                <img class="hover-img" src="@@product.Thumb" alt="">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Yêu thích" data-productid="@@product.Id" class="action-btn addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>-->
            <!--<a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>-->
            <!--<a aria-label="Xem trước" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal-@@product.Id"><i class="fi-rs-eye"></i></a>
                </div>
                <div class="product-badges product-badges-position product-badges-mrg">
                    @@if (product.IsProductNew)
                    {
                        <span class="new">Mới</span>
                    }
                    else if (product.CommissionType != null && product.CommissionType.Equals("amount"))
                    {
                        <span class="hot">Bán chạy</span>
                    }
                    else if (product.CommissionType != null && product.CommissionType.Equals("percent"))
                    {
                        <span class="sale">Khuyến mãi</span>
                    }
                </div>
            </div>
            <div class="product-content-wrap">
                <div class="product-category">
                    <a href="/san-pham-@@product.ProductCategoryId">@@product.ProductCategory.Title</a>
                </div>
                <h2><a href="/chi-tiet-san-pham-@@product.Id">@@product.Title.Peel()</a></h2>
                <div class="product-rate-cover">
                    <div class="product-rate d-inline-block">
                        <div class="product-rating" style="width: 90%"></div>
                    </div>
                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                </div>-->
            <!--<div>
                <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
            </div>-->
            <!--<div class="product-card-bottom">
                                    <div class="product-price">
                                        <span>@@String.Format("{0:0,0đ}", (product.CommissionType != null && product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue / 100))</span>
                                        <span class="old-price">@@String.Format("{0:0,0đ}", product.PriceSale)</span>
                                    </div>

                                    @@if (string.IsNullOrEmpty(product.Aff_link))
                                    {
                                        <div class="add-cart" data-quantity="1" data-id="@@product.Id" data-producimage="@@product.Avatar" data-producname="@@product.Title" data-producprice="@@(product.CommissionType != null && product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                            <a class="add" href="javascript:void(0)"><i class="fi-rs-shopping-cart mr-5"></i>Thêm </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="add-cart2">
                                            <a class="add" href="@@product.Aff_link" target="_blank"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>-->
            <!--End product-grid-4-->
            <!--</div>
            index++;
                }
            }-->
        </div>
        <!--End tab-content-->
    </div>
</section>
