﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel
@model IList<ProductViewModel>
<!-- Quick view -->
@if (Model != null && Model.Count > 0)
{
    @foreach (var product in Model)
    {
        <div class="modal fade custom-modal" id="quickViewModal-@product.Id" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    @if (product.ImageList != null && product.ImageList.Count() > 0)
                                    {
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="@product.Thumb" alt="product image">
                                            </figure>
                                            @foreach (var image in product.ImageList)
                                            {
                                                <figure class="border-radius-10">
                                                    <img src="@image" alt="product image">
                                                </figure>
                                            }
                                        </div>

                                        <div class="slider-nav-thumbnails">
                                            <div><img src="@product.Thumb" alt="product image"></div>
                                            @foreach (var image in product.ImageList)
                                            {
                                                <div><img src="@image" alt="product image"></div>
                                            }
                                        </div>
                                        <!-- THUMBNAILS -->
                                    }
                                    else
                                    {
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="@product.Thumb" alt="product image">
                                            </figure>
                                        </div>

                                        <div class="slider-nav-thumbnails">
                                            <div><img src="@product.Thumb" alt="product image"></div>
                                        </div>
                                        <!-- THUMBNAILS -->
                                    }

                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info pr-30 pl-30">
                                    @*<span class="stock-status out-stock"> Sale Off </span>*@
                                    <h4 class="title-detail">@product.Title</h4>
                                    <div class="product-detail-rating">
                                        <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width: 90%"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                        </div>
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            @if (product.CommissionValue.ToDecimal() > 0)
                                            {
                                                <span class="current-price text-brand">@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue.ToDecimal() / 100))</span>
                                                <span>
                                                    <span class="old-price font-md ml-15">@String.Format("{0:0,0đ}", product.Price)</span>
                                                    <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                                                </span>
                                            }
                                            else
                                            {
                                                if (product.Price == null || product.Price == 0)
                                                {
                                                    <span>Liên hệ</span>
                                                }
                                                else
                                                {
                                                    <span class="current-price text-brand">@String.Format("{0:0,0đ}", product.Price)</span>
                                                }
                                            }
                                        </div>
                                        @*<div class="product-price primary-color float-left">
                                                <span class="current-price text-brand">@String.Format("{0:0,0đ}", (product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue / 100))</span>
                                                <span>
                                                    <span class="save-price font-md color3 ml-15">@(product.CommissionValue == 0 ? 0 : product.CommissionValue)% Off</span>
                                                    <span class="old-price font-md ml-15">@String.Format("{0:0,0đ}", product.PriceSale)</span>
                                                </span>
                                            </div>*@

                                    </div>

                                    @*<div class="attr-detail attr-size mb-30">
                                            <strong class="mr-10">Size / Weight: </strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li><a href="#">50g</a></li>
                                                <li class="active"><a href="#">60g</a></li>
                                                <li><a href="#">80g</a></li>
                                                <li><a href="#">100g</a></li>
                                                <li><a href="#">150g</a></li>
                                            </ul>
                                        </div>*@
                                    <div class="detail-extralink mb-50">
                                        <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div>
                                        <div class="product-extra-link2 mt-15">
                                            @if (string.IsNullOrEmpty(product.Aff_link))
                                            {
                                                <button type="submit" class="button button-add-to-cart add-cart"
                                                        data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                                    <i class="fi-rs-shopping-cart"></i>Thêm vào giỏ
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="button button-add-to-cart" onclick="window.open('@product.Aff_link')" formtarget="_blank">
                                                    <i class="fi-rs-shopping-cart"></i>Mua hàng
                                                </button>
                                            }
                                            <a aria-label="Yêu thích" data-productId="@product.Id" class="action-btn hover-up addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>
                                            @*<a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>*@
                                        </div>
                                    </div>
                                    <div class="short-desc mb-30">
                                        <p class="font-lg">
                                            <h5>Thông tin sản phẩm</h5>
                                            @Html.Raw(@product.Description.PeelDescription(500))
                                        </p>
                                    </div>
                                    @*<div class="short-desc mb-30">
                                            <p class="font-lg">@Html.Raw(@Model.ShipPrice)</p>
                                        </div>*@
                                    @*<div class="font-xs">
                                            <ul class="mr-50 float-start">
                                                <li class="mb-5">Type: <span class="text-brand">Organic</span></li>
                                                <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                                <li>LIFE: <span class="text-brand">70 days</span></li>
                                            </ul>
                                            <ul class="float-start">
                                                <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                                <li class="mb-5">Tags: <a href="#" rel="tag">Snack</a>, <a href="#" rel="tag">Organic</a>, <a href="#" rel="tag">Brown</a></li>
                                                <li>Stock:<span class="in-stock text-brand ml-5">8 Items In Stock</span></li>
                                            </ul>
                                        </div>*@
                                </div>
                                <!-- Detail info -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}