﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model IList<SliderModel>


<section class="home-slider position-relative mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-5 dot-style-1 dot-style-1-position-2">
                        @foreach (var item in Model)
                        {
                            <div class="single-hero-slider single-animation-wrap" style="background-image: url(/@item.Avatar)">
                                <div class="slider-content">
                                    @*<h1 class="display-2 mb-40">
                                            Don’t miss amazing<br>
                                            grocery deals
                                        </h1>*@
                                    @*<p class="mb-65">
                                            Đăng ký nhận bản tin hàng ngày
                                        </p>
                                        <form class="form-subcriber d-flex">
                                            <input type="email" placeholder="Địa chỉ email">
                                            <button class="btn" type="submit">Theo dõi</button>
                                        </form>*@
                                </div>
                            </div>}
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </div>
    </div>
</section>
