﻿@using SoftNetCore.Data.Enums;
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<EnumDomains> Domains = (List<EnumDomains>)ViewBag.EnumDomains; }


<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý sản phẩm</a>
            </li>
            <li class="active">Danh mục</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Danh mục</strong></h3>
            <div class="top-toolbar">
                <a class="btn btn-sm btn-primary radius" asp-area="Admin" asp-controller="AdminProductCategory" asp-action="Insert">
                    <i class="ace-icon ace-icon glyphicon glyphicon-plus bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Thêm mới</span>
                </a>
                @*<a onclick='FetchProductCategory();' class="btn btn-sm btn-warning radius">
                    <i class='ace-icon glyphicon glyphicon-share magin-right-none'></i>
                    <span class="bigger-110 no-text-shadow">Đồng bộ</span>
                </a>*@
            </div>
        </div>
        <div class="clearfix"></div>

        @*<div class="row form-function">
                <div class="col-sm-4">
                    <select class="form-control width-100 radius" id="domain">
                        @foreach (var domain in Domains)
                        {
                            <option value="@domain">@domain.ToString()</option>
                        }
                    </select>
                </div>
                <button class="btn btn-sm btn-primary radius" onclick="productService.fetchProductCategory();">
                    <i class="ace-icon glyphicon glyphicon-download bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Cập nhật danh mục</span>
                </button>
            </div>*@

        <div class="row form-function">
            <div class="col-sm-8">
                <input type="text" id="form-search" placeholder="Tìm kiếm" class="col-xs-10 col-sm-5 width-100 radius" onkeydown="Search(arguments[0] || event);">
            </div>
            <div class="col-sm-2">
                <select class="form-control width-100 radius" id="form-select-search" onchange="Search(arguments[0] || event);">
                    <option value="">Tất cả</option>
                    <option value="1">Hiển thị</option>
                    <option value="0">Tạm ẩn</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary radius" onclick="Search(arguments[0] || event);">
                <i class="ace-icon glyphicon glyphicon-search bigger-110"></i>
                <span class="bigger-110 no-text-shadow">Tìm kiếm</span>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid-table">
                </table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/app/ProductCategory.js"></script>
    <script src="~/admin/app/product-services.js"></script>
    @*<script type="text/javascript">
        function UpdateStatus(id) {
            $.ajax({
                type: 'POST',
                url: '/Admin/AdminProductCategory/UpdateStatus',
                //async: true,
                //dataType: 'html',
                data: { id: id },
                success: function (result) {
                    if (result.Status) {
                        toastr.success("Cập nhật thành công.", "Thành công !");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500); //delay is in milliseconds
                    }
                    else {
                        toastr.error("Lỗi hệ thống.", "Không thành công!");
                    }
                }
            })
                .fail(
                    function (jqXHR, textStatus, err) {

                    });
        }
    </script>*@
<script type="text/javascript">
    function ProcessFetchProductDataByCategory(id) {
        $.ajax({
            type: 'GET',
            url: '/Admin/AdminProduct/ProcessFetchProductDataByCategory',
            //async: true,
            //dataType: 'html',
            data: { productCategoryId: id },
            success: function (result) {
                if (result.Status) {
                    toastr.success("Cập nhật thành công.", "Thành công !");
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000); //delay is in milliseconds
                }
                else {
                    toastr.error("Lỗi hệ thống.", "Không thành công!");
                }
            }
        })
            .fail(
                function (jqXHR, textStatus, err) {

                });
    }</script>
    <script type="text/javascript">
        function FetchProductCategory() {
            $.ajax({
                type: 'POST',
                url: '/Admin/AdminProductCategory/FetchProductCategory',
                //async: true,
                //dataType: 'html',
                data: { domainId: "DIMUADI" },
                success: function (result) {
                    if (result.Status) {
                        toastr.success("Cập nhật thành công.", "Thành công !");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000); //delay is in milliseconds
                    }
                    else {
                        toastr.error("Lỗi hệ thống.", "Không thành công!");
                    }
                }
            })
                .fail(
                    function (jqXHR, textStatus, err) {

                    });
        }</script>
}


