﻿@model SoftNetCore.Model.Catalog.ProductCategoryModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Trang chủ</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminProductCategory" asp-action="Index">Danh mục sản phẩm</a>
            </li>
            <li class="active">Thêm mới</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm danh mục</strong></h3>
            <div class="top-toolbar">
                <button onclick="SubmitFormByID('frmProductCat',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminProductCategory" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmProductCat" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminProductCategory">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Danh mục cha</label>
                            <div class="col-sm-9">
                                <select class="col-xs-12 col-sm-12 radius" asp-for="ParentId" asp-items="ViewBag.ProductCategoryId">
                                    <option disabled selected>--- Danh mục cha ---</option>
                                </select>
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mã danh mục</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="ProductCategoryId" class="col-xs-12 col-sm-12" placeholder="Mã danh mục" />
                                <span asp-validation-for="ProductCategoryId" class="text-danger"></span>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Tên danh mục</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Nhập tên danh mục" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right"></label>
                            <div class="col-sm-9" id="merchantProductByCategorySession">
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right"></label>
                            <button type="button" onclick="addMerchantProductCategory()">+ Thêm cấu hình</button>
                        </div>
                    </div>

                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                        <div class="col-sm-9">
                            <textarea asp-for="Description" class="col-xs-12 col-sm-12" placeholder="Mô tả"> </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Logo</label>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-left-0px padding-right-0px">
                                <div>
                                    <img width="100" height="100" src="@(Model.Logo != null ? "/"+ Model.Logo : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderThumb(event, 'ImageThumb');">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                    </span>
                                    <input type="text" asp-for="Logo" id="ImageThumb" class="col-xs-12 col-sm-12" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Hình đại diện</label>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-left-0px padding-right-0px">
                                <div>
                                    <img width="100" height="100" src="@(Model.Thumb != null ? "/"+ Model.Thumb : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderListImage(event, 'ImageList');">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                    </span>
                                    <input type="text" asp-for="Thumb" id="ImageList" class="col-xs-12 col-sm-12" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Banner (1920x450)</label>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-left-0px padding-right-0px">
                                <div>
                                    <img width="250" src="@(Model.Avatar != null ? "/"+ Model.Avatar : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                    </span>
                                    <input type="text" asp-for="Avatar" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Vị trí</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Position" class="col-xs-10 col-sm-5" placeholder="Vị trí" />
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                        <div class="col-sm-9">
                            <span class="help-inline">
                                <label class="middle">
                                    <input type="checkbox" asp-for="Status" />
                                    <span class="lbl">Hiển thị</span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">Từ khóa SEO</label>
                        <div class="col-sm-9">
                            <input asp-for="MetaKeywords" class="form-control col-xs-12 col-sm-12" placeholder="Nhập cách nhau bằng dấu ( ; )" />
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Tiêu đề SEO</label>
                        <div class="col-sm-9">
                            <input asp-for="MetaTitle" class="form-control col-xs-12 col-sm-12" placeholder="Tiêu đề SEO" />
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Mô tả SEO</label>
                        <div class="col-sm-9">
                            <textarea asp-for="MetaDescription" class="form-control col-xs-12 col-sm-12" placeholder="Mô tả SEO"> </textarea>
                        </div>
                    </div>
                </form>
                <div class="clearfix">
                    <div class="col-md-offset-3 col-md-9">
                        <button onclick="SubmitFormByID('frmProductCat',true);" class="btn btn-info">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và tiếp tục
                        </button>
                        <a class="btn" asp-area="Admin" asp-controller="AdminProductCategory" asp-action="Insert">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderThumb = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsethumb', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderListImage = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browselistimage', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    <script src="~/admin/app/ProductCategoryValidate.js"></script>
    <script src="~/admin/app/product-category.service.js" asp-append-version="true"></script>
}
