﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Request;
@using SoftNetCore.Common.Helpers;
@model RatingRequest;

<div class="modal modal-custom fade" role="dialog" id="rating_view_modal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title">Đánh giá đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="">
                        <form method="post" id="frmRating" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="PostRating" asp-controller="Order" class="login-side">
                            <input type="hidden" asp-for="OrderId" name="OrderId">
                            <div class="input-box mb-20">
                                <label class="control-label col-lg-12">Đánh giá</label>
                                <select class="selectpicker select-custom col-lg-2" asp-for="Rating" asp-items="ViewBag.RatingList">
                                </select>
                            </div>
                            <div class="input-box">
                                <label class="control-label">Nội dung đánh giá*</label>
                                <textarea asp-for="Content" id="Content" name="Content" placeholder="Nhập nội dung" maxlength="150" class="info"></textarea>
                            </div>
                        </form>
                        <div class="">
                            <div class="input-box tci-box">
                                <a href="#" class="btn-def btn2" onclick="ValidateFrmRating();">Xác nhận</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/portal/function/form-rating.js"></script>