﻿@using SoftNetCore.Model.Catalog;
@{
    var customer = ViewBag.Customer as CustomerModel;
}

<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="index.html"><img src="~/assets/imgs/theme/logo.jpg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Tìm kiếm">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu font-heading">
                        <li class="menu-item-has-children">
                            <a href="/">TRANG CHỦ</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/deal-list">HOT DEAL</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/san-pham">SẢN PHẨM</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/coupon">COUPON</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/khuyen-mai">KHUYẾN MÃI</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/tin-tuc">TIN TỨC</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/lien-he">LIÊN HỆ</a>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap">
                @*<div class="single-mobile-header-info">
                        <a href="page-contact.html"><i class="fi-rs-marker"></i> Our location </a>
                    </div>*@
                @if (customer == null)
                {
                    <div class="single-mobile-header-info">
                        <a href="/dang-nhap"><i class="fi-rs-user"></i>Đăng nhập / Đăng ký </a>
                    </div>
                }
                else
                {
                    <div class="single-mobile-header-info">
                        <a href="/tai-khoan"><i class="fi-rs-user"></i>Tài khoản</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/tai-khoan"><i class="fi fi-rs-location-alt mr-10"></i>Đơn hàng</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/yeu-thich"><i class="fi fi-rs-heart mr-10"></i>Yêu thích</a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="/dang-xuat"><i class="fi fi-rs-sign-out mr-10"></i>Đăng xuất</a>
                    </div>
                }
                <div class="single-mobile-header-info">
                    <a href="#"><i class="fi-rs-headphones"></i>+ 0974276794</a>
                </div>
            </div>
            <div class="mobile-social-icon mb-50">
                <h6 class="mb-15">Theo dõi</h6>
                <a href="#"><img src="~/assets/imgs/theme/icons/icon-facebook-white.svg" alt=""></a>
                <a href="#"><img src="~/assets/imgs/theme/icons/icon-twitter-white.svg" alt=""></a>
                <a href="#"><img src="~/assets/imgs/theme/icons/icon-instagram-white.svg" alt=""></a>
                <a href="#"><img src="~/assets/imgs/theme/icons/icon-pinterest-white.svg" alt=""></a>
                <a href="#"><img src="~/assets/imgs/theme/icons/icon-youtube-white.svg" alt=""></a>
            </div>
            <div class="site-copyright">Copyright 2022 © Nest. All rights reserved.</div>
        </div>
    </div>
</div>