﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model IList<BannerModel>

<div class="sidebar-widget product-sidebar mb-30 p-30 bg-grey border-radius-10">
    <div class="title">
        <h5 class="section-title style-1 mb-30">CÁC ƯU ĐÃI HOT</h5>
    </div>
    @if (Model != null)
    {
        foreach (var banner in Model)
        {
            <div class="single-post single-product clearfix">
                <div class="image ">
                    <img src="@banner.AvatarHome.Trim('[', '"', ']')" alt="@banner.Title">
                </div>
                <div class="content pt-10">
                    <a href="/deal-hot-@banner.BannerId" title="@banner.Title">@banner.Title</a>
                </div>
            </div>
        }
    }
</div>
