﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li class="active">Đơn đặt hàng</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Đơn đặt hàng</strong></h3>
            @*<div class="top-toolbar">
                    <a asp-area="Admin" asp-controller="AdminOrder" asp-action="Insert" class="btn btn-sm btn-primary radius">
                        <i class="ace-icon ace-icon glyphicon glyphicon-plus bigger-110"></i>
                        <span class="bigger-110 no-text-shadow">Thêm mới</span>
                    </a>
                </div>*@
        </div>
        <div class="clearfix"></div>
        <div class="row form-function">
            <div class="col-sm-8">
                <input type="text" id="form-search" placeholder="Tìm kiếm" class="col-xs-10 col-sm-5 width-100 radius" onkeydown="Search(arguments[0] || event);">
            </div>
            <div class="col-sm-2">
                <select class="form-control width-100 radius" id="form-select-search" onchange="Search(arguments[0] || event);">
                    <option value="">Tất cả</option>
                    <option value="1">Chưa xử lý</option>
                    <option value="2">Đã xử lý</option>
                    <option value="3">Đang giao hàng</option>
                    <option value="4">Đã giao hàng</option>
                    <option value="5">Hủy đơn hàng</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary radius" onclick="Search(arguments[0] || event);">
                <i class="ace-icon glyphicon glyphicon-search bigger-110"></i>
                <span class="bigger-110 no-text-shadow">Tìm kiếm</span>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</div>
<div id="divreport" style="display:none;"></div>

<div id="ShowOrderDetail" class="modal fade" data-url="@Url.Action("Detail","AdminOrder")" role="dialog"></div>
<div id="UpdateStatusOrder" class="modal fade" data-url="@Url.Action("UpdateStatusOrder","AdminOrder")" role="dialog"></div>
<div id="Update" class="modal fade" data-url="@Url.Action("Update","AdminOrder")" role="dialog"></div>

@section scripts{
    <script src="~/admin/app/Order.js"></script>

    <script type="text/javascript">
        function ShowOrderDetail(id) {
            var url = $("#ShowOrderDetail").data('url') + "/" + id;
            $.get(url, function (data) {
                $("#ShowOrderDetail").html(data);
                $("#ShowOrderDetail").modal('show');
            });
        }

        function UpdateStatusOrder(id, status) {
            var url = $("#UpdateStatusOrder").data('url');
            var data = { id: id, status: status };
            $.get(url, data, function (data) {
                $("#UpdateStatusOrder").html(data);
                $("#UpdateStatusOrder").modal('show');
            });
        }

        function Update(id) {
            var url = $("#Update").data('url') + "/" + id;
            $.get(url, function (data) {
                $("#Update").html(data);
                $("#Update").modal('show');
            });
        }

        function LoadCountryByProvince() {
            var ID = $("#ddlProvince").val();
            if (ID !== '') {
                $.ajax({
                    type: 'GET',
                    url: '/AdminOrder/LoadDataDrop',
                    async: true,
                    dataType: 'JSON',
                    data: { id: ID },
                    success: function (data) {
                        $("#ddlCountry").empty();
                        $.each(data.DataDrop, function (key, item) {
                            $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#ddlCountry'));
                        });

                        //Ship
                        $("#txtFeeShip").val(data.FeeShip);
                    }
                })
                    .fail(
                        function (jqXHR, textStatus, err) {

                        });
            }
        }

        function printDiv(ID) {
            $.ajax({
                type: 'GET',
                url: '/Admin/Report/ReportOrder',
                async: true,
                dataType: 'html',
                data: { id: ID },
                success: function (result) {
                    $('#divreport').html(result);
                    setTimeout(function () {
                        var printContents = document.getElementById('divreport').innerHTML;
                        var originalContents = document.body.innerHTML;
                        document.body.innerHTML = printContents;
                        window.print();
                        document.body.innerHTML = originalContents;
                        $('#divreport').html('');
                    }, 500);
                }
            })
                .fail(
                    function (jqXHR, textStatus, err) {

                    });
        }

        function UpdateRating(id) {
            $.ajax({
                type: 'POST',
                url: '/Admin/AdminOrder/UpdateRating',
                //async: true,
                //dataType: 'html',
                data: { id: id },
                success: function (result) {
                    if (result.Status) {
                        toastr.success("Đánh giá đã được xác nhận!","Thành công !");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500); //delay is in milliseconds
                    }
                    else {
                        toastr.error("Đơn hàng chưa hoàn thành! | Đơn hàng chưa được đánh giá! | Đánh giá đã được xác nhận!", "Không thành công !");
                    }
                }
            })
                .fail(
                    function (jqXHR, textStatus, err) {

                    });
        }
    </script>
}


