﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Model.Request;
@{
    Layout = null;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Cập nhật trạng thái đơn hàng</h4>
        </div>
        <div class="modal-body">
            <form method="post" id="frmUpdateStatusOrder" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="UpdateStatus" asp-controller="AdminOrder">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" id="id" name="id" value="@ViewBag.ID" />
                <div class="form-group">
                    <label>Tình trạng đơn hàng</label>
                    <select class="form-control" name="status" id="status">
                        @if (ViewBag.Status != null)
                        {
                            foreach (var item in ViewBag.Status as List<OrderStatusRequest>)
                            {
                                if (ViewBag.OrderStatus == item.ID)
                                {
                                    <option selected value="@item.ID">@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.ID">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="SubmitFormByID('frmUpdateStatusOrder');" class="btn btn-primary">Lưu</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
