﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model IList<ArticleModel>

<div class="blog-area pt-30 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title heading-style pos-rltv mb-50 text-center">
                    <h3 class="uppercase">Tin tức & Sự kiện</h3>
                </div>
                <div class="total-blog">
                    @foreach (var item in Model)
                    {
                        <div class="blog-item">
                            <div class="single-blog">
                                <div class="blog-img pos-rltv product-overlay">
                                    <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">
                                        <img src="/@item.Thumb" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="blog-content">
                                    <div class="blog-title">
                                        <h5>
                                            <a asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">@item.Title</a>
                                        </h5>
                                        <div class="like-comments-date">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <i class="zmdi zmdi-comment-outline"></i>@item.ViewTime.ToInt()
                                                        Lượt xem
                                                    </a>
                                                </li>
                                                <li class="blog-date">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-calendar-alt"></i>@item.CreateTime.ToStringDateTime("dd/MM/yyyy")
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="blog-text">
                                            <p>
                                                @item.Description.SubStringWithLength(165, false, true)
                                            </p>
                                        </div>
                                        <a class="read-more montserrat" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>