﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model IList<ProductViewModel>
<!-- Quick view -->
@await (Component.InvokeAsync("Quick", new { model = Model }))

<section class="section-padding pb-5">
    <div class="container">
        <div class="section-title wow animate__animated animate__fadeIn">
            <div class="title">
                <h3 class="">Sản phẩm bán chạy</h3>
            </div>
            @*<ul class="nav nav-tabs links" id="myTab-2" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="nav-tab-one-1" data-bs-toggle="tab" data-bs-target="#tab-one-1" type="button" role="tab" aria-controls="tab-one" aria-selected="true">Featured</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two-1" data-bs-toggle="tab" data-bs-target="#tab-two-1" type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-three-1" data-bs-toggle="tab" data-bs-target="#tab-three-1" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                    </li>
                </ul>*@
        </div>
        <div class="row">
            <div class="col-xl-3 d-none d-xl-flex wow animate__animated animate__fadeIn">
                <div class="banner-img style-2">
                    <div class="banner-text">
                        <h2 class="mb-100">Mang hàng về nhà bạn</h2>
                        <a href="/san-pham" class="btn btn-xs">Mua hàng <i class="fi-rs-arrow-small-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 col-md-12 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
                <div class="tab-content" id="myTabContent-1">
                    @if (Model != null)
                    {
                        <div class="tab-pane fade show active" id="tab-one-1" role="tabpanel" aria-labelledby="tab-one-1">
                            <div class="carausel-4-columns-cover arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-2 carausel-4-columns-arrow" id="carausel-4-columns-arrows"></div>
                                <div class="carausel-4-columns carausel-arrow-center" id="carausel-4-columns">
                                    @foreach (var product in Model)
                                    {
                                        <div class="product-cart-wrap">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">
                                                        <img class="default-img hot-img" src="@product.Thumb" alt="@product.Title">
                                                        <img class="hover-img" src="@product.Thumb" alt="@product.Title">
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                    <a aria-label="Xem trước" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal-@product.Id"> <i class="fi-rs-eye"></i></a>
                                                    <a aria-label="Yêu thích" data-productId="@product.Id" class="action-btn small hover-up addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>
                                                    @*<a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>*@
                                                </div>
                                                <div class="product-badges product-badges-position product-badges-mrg">
                                                    @if (product.IsProductNew.ToBool())
                                                    {
                                                        <span class="new">Mới</span>
                                                    }
                                                    else if (product.CommissionType != null && product.CommissionType.Equals("amount"))
                                                    {
                                                        <span class="hot">Bán chạy</span>
                                                    }
                                                    else if (product.CommissionValue.ToDecimal() > 0)
                                                    {
                                                        <span class="sale">Giảm giá</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <div class="product-category">
                                                    @*<a href="\san-pham-@product.ProductCategoryId">@product.ProductCategory.Title</a>*@<a href="\san-pham-@product.ProductCategoryId"></a>
                                                </div>
                                                <h2><a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">@product.Title.Peel(54)</a></h2>
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width: 80%"></div>
                                                </div>
                                                <div class="product-price mt-10">
                                                    @if (product.CommissionValue.ToDecimal() > 0)
                                                    {
                                                        <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue.ToDecimal() / 100))</span>
                                                        <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                                        <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                                                    }
                                                    else
                                                    {
                                                        if (product.Price == null || product.Price == 0)
                                                        {
                                                            <span>Liên hệ</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                                        }
                                                    }
                                                </div>
                                                <div class="sold mt-15 mb-15">
                                                    <div class="progress mb-5">
                                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                    @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                                </div>

                                                @if (string.IsNullOrEmpty(product.Aff_link))
                                                {
                                                    <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                                        <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="add-cart2">
                                                        <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!--End tab-content-->
            </div>
            <!--End Col-lg-9-->
        </div>
    </div>
</section>