﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model IList<BannerModel>

<section class="home-slider position-relative mb-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="home-slide-cover mt-30">
                    <div class="hero-slider-1 style-5 dot-style-1 dot-style-1-position-2">
                        @foreach (var item in Model)
                        {<a href="\deal-hot-@item.Id" title="@item.Title">
                                <div class="single-hero-slider single-animation-wrap" style="background-image: url(@item.AvatarDetail.Trim('[','"',']'))">
                                    <div class="slider-content">
                                        @*<h1 class="display-2 mb-40">
                                                Don’t miss amazing<br>
                                                grocery deals
                                            </h1>*@
                                        @*<p class="mb-65">
                                                Đăng ký nhận bản tin hàng ngày
                                            </p>
                                            <form class="form-subcriber d-flex">
                                                <input type="email" placeholder="Địa chỉ email">
                                                <button class="btn" type="submit">Theo dõi</button>
                                            </form>*@
                                    </div>
                                </div>
                            </a>}
                    </div>
                    <div class="slider-arrow hero-slider-1-arrow"></div>
                </div>
            </div>
        </div>
    </div>
</section>


@*<section class="banners mb-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay="0">
                        <img src="~/assets/imgs/banner/banner-1.png" alt="">
                        <div class="banner-text">
                            <h4>
                                Everyday Fresh & <br>Clean with Our<br>
                                Products
                            </h4>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                        <img src="~/assets/imgs/banner/banner-2.png" alt="">
                        <div class="banner-text">
                            <h4>
                                Make your Breakfast<br>
                                Healthy and Easy
                            </h4>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-md-none d-lg-flex">
                    <div class="banner-img mb-sm-0 wow animate__animated animate__fadeInUp" data-wow-delay=".4s">
                        <img src="~/assets/imgs/banner/banner-3.png" alt="">
                        <div class="banner-text">
                            <h4>The best Organic <br>Products Online</h4>
                            <a href="shop-grid-right.html" class="btn btn-xs">Shop Now <i class="fi-rs-arrow-small-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@