﻿@using SoftNetCore.Model.Request;
@using System.Threading.Tasks;
@using System.Security.Claims;
@model AuthenticateRequest

@{
    var userId = "";
    var userName = "";
    var typeId = "";
    if (!string.IsNullOrEmpty(User.Identity.Name))
    {
        userId = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.Name))?.Value;
        userName = User.Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.NameIdentifier))?.Value;
        typeId = User.Claims.FirstOrDefault(x => x.Type.Equals("Type"))?.Value;
    }
}

@if (userId == "" || typeId != "2")
{
    <div class="col-lg-6 mb-sm-15 mb-lg-0 mb-md-3">
        <div class="toggle_info">
            <span><i class="fi-rs-user mr-10"></i><span class="text-muted font-lg">Đã có tài khoản?</span> <a href="#loginform" data-bs-toggle="collapse" class="collapsed font-lg" aria-expanded="false">Nhấn vào để đăng nhập</a></span>
        </div>
        <div class="panel-collapse collapse login_form" id="loginform">
            <div class="panel-body">
                <p class="mb-30 font-sm">Nếu bạn đã mua sắm với chúng tôi trước đây, vui lòng nhập thông tin chi tiết của bạn vào bên dưới. Nếu bạn là khách hàng mới, vui lòng tiếp tục với Thanh toán.</p>
                <form id="frmLoginCheckout">
                    <input type="hidden" asp-for="ReturnUrl" name="ReturnUrl" placeholder="">
                    <div class="form-group">
                        <input type="text" asp-for="Username" id="txtUsername" name="Username" placeholder="Tài khoản*">
                    </div>
                    <div class="form-group">
                        <input type="password" asp-for="Password" id="txtPassword" name="Password" placeholder="Nhập mật khẩu*">
                    </div>
                    <div class="login_footer form-group">
                        <div class="chek-form">
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" asp-for="RememberMe" value="">
                                <label class="form-check-label" for="remember"><span>Nhớ mật khẩu</span></label>
                            </div>
                        </div>
                        <a href="/quen-mat-khau">Quên mật khẩu?</a>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-md" onclick="SubmitLoginCheckOut('frmLoginCheckout');">Đăng nhập</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<script src="~/portal/function/form-login2.js"></script>