﻿@model SoftNetCore.Model.Catalog.ProvinceModel
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý thông tin</a>
            </li>
            <li class="active">Phí giao hàng</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="page-header">
            <h3><strong>Cập nhật</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="SubmitFormByID('frmProvince',false);">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu</span>
                </button>
                <button onclick="SubmitFormByID('frmProvince',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminProvince" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal" role="form">
                    <form method="post" id="frmProvince" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Update" asp-controller="AdminProvince">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" asp-for="Id" class="col-xs-12 col-sm-12" />
                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                <input type="hidden" asp-for="CreateTime" class="col-xs-12 col-sm-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Câu hỏi</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Câu hỏi" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Phí giao hàng</label>
                            <div class="col-sm-9">
                                <input type="number" asp-for="FeeShip" class="form-control col-xs-12 col-sm-12" placeholder="Phí giao hàng" />
                            </div>
                        </div>
                    </form>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button onclick="SubmitFormByID('frmProvince',false);" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Kiểm tra và lưu
                            </button>
                            <a class="btn" asp-area="Admin" asp-controller="AdminProvince" asp-action="Update" asp-route-id="@Model.Id">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script src="~/admin/app/ProvinceValidate.js"></script>
}



