﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.DataAccess.ViewModel;
@model List<CouponViewModel>
@{
    var info = ViewBag.info as AboutModel;
    var catId = (int)ViewBag.CatId;
    var titleCat = (string)ViewBag.TitleCat;
    int pageSize = ViewBag.PageSize;
    string sortBy = ViewBag.SortBy;
    string sortDir = ViewBag.sortDir;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Coupon</title>
    <meta itemprop='name' content='VNSO SHOP | Coupon' />
    <meta property='og:title' content='VNSO SHOP | Coupon' />
    <meta name='twitter:title' content='VNSO SHOP | Coupon' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}
<!-- Quick view -->
@await (Component.InvokeAsync("QuickCoupon", new { model = Model.ToList() }))
<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Coupon</h1>
                        <div class="breadcrumb">
                            <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                            @if (!string.IsNullOrEmpty(titleCat))
                            {
                                <span></span>@titleCat
                            }
                            else
                            {
                                <span></span><label>Mã giảm giá</label>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <div class="row flex-row-reverse">
            <div class="col-xl-9">
                <div class="shop-product-fillter">
                    <div class="totall-product">
                        <p>Tìm thấy <strong class="text-brand">@ViewBag.Total</strong> mã giảm giá!</p>
                    </div>
                    <div class="sort-by-product-area">
                        <div class="sort-by-cover mr-10">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps"></i>Hiển thị:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span> @pageSize <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a href="#" onclick="onFillter(50)" class="@(pageSize==50 ? "active" : "" )" data-value="50">50</a></li>
                                    <li><a href="#" onclick="onFillter(100)" class="@(pageSize==100 ? "active" : "" )" data-value="100">100</a></li>
                                    <li><a href="#" onclick="onFillter(150)" class="@(pageSize==150 ? "active" : "" )" data-value="150">150</a></li>
                                    <li><a href="#" onclick="onFillter(200)" class="@(pageSize==200 ? "active" : "" )" data-value="200">200</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sort-by-cover">
                            <div class="sort-by-product-wrap">
                                <div class="sort-by">
                                    <span><i class="fi-rs-apps-sort"></i>Sắp xếp:</span>
                                </div>
                                <div class="sort-by-dropdown-wrap">
                                    <span>@ViewBag.TitleSort <i class="fi-rs-angle-small-down"></i></span>
                                </div>
                            </div>
                            <div class="sort-by-dropdown">
                                <ul>
                                    <li><a href="#" onclick="onFillter2('Id','DESC')" class="@(sortBy=="Id" && sortDir == "DESC" ? "active" : "" )">Mặc định</a></li>
                                    <li><a href="#" onclick="onFillter2('StartDate','ASC')" class="@(sortBy=="StartDate" && sortDir == "ASC" ? "active" : "" )">Cũ nhất</a></li>
                                    <li><a href="#" onclick="onFillter2('StartDate','DESC')" class="@(sortBy=="StartDate" && sortDir == "DESC" ? "active" : "" )">Mới nhất</a></li>
                                    @*<li><a href="#" onclick="onFillter2('EndDate','ASC')" class="@(sortBy=="EndDate" && sortDir == "ASC" ? "active" : "" )">Gần hết hạn</a></li>*@
                                    @*<li><a href="#" onclick="onFillter2('EndDate','DESC')" class="@(sortBy=="EndDate" && sortDir == "DESC" ? "active" : "" )">Mới nhất</a></li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-grid">
                    @if (Model.Count() > 0)
                    {
                        @foreach (var coupon in Model)
                        {
                            <div class="col-md-3 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a href="javascript:void(0)">
                                                <img class="default-img" src="@coupon.Image" alt="@coupon.Title">
                                                <img class="hover-img" src="@coupon.Image" alt="@coupon.Title">
                                            </a>
                                        </div>
                                        <div class="product-action-1">
                                            <a aria-label="Xem chi tiết" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal-@coupon.Id"><i class="fi-rs-eye"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="javascript:void(0)">Còn lại: @coupon.PercentageUsed%</a>
                                        </div>
                                        <h2><a href="javascript:void(0)">@coupon.Title</a></h2>
                                        <div class="product-rate-cover">
                                            <span>HSD: @coupon.EndDate</span>
                                        </div>
                                        <div class="product-rate-cover">
                                            <span>@coupon.TimeLeft</span>
                                        </div>
                                        <div class="product-rate-cover">
                                            <span>Mã coupon: </span>
                                        </div>
                                        <div class="product-rate-cover">
                                            <div class="product-price">
                                                <span>@coupon.CouponDetails.FirstOrDefault()?.coupon_code</span>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div>
                                                <a aria-label="Chi tiết" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal-@coupon.Id">Xem chi tiết</a>
                                            </div>
                                            <div>
                                                <a href="@coupon.AffilateLink" target="_blank"> <i class="fi-rs-surfing"></i> Lấy link</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                    <!--end product card-->
                </div>
                <!--product grid-->
                <div class="pagination-area text-center mt-20 mb-20">
                    @{
                        var pagingModel = new SoftNetCore.Model.System.PagingModel()
                        {
                            currentPage = ViewBag.currentPage,
                            countPages = ViewBag.countPages,
                            generateUrl = (int? p) => catId != 0 ? Url.RouteUrl("ExistCouponType", new { p }) : Url.Action("Index", new { p })
                        };
                    }
                    <partial name="_Paging" model="@pagingModel" />
                    @*<nav aria-label="Page navigation example">
                            @if (Model.PageCount > 1)
                            {
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="/coupon-@catId-@titleCat?page=@(Model.PageNumber-1)"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                    @for (int i = 1; i <= Model.LastItemOnPage; i++)
                                    {
                                        @if (i >= Model.PageNumber - 1 && i <= Model.PageNumber + 1)
                                        {
                                            <li class="page-item @(i==Model.PageNumber ? "active" : "")"><a class="page-link" href="/coupon-@catId-@titleCat?page=@i">@i</a></li>
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="/coupon-@catId-@titleCat?page=@(Model.PageNumber+1)"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                </ul>
                            }
                        </nav>*@
                </div>
                @await (Component.InvokeAsync("ProductSale"))
                <!--End Deals-->
            </div>
            <div class="col-xl-3 primary-sidebar sticky-sidebar">
                @await (Component.InvokeAsync("CouponType"))
                <!-- Fillter By Price -->
                @*@await (Component.InvokeAsync("FillByPrice"))*@
                <!-- Product sidebar Widget -->
                @await (Component.InvokeAsync("ProductNew"))
            </div>
        </div>
    </div>
</main>

<!--shop main area are end-->
@section scripts{
    <script type="text/javascript">

        function onFillter(value) {
            // get value
            var pageSize = value;
            //
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + @catId + "&pageSize=" + pageSize + "&sortBy=" + '@sortBy' + "&sortDir=" + '@sortDir';
            window.history.pushState({ path: newurl }, '', newurl);
            location.reload();
        }

        function onFillter2(sortBy, sortDir) {
            // get value
            var valueBy = sortBy;
            var valueDir = sortDir;
            //
            var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?id=" + @catId + "&pageSize=" + @pageSize + "&sortBy=" + valueBy + "&sortDir=" + valueDir;
            window.history.pushState({ path: newurl }, '', newurl);
            location.reload();
        }

        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return 1;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
}