﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model OrderModel
@{
    int count = 0;
}
<div class="modal modal-custom fade" role="dialog" id="order_quick_view_modal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-left">
                <h4 class="modal-title">Chi tiết đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Mã đơn hàng</div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">@Model.Code</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Họ và tên </div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">@Model.FullName</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Điện thoại </div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age">@Model.Mobi</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Email </div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="signup">@Model.Email</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Địa chỉ giao hàng </div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="country"> @Model.Address</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Ngày đặt hàng </div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="login">@String.Format("{0:dd/MM/yyyy}", Model.CreateTime)</span>
                            </div>
                        </div>
                        @*<div class="profile-info-row">
                                <div class="profile-info-name"> Tổng tiền hàng </div>
                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="login">
                                        @string.Format("{0}", String.Format("{0:0,0}đ", Model.TotalPrice.ToDecimal() - Model.FeeShip.ToDecimal()))
                                    </span>
                                </div>
                            </div>*@
                        @*@if (Model.SaleOff != 0)
                            {
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Khuyến mãi </div>
                                    <div class="profile-info-value">

                                        <span class="editable editable-click" id="login">
                                            @string.Format("{0} - {1}", String.Format("{0:0,0} VNĐ", Model.SaleOff.ToDecimal()), Model.NoteSale)
                                        </span>

                                    </div>
                                </div>
                            }*@
                        @*<div class="profile-info-row">
                                <div class="profile-info-name"> Phí giao hàng</div>
                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="login">
                                        @string.Format("{0}", String.Format("{0:0,0}đ", Model.FeeShip.ToDecimal()))
                                    </span>
                                </div>
                            </div>*@
                        <div class="profile-info-row">
                            <div class="profile-info-name"> Tổng tiền </div>
                            <div class="profile-info-value">
                                <span class="editable editable-click" id="login">
                                    @string.Format("{0}", String.Format("{0:0,0}đ", (Model.TotalPrice.ToDecimal())))
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <h5 class="text-center">Danh sách sản phẩm</h5>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-striped table-bordered table-hover" style="border-width: 1px !important;">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th class="text-center" style="width:10%">
                                        STT
                                    </th>
                                    <th class="text-center" style="width:40%">
                                        Sản phẩm
                                    </th>
                                    <th class="text-center" style="width:10%">
                                        Số lượng
                                    </th>
                                    <th class="text-center" style="width:10%">
                                        Giá bán
                                    </th>
                                    <th class="text-center" style="width:10%">
                                        Giá gốc
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OrderDetails.Count > 0)
                                {
                                    foreach (var item in Model.OrderDetails)
                                    {
                                        count++;
                                        <tr>
                                            <td class="text-center">
                                                <p>@count</p>
                                            </td>
                                            <td>
                                                <a href="#">@item.Product?.Title</a>
                                                <p>@item.Color?.Title/@item.Size?.Title</p>
                                            </td>
                                            <td class="text-center">
                                                @item.Quantity
                                            </td>
                                            <td class="text-end">
                                                @String.Format("{0:0,0}đ", item.Price)
                                            </td>
                                            <td class="text-end">
                                                @String.Format("{0:0,0}đ", item.OriginalPrice)
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            Dữ liệu không tồn tại.
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>