﻿@using SoftNetCore.Model.Catalog;
@model ProductAttributeModel

<div class="prodcut-price">
    @if (Model.IsSale)
    {
        <div class="new-price"> @String.Format("{0:0,0đ}", Model.PriceSale) </div>
        <div class="old-price"> @String.Format("{0:0,0đ}", Model.Price) </div>
        <span class="text--primary-sale">
            -@Model.Discount%
        </span>
    }
    else
    {
        <div class="new-price"> @String.Format("{0:0,0đ}", Model.Price) </div>
    }
</div>