﻿@model SoftNetCore.Model.Catalog.PartnerModel
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý thông tin</a>
            </li>
            <li class="active">Đối tác</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="page-header">
            <h3><strong>Cập nhật đối tác</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="SubmitFormByID('frmPartner',false);">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu</span>
                </button>
                <button onclick="SubmitFormByID('frmPartner',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminPartner" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal" role="form">
                    <form method="post" id="frmPartner" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Update" asp-controller="AdminPartner">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" asp-for="Id" class="col-xs-12 col-sm-12" />
                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                <input type="hidden" asp-for="CreateTime" class="col-xs-12 col-sm-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Tiêu đề</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Tiêu đề" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Đường dẫn liên kết</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Url" class="col-xs-12 col-sm-12" placeholder="Đường dẫn" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Hình đại diện</label>
                            <div class="col-sm-9">
                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                    <div>
                                        <img width="100" height="100" src="@(Model.Avatar != null ? "/"+ Model.Avatar : "/images/no_image_available.png")" alt="..." class="img-thumbnail">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                        </span>
                                        <input type="text" asp-for="Avatar" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Độ ưu tiên</label>
                            <div class="col-sm-9">
                                <input type="text" class="col-xs-10 col-sm-5" asp-for="Position" placeholder="Độ ưu tiên" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                            <div class="col-sm-9">
                                <span class="help-inline">
                                    <label class="middle">
                                        <input type="checkbox" asp-for="Status" class="ace" />
                                        <span class="lbl">Hiển thị</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button onclick="SubmitFormByID('frmPartner',false);" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Kiểm tra và lưu
                            </button>
                            <a class="btn" asp-area="Admin" asp-controller="AdminPartner" asp-action="Update" asp-route-id="@Model.Id">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    <script src="~/admin/app/PartnerValidate.js"></script>
}



