﻿/*TYPOGRAPHY*/
body {
    color: #7E7E7E;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading,
.display-1,
.display-2,
.heading-sm-1 {
    font-family: "Nunito", sans-serif;
    color: #253D4E;
    font-weight: 700;
    line-height: 1.2;
}

/*COMPONENTS -> BUTTONS*/
.btn-default {
    color: #fff;
    background-color: #ed1b24;
    border-radius: 50px;
    padding: 13px 28px;
    font-family: "Nunito", sans-serif;
}

.btn {
    font-family: "Nunito", sans-serif;
}

    .btn.btn-brush, .button.btn-brush {
        background-color: transparent;
        color: #ed1b24;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        font-family: "Nunito", sans-serif;
    }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    font-size: 14px;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: #253D4E;
}

/*contact form*/
.contact-from-area .contact-form-style button {
    font-size: 17px;
    font-weight: 500;
    padding: 20px 40px;
    color: #ffffff;
    border: none;
    background-color: #253D4E;
    border-radius: 10px;
    font-family: "Nunito", sans-serif;
}

.account .card .table > thead {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
}

.card-login .social-login {
    font-size: 20px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 15px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-tabs .nav-link {
    background-color: #eeeeee;
    font-size: 15px;
    margin: 0 10px;
    margin-left: 10px;
    color: #444;
    border-radius: 4px;
    padding: 15px 24px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    line-height: 1;
}

.dashboard-menu ul li a {
    font-size: 16px;
    color: #7E7E7E;
    padding: 15px 30px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

.tab-header .view-more {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 2px solid #cce7d0;
    margin-bottom: 20px;
}

.deals-countdown .countdown-section .countdown-amount {
    display: inline-block;
    color: #ed1b24;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.page-header.breadcrumb-wrap {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    font-family: "Nunito", sans-serif;
}

.product-price {
    font-family: "Nunito", sans-serif;
}

.sort-by-dropdown ul li a.active::before {
    content: "\f143";
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 12px;
    color: #ed1b24;
    font-family: 'uicons-regular-straight' !important;
    font-weight: 900;
}

.stock-status {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.product-extra-link2 .button.button-add-to-cart {
    position: relative;
    padding: 0px 20px;
    border-radius: 5px;
    border: 0;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

.tab-style3 .nav-tabs li.nav-item a {
    display: block;
    padding: 13px 24px !important;
    text-align: center;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    text-transform: none;
    font-size: 17px;
    border-radius: 30px;
    border: 1px solid #ececec;
    background: #fff;
    color: #7E7E7E;
}

.shop-filter-toogle {
    margin-bottom: 20px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    border: 1px solid #ececec;
    font-size: 17px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
}

.shopping-summery table thead th {
    background-color: #ececec;
    padding: 18px 0;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #253D4E;
}

.tags-list li a {
    background-color: #fff;
    display: inline-block;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    padding: 10px 20px;
    border: 1px solid #ececec;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.invoice-content .btn-lg {
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    padding: 0 35px;
    line-height: 50px;
    border-radius: 3px;
    color: #ffffff;
    border: none;
    margin: 3px;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.invoice-content table thead {
    font-family: "Nunito", sans-serif;
    color: #253D4E;
    font-weight: 700;
}


.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-button a {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    border-radius: 4px;
    line-height: 1;
    padding: 10px 20px;
    background-color: #ed1b24;
    font-family: "Nunito", sans-serif;
    border: 2px solid #ed1b24;
}

.hotline p {
    color: #ed1b24;
    font-size: 26px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    display: block;
    line-height: 1;
}

    .hotline p span {
        font-weight: 500;
        font-size: 12px;
        font-family: "Nunito", sans-serif;
        color: #7E7E7E;
        display: block;
        letter-spacing: 0.9px;
    }

.header-style-1 .main-categori-wrap > a.categories-button-active {
    line-height: 44px;
    border-radius: 5px;
    padding: 0 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.main-menu > nav > ul > li > a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #253D4E;
    font-family: "Nunito", sans-serif;
}

.categories-dropdown-wrap .more_categories {
    margin-top: 15px;
    color: #ed1b24;
    position: relative;
    font-size: 13px;
    font-family: "Nunito", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.pagination-area .page-link {
    border: 0;
    padding: 0 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 40px;
    color: #7E7E7E;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    background-color: #F2F3F4;
}


.product-cart-wrap .product-card-bottom .add-cart2 {
    cursor: pointer;
}

.product-cart-wrap .product-card-bottom .add-cart2 .add {
    position: relative;
    display: inline-block;
    padding: 6px 20px 6px 20px;
    border-radius: 4px;
    background-color: #DEF9EC;
    font-size: 14px;
    font-weight: 700;
}

.product-cart-wrap .product-card-bottom .add-cart2 .add:hover {
    background-color: #ed1b24;
    color: #fff;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}

.social-icon ul li a.add-cart2.add-cart2-text i {
    border-left: 1px solid;
    font-size: 20px;
    height: 34px;
    line-height: 33px;
    margin-left: 10px;
    padding-left: 6px;
}

.social-icon ul li a.add-cart2.add-cart2-text {
    /*font-family: montserrat;*/
    font-size: 14px;
    padding: 0 9px;
    width: auto;
}