﻿.pagination {
    display: inline-flex !important;
}

    .pagination li a {
        border: 0;
        padding: 0 10px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 40px;
        color: #7E7E7E !important;
        line-height: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        background-color: #F2F3F4 !important;
    }

    .pagination li.active span {
        color: #fff !important;
        background: #ed1b24 !important;
        border: 0;
        padding: 0 10px;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0;
        width: 40px;
        height: 40px;
        display: block;
        border-radius: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
    }

    .pagination li a:hover {
        color: #fff !important;
        background: #ed1b24 !important;
    }

.download-app a img {
    max-width: 128px;
}

.resize-logo img {
    max-height: 55px;
}

.form-subcriber input {
    width: 70%;
}

.logo.logo-width-1 a img {
    width: 115px;
    min-width: 115px;
}

@media only screen and (max-width: 768px) {
    .logo.logo-width-1 a img {
        width: 70px;
        min-width: 70px;
    }
}

.title {
    text-transform: uppercase;
}

.deals-countdown .countdown-section .countdown-period {
    font-size: 12px;
}

.deals-countdown .countdown-section .countdown-amount {
    font-size: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.btn {
    padding: 10px 12px;
}

.progress {
    height: 5px;
}

/*view order detail*/
.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
}

.profile-info-row {
    display: table-row
}

.profile-info-name, .profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 135px;
    vertical-align: middle
}

.profile-info-value {
    padding: 6px 4px 6px 6px
}

    .profile-info-value > span + span:before {
        display: inline;
        content: ",";
        margin-left: 1px;
        margin-right: 3px;
        color: #666;
        border-bottom: 1px solid #FFF
    }

    .profile-info-value > span + span.editable-container:before {
        display: none
    }

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
    border-top: none
}

.profile-user-info-striped {
    border: 1px solid #DCEBF7
}

    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF
    }

    .profile-user-info-striped .profile-info-value {
        border-top: 1px dotted #DCEBF7;
        padding-left: 12px
    }

.profile-picture {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.15)
}

.dd-empty, .dd-handle, .dd-placeholder, .dd2-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.profile-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #D0D8E0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF
}

    .profile-activity:first-child {
        border-top: 1px dotted transparent
    }

        .profile-activity:first-child:hover {
            border-top-color: #D0D8E0
        }

    .profile-activity:hover {
        background-color: #F4F9FD;
        border-left: 1px dotted #D0D8E0;
        border-right: 1px dotted #D0D8E0
    }

    .profile-activity img {
        border: 2px solid #C9D6E5;
        border-radius: 100%;
        max-width: 40px;
        margin-right: 10px;
        margin-left: 0;
        box-shadow: none
    }

    .profile-activity .thumbicon {
        background-color: #74ABD7;
        display: inline-block;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        color: #FFF;
        font-size: 18px;
        text-align: center;
        line-height: 38px;
        margin-right: 10px;
        margin-left: 0;
        text-shadow: none !important
    }

    .profile-activity .time {
        display: block;
        margin-top: 4px;
        color: #777
    }

    .profile-activity a.user {
        font-weight: 700;
        color: #9585BF
    }

    .profile-activity .tools {
        position: absolute;
        right: 12px;
        bottom: 8px;
        display: none
    }

    .profile-activity:hover .tools {
        display: block
    }

.user-profile .ace-thumbnails li {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 6px
}

    .user-profile .ace-thumbnails li .tools {
        left: 3px;
        right: 3px
    }

    .user-profile .ace-thumbnails li:hover .tools {
        bottom: 3px
    }

.user-title-label:hover {
    text-decoration: none
}

.user-title-label + .dropdown-menu {
    margin-left: -12px
}

.profile-contact-links {
    padding: 4px 2px 5px;
    border: 1px solid #E0E2E5;
    background-color: #F8FAFC
}

.btn-link:hover .ace-icon {
    text-decoration: none !important
}

.profile-social-links > a:hover > .ace-icon, .profile-users .memberdiv .name a:hover .ace-icon, .profile-users .memberdiv .tools > a:hover {
    text-decoration: none
}

.profile-social-links > a {
    text-decoration: none;
    margin: 0 1px
}

.profile-skills .progress {
    height: 26px;
    margin-bottom: 2px;
    background-color: transparent
}

    .profile-skills .progress .progress-bar {
        line-height: 26px;
        font-size: 13px;
        font-weight: 700;
        font-family: "Open Sans";
        padding: 0 8px
    }

.profile-users .user {
    display: block;
    position: static;
    text-align: center;
    width: auto
}

    .profile-users .user img {
        padding: 2px;
        border-radius: 100%;
        border: 1px solid #AAA;
        max-width: none;
        width: 64px;
        -webkit-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s
    }

        .profile-users .user img:hover {
            -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.33);
            box-shadow: 0 0 1px 1px rgba(0,0,0,.33)
        }

.profile-users .memberdiv {
    background-color: #FFF;
    width: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    text-align: center;
    margin: 0 8px 24px
}

    .profile-users .memberdiv .body {
        display: inline-block;
        margin: 8px 0 0
    }

    .profile-users .memberdiv .popover {
        visibility: hidden;
        min-width: 0;
        max-height: 0;
        max-width: 0;
        margin-left: 0;
        margin-right: 0;
        top: -5%;
        left: auto;
        right: auto;
        opacity: 0;
        display: none;
        position: absolute;
        -webkit-transition: opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s;
        -o-transition: opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s;
        transition: opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s
    }

        .profile-users .memberdiv .popover.right {
            left: 100%;
            right: auto;
            display: block
        }

        .profile-users .memberdiv .popover.left {
            left: auto;
            right: 100%;
            display: block
        }

    .profile-users .memberdiv > :first-child:hover .popover {
        visibility: visible;
        opacity: 1;
        z-index: 1060;
        max-height: 250px;
        max-width: 250px;
        min-width: 150px;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s
    }

    .profile-users .memberdiv .tools {
        position: static;
        display: block;
        width: 100%;
        margin-top: 2px
    }

        .profile-users .memberdiv .tools > a {
            margin: 0 2px
        }

.user-status {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #FFF;
    border: 3px solid #AAA;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 1px
}

    .user-status.status-online {
        border-color: #8AC16C
    }

    .user-status.status-busy {
        border-color: #E07F69
    }

    .user-status.status-idle {
        border-color: #FFB752
    }

.tab-content.profile-edit-tab-content {
    border: 1px solid #DDD;
    padding: 8px 32px 32px;
    -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 0 rgba(0,0,0,.2);
    background-color: #FFF
}

@media only screen and (max-width:480px) {
    .profile-info-name {
        width: 80px
    }

    .profile-user-info-striped .profile-info-name {
        float: none;
        width: auto;
        text-align: left;
        padding: 6px 4px 6px 10px;
        display: block
    }

    .profile-user-info-striped .profile-info-value {
        margin-left: 10px;
        display: block
    }

    .user-profile .memberdiv {
        width: 50%;
        margin-left: 0;
        margin-right: 0
    }
}

.modal-custom {
    z-index: 99999999999;
}

    .modal-custom a {
        color: #212529;
    }

.bg-danger {
    background-color: #f01414 !important;
    border: 1px solid #f01414 !important;
}

.bg-success {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
}

.article-content a {
    color: #fa6400 !important
}

.product-single__description-content a {
    color: #fa6400 !important
}

.about-des a {
    color: #fa6400 !important
}

.article-content img {
    max-width: 100% !important;
    height: auto !important;
}

.about-des img {
    max-width: 100% !important;
    height: auto !important;
}

.product-single__description-content img {
    max-width: 100% !important;
    height: auto !important;
}

.article-content ul li {
    list-style: initial;
    margin-left: 30px;
    display: list-item;
}

.product-single__description-content ul li {
    list-style: initial;
    margin-left: 30px;
    display: list-item;
}

.about-des ul li {
    list-style: initial;
    margin-left: 30px;
    display: list-item;
}

.tab-productlist {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 570px;
}

@media only screen and (max-width:767px) {
    .tab-productlist {
        max-height: 280px;
    }

    .product-more-views {
        width: 20%;
    }

    .tab-content.active-portfolio-area {
        width: 80%;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fa6400;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fa3100;
    }


/* width */
.tab-productlist::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tab-productlist::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.tab-productlist::-webkit-scrollbar-thumb {
    background: #fa6400;
    border-radius: 10px;
}

    /* Handle on hover */
    .tab-productlist::-webkit-scrollbar-thumb:hover {
        background: #fa3100;
    }

.col-delivery-custom {
    width: 25% !important;
    padding: 0 5px !important;
}

    .col-delivery-custom h5 {
        margin: 5px 0 0;
    }

@media (min-width: 992px) {
    .coolsub-product__item {
        min-width: 165px;
    }
}
/*view order detail*/

.shopping-summery table thead th.end {
    border-radius: unset;
}

.shopping-summery table thead th {
    background-color: #ececec;
    padding: 18px 0;
    font-family: "Quicksand", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #253D4E;
}

.detail-extralink .detail-qty {
    margin: 0 6px 0px 0;
    background: #fff;
    border: 2px solid #ed1c24 !important;
    font-size: 14px;
    font-weight: 700;
    color: #ed1c24;
    border-radius: 5px;
    padding: 5px 20px 5px 30px !important;
    max-width: 90px !important;
}

textarea {
    min-height: 100px;
}

.loop-grid .entry-content-2 {
    padding: 20px 12px;
}

.detail-info .product-price .current-price {
    font-size: 25px;
}

.detail-info .product-price .old-price {
    font-size: 18px;
}

.coupon .image {
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.shopping-summery table > :not(caption) > * > * {
    padding: 15px 5px;
}

.shopping-summery table thead th {
    padding: 18px 5px;
}

@media only screen and (max-width:767px) {
    .product-cart-wrap .product-img-action-wrap {
        padding: 5px 5px 0 5px;
    }

    .default-img {
        height: 175px;
    }

    .sale-img {
        height: 182px;
    }

    .hot-img {
        height: 339px;
    }

    .link-app a img {
        width: 68px !important;
    }

    .coupon-single-img {
        height: 80px;
        width: 80px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
    }
}

@media only screen and (min-width:768px) and (max-width:1180px) {
    .default-img {
        height: 164px;
    }

    .sale-img {
        height: 216px;
    }

    .default-sale-img {
        height: 216px;
    }

    .coupon-single-img {
        height: 80px;
        width: 80px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
    }
}

@media only screen and (min-width:1181px) {
    .default-img {
        height: 200px;
    }

    .sale-img {
        height: 330px;
    }

    .coupon-single-img {
        padding: 10px;
    }
}

.product-cart-wrap.style-2 .product-content-wrap .deals-content {
    padding: 25px 5px;
}

.product-cart-wrap.style-2 .product-content-wrap {
    max-width: 95%;
}

.form-subcriber input {
    border: 1px solid #ececec;
    border-radius: unset;
    height: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 5px;
    font-size: 16px;
    height: 45px;
}

.form-subcriber button {
    font-size: 13px;
    font-weight: 500;
    padding: 0px 10px;
    color: #ffffff;
    border: none;
    background-color: #ed1b24;
    border: unset;
    border-radius: unset;
}

.download-app {
    margin: 10px 0;
}

.product-cart-wrap .product-content-wrap .product-price span {
    font-size: 15px;
}

    .product-cart-wrap .product-content-wrap .product-price span.old-price {
        font-size: 12px;
        color: #adadad;
        margin: 0 0 0 7px;
        text-decoration: line-through;
    }

.product-price .save-price {
    font-size: 12px !important;
}

.product-extra-link2 .button.button-add-to-cart {
    height: 38px;
    line-height: 38px;
}

.product-extra-link2 a {
    height: 38px;
    line-height: 43px;
}

.loop-grid.loop-list article .post-thumb {
    min-height: 270px;
    min-width: 410px;
}

.payment_option .custome-radio .form-check-label {
    color: #292b2c;
    font-weight: 700;
    font-size: 16px;
}
.pagination-area .page-item.active .page-link, .pagination-area .page-item:hover .page-link {
    color: #fff !important;
    background: #ed1b24 !important;
}