﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model ContactModel
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSOSHOP | Liên hệ</title>
    <meta itemprop='name' content='VNSOSHOP | Liên hệ' />
    <meta property='og:title' content='VNSOSHOP | Liên hệ' />
    <meta name='twitter:title' content='VNSOSHOP | Liên hệ' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Liên hệ
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
        @*<section class="container mb-50 d-none d-md-block">
                <div class="border-radius-15 overflow-hidden">
                    <div id="map-panes" class="leaflet-map"></div>
                </div>
            </section>*@
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 m-auto">
                    <section class="mb-50">
                        <div class="row">
                            <div class="col-xl-7">
                                <div class="contact-from-area padding-20-row-col">
                                    <h4 class="text-brand mb-10">LIÊN HỆ</h4>
                                    <p class="text-muted mb-30 font-sm">Quý khách vui lòng gửi thắc mắc hoặc ý kiến đóng góp qua biểu mẫu</p>
                                    <form class="contact-form-style mt-30" id="contact-form" action="#" method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input type="text" asp-for="FullName" id="txtFullName" name="FullName" placeholder="Họ Tên*" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-style mb-20">
                                                    <input type="email" asp-for="Email" id="txtEmail" name="Email" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="input-style mb-20">
                                                    <input asp-for="Mobi" id="txtMobi" name="Mobi" placeholder="Điện thoại*" type="tel" />
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="textarea-style mb-30">
                                                    <textarea asp-for="Content" id="txtContent" name="Content" placeholder="Nội dung*"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <button class="submit submit-auto-width" onclick="ValidateFrmContact();">Gửi yêu cầu</button>
                                    <p class="form-messege"></p>
                                </div>
                            </div>
                            <div class="col-xl-5 pl-50">
                                <h4 class="text-brand mb-10">THÔNG TIN</h4>
                                <p class="text-muted mb-30 font-sm">Quý khách có thắc mắc gì vui lòng liên hệ với thông tin bên dưới, để được hỗ trợ một cách nhanh nhất.</p>
                                <div class="col-md-12 mb-12 mb-20">
                                    <h5 class="mb-15 text-brand">Trụ sở chính:</h5>
                                    @info.Address<br />
                                    <abbr>Email:</abbr> @info.Email<br />
                                    <abbr>Điện thoại: </abbr><a href="tel:@info.Phone" class="__cf_email__">@info.Phone</a><br />
                                    <a href="@info.Map" class="btn btn-sm font-weight-bold text-white mt-20 border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-marker mr-5"></i>View map</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/portal/function/form-contact.js"></script>
}