﻿@model SoftNetCore.Model.Catalog.SliderModel
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý quảng cáo</a>
            </li>
            <li class="active">Slider</li>
        </ul>
    </div>
        <div class="page-content">
            <div class="page-header">
                <h3><strong>Thêm slider</strong></h3>
                <div class="top-toolbar">
                    <button onclick="SubmitFormByID('frmSlider',true);" class="btn btn-sm btn-primary radius">
                        <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                        <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                    </button>
                    <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminSlider" asp-action="Index">
                        <i class="ace-icon fa fa-reply bigger-110"></i>
                        <span class="bigger-110 no-text-shadow">Trở về</span>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-horizontal" role="form">
                        <form method="post" id="frmSlider" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminSlider">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Tiêu đề</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Tiêu đề" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                                <div class="col-sm-9">
                                    <textarea class="col-xs-12 col-sm-12" placeholder="Mô tả" rows="2" asp-for="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Link trỏ về</label>
                                <div class="col-sm-9">
                                    <input type="text" asp-for="Url" class="col-xs-12 col-sm-12" placeholder="Link trỏ về" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Hình trang chủ (1920x700)</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-12 padding-left-0px padding-right-0px">
                                        <div>
                                            <img width="100" height="100" src="@(Model.Avatar != null ? "/"+ Model.Avatar : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                                <i class="ace-icon fa fa-cloud-upload"></i>
                                            </span>
                                            <input type="text" asp-for="Avatar" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right">Hình trang con (1920x450)</label>
                                <div class="col-sm-9">
                                    <div class="col-sm-12 padding-left-0px padding-right-0px">
                                        <div>
                                            <img width="100" height="100" src="@(Model.Thumb != null ? "/"+ Model.Thumb : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderThumb(event, 'ImageThumb');">
                                                <i class="ace-icon fa fa-cloud-upload"></i>
                                            </span>
                                            <input type="text" asp-for="Thumb" id="ImageThumb" class="col-xs-12 col-sm-12" placeholder="" />
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Vị trí</label>
                                <div class="col-sm-9">
                                    <input type="text" class="col-xs-10 col-sm-5" asp-for="Position" placeholder="Vị trí" />
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                <div class="col-sm-9">
                                    <span class="help-inline">
                                        <label class="middle">
                                            <input type="checkbox" asp-for="Status" class="ace" />
                                            <span class="lbl">Hiển thị</span>
                                        </label>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button onclick="SubmitFormByID('frmSlider',true);" class="btn btn-info">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Lưu và tiếp tục
                                </button>
                                <a class="btn" asp-area="Admin" asp-controller="AdminSlider" asp-action="Insert">
                                    <i class="ace-icon fa fa-undo bigger-110"></i>
                                    Nhập lại
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

</div>

@section scripts{
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderThumb = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsethumb', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    <script src="~/admin/app/SliderValidate.js"></script>
}



