﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@{ var productCategoryList = ViewBag.ProductCategoryList as List<ProductCategoryModel>;
    //var articleCategoryList = ViewBag.ArticleCategoryList as List<ArticleCategoryModel>;
    //var saleList = ViewBag.SaleList as List<SaleModel>;
    //var collectionList = ViewBag.CollectionList as List<CollectionModel>;
    var cartList = ViewBag.CartList as List<CartItem>;
    //var customer = ViewBag.Customer as CustomerModel;
    var about = ViewBag.About as AboutModel;
}


<div class="header-middle header-middle-ptb-1 d-none d-lg-block">
    <div class="container-lg">
        <div class="header-wrap">
            <div class="logo logo-width-1">
                <a href="/"><img src="/@about.Logo" alt="@about.Title"></a>
            </div>
            <div class="header-right">
                <div class="search-style-2">
                    <form action="#">
                        @if (productCategoryList != null)
                        {
                            <select class="select-active">
                                <option>Tất Cả</option>
                                @foreach (var category in productCategoryList)
                                {
                                    <option>@category.Title</option>
                                }
                            </select>
                        }
                        <input type="text" placeholder="Tìm kiếm...">
                    </form>
                </div>
                <div class="header-action-right">
                    <div class="header-action-2">
                        <div class="search-location">
                            @*<form action="#">
                                    <select class="select-active">
                                        <option>Your Location</option>
                                        <option>Alabama</option>
                                        <option>Alaska</option>
                                        <option>Arizona</option>
                                        <option>Delaware</option>
                                        <option>Florida</option>
                                        <option>Georgia</option>
                                        <option>Hawaii</option>
                                        <option>Indiana</option>
                                        <option>Maryland</option>
                                        <option>Nevada</option>
                                        <option>New Jersey</option>
                                        <option>New Mexico</option>
                                        <option>New York</option>
                                    </select>
                                </form>*@
                        </div>
                        @*<div class="header-action-icon-2">
                                <a href="shop-compare.html">
                                    <img class="svgInject" alt="Nest" src="~/assets/imgs/theme/icons/icon-compare.svg">
                                    <span class="pro-count blue">3</span>
                                </a>
                                <a href="shop-compare.html"><span class="lable ml-0">Compare</span></a>
                            </div>*@
                        <div class="header-action-icon-2">
                            <a href="/yeu-thich">
                                <img class="svgInject" alt="Nest" src="~/assets/imgs/theme/icons/icon-heart.svg">
                                <span class="pro-count blue totalWishList">0</span>
                            </a>
                            <a href="/yeu-thich"><span class="lable">Yêu thích</span></a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/gio-hang">
                                <img alt="Nest" src="~/assets/imgs/theme/icons/icon-cart.svg">
                                <span class="pro-count blue items-basket">0</span>
                            </a>
                            <a href="#"><span class="lable">Giỏ hàng</span></a>
                            <div id="cartmini">
                                @await (Component.InvokeAsync("CartMini"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="header-bottom header-bottom-bg-color sticky-bar">
    <div class="container">
        <div class="header-wrap header-space-between position-relative">
            <div class="logo logo-width-1 d-block d-lg-none">
                <a href="/"><img src="~/assets/imgs/theme/logo.jpg" alt="logo"></a>
            </div>
            <div class="header-nav d-none d-lg-flex">
                <div class="main-categori-wrap d-none d-lg-block">
                    <a class="categories-button-active" href="/">
                        <span class="fi-rs-apps"></span> <span class="et">DANH</span> MỤC
                        @*<i class="fi-rs-angle-down"></i>*@
                    </a>
                    <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                        <div class="d-flex categori-dropdown-inner">
                            @await (Component.InvokeAsync("MenuSidebar"))
                            @*<ul>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/category-6.svg" alt="">Wines & Drinks</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/category-7.svg" alt="">Fresh Seafood</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/category-8.svg" alt="">Fast food</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/category-9.svg" alt="">Vegetables</a>
                                    </li>
                                    <li>
                                        <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/category-10.svg" alt="">Bread and Juice</a>
                                    </li>
                                </ul>*@
                        </div>
                        @*<div class="more_slide_open" style="display: none">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/icon-1.svg" alt="">Milks and Dairies</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/icon-2.svg" alt="">Clothing & beauty</a>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/icon-3.svg" alt="">Wines & Drinks</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right.html"> <img src="~/assets/imgs/theme/icons/icon-4.svg" alt="">Fresh Seafood</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>*@
                    </div>
                </div>
                <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                    <nav>
                        <ul>
                            @*<li class="hot-deals"><img src="~/assets/imgs/theme/icons/icon-hot-white.svg" alt="hot deals"><a href="shop-grid-right.html">Deals</a></li>*@
                            <li>
                                <a class="active" href="/">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a href="/deal-list">HOT DEAL</a>
                            </li>
                            <li>
                                <a href="/san-pham">SẢN PHẨM</a>
                            </li>
                            <li>
                                <a href="/coupon">COUPON</a>
                            </li>
                            <li>
                                <a href="/khuyen-mai">KHUYẾN MÃI</a>
                            </li>
                            <li>
                                <a href="/tin-tuc">TIN TỨC</a>
                            </li>
                            <li>
                                <a href="/lien-he">LIÊN HỆ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="hotline d-none d-lg-flex">
                <img src="~/assets/imgs/theme/icons/icon-headphone-white.svg" alt="hotline">
                <p>@about.Phone<span>Trung tâm hỗ trợ 24/7</span></p>
            </div>
            <div class="header-action-icon-2 d-block d-lg-none">
                <div class="burger-icon burger-icon-white">
                    <span class="burger-icon-top"></span>
                    <span class="burger-icon-mid"></span>
                    <span class="burger-icon-bottom"></span>
                </div>
            </div>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="/yeu-thich">
                            <img alt="Nest" src="~/assets/imgs/theme/icons/icon-heart.svg">
                            <span class="pro-count white totalWishList">0</span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="#">
                            <img alt="Nest" src="~/assets/imgs/theme/icons/icon-cart.svg">
                            <span class="pro-count white items-basket">0</span>
                        </a>
                        <div id="cartmini1">
                            @await (Component.InvokeAsync("CartMini"))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
