﻿<!doctype html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @*<meta name="robots" content="noindex, follow" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @RenderSection("AdditionalMeta", false)

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/imgs/theme/favicon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins/animate.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/plugins/slider-range.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/common.css" asp-append-version="true">
    <link href="~/assets/css/custom.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/portal/css/toastr.min.css" asp-append-version="true">
</head>

<body>
    <!-- Body main wrapper start -->
    <header class="header-area header-style-1 header-style-5 header-height-2">
        @await (Component.InvokeAsync("Header"))
        @await (Component.InvokeAsync("Menu"))
    </header>
    @await (Component.InvokeAsync("MenuMobile"))

    @RenderBody()
    @await (Component.InvokeAsync("Footer"))

    @*<div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img src="~/assets/imgs/theme/loading.gif" alt="">
                </div>
            </div>
        </div>
    </div>*@

    <!-- Vendor JS-->
    @*<script data-cfasync="false" src="//cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js" asp-append-version="true"></script>*@
    <script src="~/assets/js/vendor/modernizr-3.6.0.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/vendor/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/vendor/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/slick.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/jquery.syotimer.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/waypoints.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/wow.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/slider-range.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/magnific-popup.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/select2.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/counterup.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/images-loaded.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/isotope.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/scrollup.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/jquery.vticker-min.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/jquery.theia.sticky.js" asp-append-version="true"></script>
    <script src="~/assets/js/plugins/jquery.elevatezoom.js" asp-append-version="true"></script>
    <script src="~/portal/function/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/portal/js/toastr.min.js" asp-append-version="true"></script>
    <!-- Template  JS -->
    <script src="~/assets/js/main.js" asp-append-version="true"></script>
    <script src="~/assets/js/shop.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            $("#addClass").click(function () {
                $('#qnimate').addClass('popup-box-on');
            });

            $("#removeClass").click(function () {
                $('#qnimate').removeClass('popup-box-on');
            });
            $(".cart-items").slideUp();
            $(".cart").on("click", function () {
                $(".cart-items").slideToggle();
            });

            /*$(".items-basket").text($(".list-item").children().length);*/
            // total cart
            getQutityCart();
            // total Wishlist
            getQutityWishlist();
            $(".add-cart").on("click", function () {
                $(".cart-items").slideDown();
                setTimeout(function () {
                    $(".cart-items").slideUp();
                }, 0)
                //add items to basket
                $(this).each(function () {
                    //var name = $(this).data("producname");
                    var quantity = $(this).data("quantity");
                    //var priceNumber = formatNumber(parseFloat($(this).data("producprice")) * parseFloat(quantity));
                    //var price = "<h4 data-price=" + $(this).data("producprice") + " " + "data-quantity=" + quantity + " class='eachPrice'><span>" + quantity + " ×" + " </span>" + priceNumber + "</h4>";
                    //var image = $(this).data("producimage");
                    var id = $(this).data("id");

                    //$(".list-item").append(
                    //    "<li>" +
                    //    "<div class=\"shopping-cart-img\">" +
                    //    "<a href=\"chi-tiet-san-pham-" + "-" + name+ "-" + + id + "\"><img alt=\"Nest\" src=\"" + image + "\"></a>" +
                    //    "</div>" +
                    //    "<div class=\"shopping-cart-title\">" +
                    //    "<h4><a href=\"chi-tiet-san-pham-" + "-" + name + "-" + + id + "\">" + name + "</a></h4>" +
                    //    price +
                    //    "</div>" +
                    //    "<div class=\"shopping-cart-delete\">" +
                    //    "<a href=\"#\"><i class=\"fi-rs-cross-small\"></i></a>" +
                    //    "</div>" +
                    //    "</li>"

                    //);

                    // add to card to Session
                    // ...
                    addToCart(id, quantity);

                    //number of items in basket
                    //$(".items-basket").text($(".list-item").children().length);
                    //$(".items-basket").text();


                    //calculate total price
                    //var totalPrice = 0;
                    //$(".eachPrice").each(function () {
                    //    var cenaEach = parseFloat($(this).data("price") * $(this).data("quantity"));
                    //    totalPrice += cenaEach;
                    //});
                    //$("#total-price").html("Tổng cộng <span>" + formatNumber(totalPrice) + "</span>");
                });

                //remove items from basket
                $(".shopping-cart-delete").on("click", function () {
                    $(this).parent().remove();

                    var totalPrice = 0;
                    $(".eachPrice").each(function () {
                        var cenaEach = parseFloat($(this).data("price"));
                        totalPrice += cenaEach;
                    });
                    $("#total-price").html("Tổng cộng <span>" + totalPrice + "</span>");
                    /*$(".items-basket").text($(".list-item").children().length);*/
                    getQutityCart();
                });
            });

            $("div.detail-info .detail-extralink .qty-down").on("click", function () {
                var $button = $(this);
                var oldValue = $button.parent().children(".qty-val").text();
                console.log($(".qty-val").text());
                if (oldValue > 0) {
                    var newVal = parseFloat(oldValue) - 1;
                } else {
                    newVal = 1;
                }
                $("div.detail-info .detail-extralink .qty-val").val(newVal).text(newVal);
                $button.parent().parent().children(".product-extra-link2").children(".button-add-to-cart").data('quantity', newVal)
                getQutityCart();
            });

            $("div.detail-info .detail-extralink .qty-up").on("click", function () {
                var $button = $(this);
                var oldValue = $button.parent().children(".qty-val").text();
                console.log($(".qty-val").text());
                var newVal = parseFloat(oldValue) + 1;
                $("div.detail-info .detail-extralink .qty-val").val(newVal).text(newVal);
                $button.parent().parent().children(".product-extra-link2").children(".button-add-to-cart").data('quantity', newVal)
                getQutityCart();
            });

        })

        function addToCart(id, quantity) {
            $.ajax({
                type: 'GET',
                url: '/ShoppingCart/AddItem?id=' + id + '&quantity=' + quantity,
                success: function (data) {
                    toastr.success("Sản phẩm đã được thêm vào giỏ hàng", "Thêm thành công!", { timeOut: 500, "closeButton": true });
                    getQutityCart()
                    $("#cartmini").html("");
                    $("#cartmini").html(data);
                    $("#cartmini1").html("");
                    $("#cartmini1").html(data);
                    setTimeout(function () {
                        //window.location.reload();
                    }, 500); //delay is in milliseconds
                    ////
                    //if (data.Status) {
                    //    getQutityCart();
                    //    alert('Thêm vào giỏ hàng thành công!')
                    //}
                    //else {
                    //    alert('Thêm vào giỏ hàng không thành công!')
                    //}
                }
            })
        }

        function getQutityCart() {
            $.ajax({
                type: 'GET',
                url: '/ShoppingCart/GetQuantityCart',
                success: function (data) {
                    $('.items-basket').text(data.count);
                }
            })
        }

        // thêm vào danh sách yêu thích
        $(".addWishlist").on("click", function () {
            var id = $(this).data("productid");
            addWishlist(id)
        });

        function addWishlist(id) {
            $.ajax({
                type: 'GET',
                url: '/Customer/AddWishlist?productId=' + id,
                success: function (data) {
                    if (data.Status == 1) { // Thành công
                        getQutityWishlist();
                        alert('Đã thêm vào danh sách yêu thích!')
                    }
                    else if (data.Status == 2) { // Đăng nhập
                        alert('Vui lòng đăng nhập!');
                        window.location.href = '/dang-nhap'; //Will take you to Google.
                    }
                    else if (data.Status == 3) { // Đã tồn tại
                        alert('Sản phẩm đã tồn tại trong danh sách yêu thích!')
                    }
                }
            })
        }

        function getQutityWishlist() {
            $.ajax({
                type: 'GET',
                url: '/Customer/GetQuantityWishlist',
                success: function (data) {
                    $('.totalWishList').text(data.count);
                    $('.total-item-WishList').text(data.count);
                }
            })
        }


        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") + "đ";
        }
    </script>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    @await (Component.InvokeAsync("ChatBox"))

    @RenderSection("scripts", required: false)
</body>
</html>

