﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.DataAccess.ViewModel;
@model IList<CouponViewModel>
<!-- Quick view -->
@if (Model != null && Model.Count > 0)
{
    @foreach (var coupon in Model)
    {
        <div class="modal fade custom-modal" id="quickViewModal-@coupon.Id" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="coupon-image-slider">
                                        <figure class="border-radius-10">
                                            <img src="@coupon.Image" alt="@coupon.Title">
                                        </figure>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info pr-30 pl-30">
                                    @*<span class="stock-status out-stock"> Sale Off </span>*@
                                    <h4 class="title-detail"><a href="#" class="text-heading">@coupon.Title</a></h4>
                                    <ul>
                                        <li class="mb-5">Còn lại: @coupon.PercentageUsed%</li>
                                        <li class="mb-5">HSD: @coupon.EndDate</li>
                                        <li class="mb-5">Mô tả chi tiết:</li>
                                        <li class="mb-5">@Html.Raw(coupon.CouponDetails.FirstOrDefault().coupon_desc)</li>
                                        <li class="mb-5">Mã coupon: <span style="font-size: 18px; font-weight: bold; color: #ed1b24">@coupon.CouponDetails.FirstOrDefault()?.coupon_code</span></li>
                                    </ul>
                                    @*<div class="product-detail-rating">
                                            <div class="product-rate-cover text-end">
                                                <span>Còn lại: @coupon.PercentageUsed%</span>
                                                <span>HSD: @coupon.EndDate</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <div>Mô tả chi tiết:</div>
                                                @Html.Raw(coupon.CouponDetails.FirstOrDefault().coupon_desc)
                                            </div>
                                        </div>
                                        <div class="product-rate-cover">
                                            <span>Mã coupon: @coupon.CouponDetails.FirstOrDefault().coupon_code</span>
                                        </div>*@
                                    <div class="product-card-bottom">
                                        <div>
                                            <a href="@coupon.AffilateLink" target="_blank"> <i class="fi-rs-surfing"></i> Lấy link</a>
                                        </div>
                                    </div>

                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}