﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model X.PagedList.IPagedList<PromotionModel>
@{
    var titleCat = (string)ViewBag.TitleCat;
    var info = ViewBag.Info as AboutModel;
    var catId = (int)ViewBag.CatId;
    //var articleCategoryList = ViewBag.Catgory as List<ArticleCategoryModel>;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Khuyến mãi</title>
    <meta itemprop='name' content='VNSO SHOP | Khuyến mãi' />
    <meta property='og:title' content='VNSO SHOP | Khuyến mãi' />
    <meta name='twitter:title' content='VNSO SHOP | Khuyến mãi' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Khuyến mãi</h1>
                        <div class="breadcrumb">
                            <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                            <span></span> Khuyến mãi
                        </div>
                    </div>
                    <div class="col-xl-9 text-end d-none d-xl-block">
                        @*@if (articleCategoryList != null && articleCategoryList.Count > 0)
                            {
                                <ul class="tags-list">
                                    @foreach (var cartegory in articleCategoryList)
                                    {
                                        <li class="hover-up @(catId == cartegory.Id ? "active" : "")">
                                            <a href="/khuyen-mai-@cartegory.Id"><i class="fi-rs-cross mr-10"></i>@cartegory.Title</a>
                                        </li>
                                    }
                                </ul>
                            }*@

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-9">
                    <div class="loop-grid loop-list pr-30 mb-50">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var article in Model)
                            {
                                <article class="wow fadeIn animated hover-up mb-30 animated">
                                    <div class="post-thumb" style="background-image: url(/@article.Thumb)">
                                        @*<div class="entry-meta">
                                                <a class="entry-meta meta-2" href="/khuyen-mai"><i class="fi-rs-play-alt"></i></a>
                                            </div>*@
                                    </div>
                                    <div class="entry-content-2 pl-50">
                                        <h3 class="post-title mb-20">
                                            <a href="\chi-tiet-khuyen-mai-@article.Title.ToUrlFormat()-@article.Id">@article.Title</a>
                                        </h3>
                                        <p class="post-exerpt mb-40">
                                            @article.Description.PeelDescription(150)
                                        </p>
                                        <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                                            <div>
                                                <span class="post-on"><i class="fi fi-rs-calendar"></i> @article.CreateTime.ToStringDateTime("dd/MM/yyyy")</span>
                                                <span class="hit-count"><i class="fi fi-rs-comment-alt"></i> @article.ViewTime.ToInt() lượt xem</span>
                                            </div>
                                            <a href="\chi-tiet-khuyen-mai-@article.Title.ToUrlFormat()-@article.Id" class="text-brand font-heading font-weight-bold font-lg">Xem chi tiết <i class="fi-rs-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                    <div class="pagination-area text-center mt-15 mb-sm-5 mb-lg-0">
                        @if (Model.PageCount > 1)
                        {
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                        }
                        @*@if (Model.PageCount > 1)
                            {
                                <ul class="pagination justify-content-start">
                                    <li class="page-item">
                                        <a class="page-link" href="/khuyen-mai?page=@(Model.PageNumber-1)"><i class="fi-rs-arrow-small-left"></i></a>
                                    </li>
                                    @for (int i = 1; i <= Model.LastItemOnPage-1; i++)
                                    {
                                        @if (i >= Model.PageNumber - 1 && i < Model.PageNumber + 1)
                                        {
                                            <li class="page-item @(i==Model.PageNumber ? "active" : "")"><a class="page-link" href="/khuyen-mai?page=@i">@i</a></li>
                                        }
                                    }
                                    <li class="page-item">
                                        <a class="page-link" href="/khuyen-mai?page=@(Model.PageNumber+1)"><i class="fi-rs-arrow-small-right"></i></a>
                                    </li>
                                </ul>
                            }*@
                    </div>
                </div>
                <div class="col-xl-3 primary-sidebar sticky-sidebar">
                    <div class="widget-area">
                        @*@await (Component.InvokeAsync("ArticleCategory"))*@
                        @await (Component.InvokeAsync("ProductNew"))
                        @await (Component.InvokeAsync("ArticleNew"))
                        <!--Tags-->
                        @await (Component.InvokeAsync("Tag"))
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
