﻿@using SoftNetCore.Common.Helpers;
@model List<ProductItem>
@{
    Layout = null;
}

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            @*<td class="center">
                <div class="action-buttons">
                    <img id='img' width='30' height='30' src='@item.Avatar' alt='' class='img-thumbnail padding-0'>
                </div>
            </td>*@
            <td>
                <a href="#">@item.ProductName</a>
            </td>
            <td class="text-center" width="5%">
                <div class="hidden-sm hidden-xs btn-group">
                    <a href="#" class="btn btn-xs btn-danger" title="Xóa" onclick='DeleteProductCollection(id = @item.ProductId, idColl = @item.TempId)'>
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td class="center" colspan="4">
            Vui lòng chọn sản phẩm !
        </td>
    </tr>
}