/* footer area */
.footer-area {
    background: #f5f5f7;
    color: #231f20;
    border-top: 3px solid #e3e3e9;
}
.footer-area a {
    color: #231f20;
}
.contact-icon {
    border: 1px solid #ccc;
    float: left;
    font-size: 20px;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    width: 32px;
}
.contact-text {
    overflow: hidden;
}
.contact-text > p {
  font-size: 14px;
  line-height: 22px;
  margin: -6px 0 0 15px;
  overflow: hidden;
}
.contact-text a {
  display: block;
}
.single-footer.contact-us li {
    margin-bottom: 18px;
}
.footer-title > h5 {
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 600;
}
.informatoin li {
  display: block;
  font-size: 14px;
}
.instagrm li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}
.newslatter .input-box a {
    background: #fa6400 none repeat scroll 0 0;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
    color: #fff;
}
    .newslatter .input-box a:hover {
        background: #333 none repeat scroll 0 0;
        color: #fa6400;
    }
.newslatter .input-box input {
    background: #fff;
    border: medium none;
    color: #231f20;
    height: 35px;
}
.social-icon .footer-title h5 {
    margin-bottom: 20px;
}
.instagrm li:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.footer-bottom {
  background: #999 none repeat scroll 0 0;
  height: 60px;
}
.footer-bottom.global-table {
  height: 60px;
}
.copyrigth {
  color: #fff;
  margin-bottom:0px;
}

.payment-support li a {
    opacity: 0.5;
}
.payment-support li a:hover {
    opacity: 1;
}