﻿@using SoftNetCore.Data.Enums;
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<EnumDomains> Domains = (List<EnumDomains>)ViewBag.EnumDomains; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Danh mục</strong></h3>
            <div class="top-toolbar">
                <a class="btn btn-sm btn-primary radius" asp-area="Admin" asp-controller="AdminMerchantSetting" asp-action="Insert">
                    <i class="ace-icon ace-icon glyphicon glyphicon-plus bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Thêm mới</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid-table">
                </table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/admin/app/merchant-setting.js">
    </script>
}


