﻿@model SoftNetCore.Model.Catalog.ProductCategoryModel
@using SoftNetCore.Data.Enums;

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<EnumDomains> Domains = (List<EnumDomains>)ViewBag.EnumDomains;
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Trang chủ</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminMerchantSetting" asp-action="Index">Danh mục</a>
            </li>
            <li class="active">Thêm mới</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm danh mục</strong></h3>
            <div class="top-toolbar">
                <button onclick="SubmitFormByID('frmProductCat',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminMerchantSetting" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmProductCat" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminMerchantSetting">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Nền tảng</label>
                        <div class="col-sm-9">
                            <select class="form-control width-100 radius" name="MerchantId">
                                @foreach (var domain in Domains)
                                {
                                    <option value="@domain.GetId()">@domain.ToString()</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">TokenKey</label>
                        <div class="col-sm-9">
                            <input type="text" name="TokenKey" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">TokenValue</label>
                        <div class="col-sm-9">
                            <input type="text" name="TokenValue" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>

                </form>
                <div class="clearfix">
                    <div class="col-md-offset-3 col-md-9">
                        <button onclick="SubmitFormByID('frmProductCat',true);" class="btn btn-info">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và tiếp tục
                        </button>
                        <a class="btn" asp-area="Admin" asp-controller="AdminMerchantSetting" asp-action="Insert">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
       
    </script>
}
