﻿@using SoftNetCore.Model.Catalog;
@model AboutModel

<div class="about-us-area pb-70">
    <div class="container">
        <div class="">
            <div class="col-lg-12 text-center">
                <div class="heading-title heading-style pos-rltv mb-50 text-center">
                    <h3 class="uppercase">Câu chuyện về VNSO SHOP</h3>
                </div>
            </div>
            <div class="about-us-wrap row">
                <div class="col-lg-6">
                    <div class="about-img"><img src="/@Model?.Thumb" alt="Câu chuyện về VNSO SHOP"></div>
                </div>
                <div class="col-lg-6">
                    <div class="about-des">
                        @Html.Raw(Model?.ShortContent)
                        <a href="/gioi-thieu" class="btn-def small" tabindex="0">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>