﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel
@model IList<ProductViewModel>
<!-- Quick view -->
@await (Component.InvokeAsync("Quick", new { model = Model }))
<section class="section-padding pb-5">
    <div class="container">
        <div class="section-title wow animate__animated animate__fadeIn" data-wow-delay="0">
            <div class="title">
                <h3 class="">Sản phẩm ưu đãi</h3>
            </div>
            <a class="show-all" href="/san-pham">
                Xem tất cả
                <i class="fi-rs-angle-right"></i>
            </a>
        </div>
        @if (Model != null)
        {
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="product-cart-wrap style-2" data-wow-delay="0">
                            <div class="product-img-action-wrap">
                                <div class="product-img">
                                    <a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">
                                        <img class="default-img" src="@product.Thumb" alt="@product.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                @*<div class="deals-countdown-wrap">
                                        <div class="deals-countdown" data-countdown="@product.SaleDeadLine.ToDateTime()"></div>
                                    </div>*@
                                <div class="deals-content">
                                    <h2><a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">@product.Title.Peel(40)</a></h2>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    @*<div>
                                            <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                                        </div>*@
                                    <div class="product-price mt-10">
                                        @if (product.CommissionValue.ToDecimal() > 0)
                                        {
                                            <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue / 100))</span>
                                            <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                        }
                                        else
                                        {
                                            if (product.Price == null || product.Price == 0)
                                            {
                                                <span>Liên hệ</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                            }
                                        }
                                    </div>
                                    <div class="sold mt-15 mb-15">
                                        <div class="progress mb-5">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                    </div>

                                    @if (string.IsNullOrEmpty(product.Aff_link))
                                    {
                                        <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                            <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="add-cart2">
                                            <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</section>