﻿@model SoftNetCore.Model.Catalog.ProductAttributeModel
@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thêm mới</h4>
        </div>
        <div class="modal-body">
            <form method="post" id="frmColor" class="form-horizontal" data-ajax="true" data-ajax-success="OnSuccessAttribute" data-ajax-fail="OnFailureAttribute" asp-action="AddColor" asp-controller="AdminProduct">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Màu sắc</label>
                        <div class="col-sm-9">
                            <select class="col-xs-12 col-sm-12 radius" asp-for="AttributeId" asp-items="ViewBag.ColorId"></select>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Hình đại diện 1 (500x500)</label>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-left-0px padding-right-0px">
                                <div>
                                    <img width="150" src="@(Model?.Avatar1 != null ? "/"+ Model.Avatar1 : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderThumb(event, 'ImageThumb');">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                    </span>
                                    <input type="text" asp-for="Avatar1" id="ImageThumb" class="col-xs-12 col-sm-12" placeholder="..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Hình đại diện 2 (500x500)</label>
                        <div class="col-sm-9">
                            <div class="col-sm-12 padding-left-0px padding-right-0px">
                                <div>
                                    <img width="150" src="@(Model?.Avatar2 != null ? "/"+ Model.Avatar2 : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                    </span>
                                    <input type="text" asp-for="Avatar2" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="..." />
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Danh sách hình kèm theo (500x500)</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderListImage(event, 'ImageList');">
                                    <i class="ace-icon fa fa-cloud-upload"></i>
                                </span>
                                <textarea asp-for="ImageList" id="ImageList" class="col-xs-12 col-sm-12" placeholder="Danh sách hình kèm theo"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                        <div class="col-sm-9">
                            <span class="help-inline">
                                <label class="middle">
                                    <input type="checkbox" asp-for="Status" />
                                    <span class="lbl">Hiển thị</span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
