﻿@model SoftNetCore.Model.Catalog.ProductAttributeModel
@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Thêm mới</h4>
        </div>
        <div class="modal-body">
            <form method="post" id="frmSize" class="form-horizontal" data-ajax="true" data-ajax-success="OnSuccessAttribute" data-ajax-fail="OnFailureAttribute" asp-action="AddSize" asp-controller="AdminProduct">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Màu sắc</label>
                        <div class="col-sm-9">
                            <select class="col-xs-12 col-sm-12 radius" asp-for="AttributeParentId" asp-items="ViewBag.ColorId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Kích cỡ (Size)</label>
                        <div class="col-sm-9">
                            <select class="col-xs-12 col-sm-12 radius" asp-for="AttributeId" asp-items="ViewBag.SizeId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Giá theo kích cỡ</label>
                        <div class="col-sm-9">
                            <input type="number" asp-for="Price" class="form-control col-xs-12 col-sm-12" placeholder="Giá theo kích cỡ" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Giá KM theo kích cỡ</label>
                        <div class="col-sm-9">
                            <input type="number" asp-for="PricePromo" class="form-control col-xs-12 col-sm-12" placeholder="Giá KM theo kích cỡ" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Số lượng</label>
                        <div class="col-sm-9">
                            <input type="number" asp-for="Quantity" class="form-control col-xs-12 col-sm-12" placeholder="Số lượng" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                        <div class="col-sm-9">
                            <span class="help-inline">
                                <label class="middle">
                                    <input type="checkbox" asp-for="Status" />
                                    <span class="lbl">Hiển thị</span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Lưu thông tin</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
