﻿@using SoftNetCore.Common.Helpers;
@model List<ProductAttributeItem>
@{
    Layout = null;
}

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                <a href="#">@item.ColorName</a>
            </td>
            <td class="text-center">
                <a href="#">@item.SizeName</a>
            </td>
            <td class="text-center">
                <a href="#">@item.Price.ToString("N0")</a>
            </td>
            <td class="text-center">
                <a href="#">@item.PricePromo.ToString("N0")</a>
            </td>
            <td class="text-center">
                <a href="#">@item.Quantity</a>
            </td>
            <td class="text-center">
                @(item?.Status == true ? "Hiển thị" : "Tạm ẩn")
            </td>
            <td class="text-center" width="20%">
                <div class="hidden-sm hidden-xs btn-group">
                    <a style="margin-right:5px" href="#" class="btn btn-xs btn btn-primary" title="Chỉnh sửa" onclick='UpdateSize(sizeId = @item.SizeId, colorId = @item.ColorId)'>
                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                    </a>
                    <a href="#" class="btn btn-xs btn-danger" title="Xóa" onclick='DeleteSize(productId = @item.ProductId.ToInt(), sizeId = @item.SizeId, colorId = @item.ColorId)'>
                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td class="center" colspan="6">
            Dữ liệu không được tìm thấy !
        </td>
    </tr>
}