﻿@model SoftNetCore.Model.Catalog.ProductModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminProduct" asp-action="Index">Sản phẩm</a>
            </li>
            <li class="active">Thêm mới</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm mới</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="CKupdate();SubmitFormByID('frmProduct',true);">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminProduct" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmProduct" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminProduct">
                    <div id="accordion" class="accordion-style1 panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Thông tin chi tiết
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse in" id="collapseOne">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Danh mục</label>
                                            <div class="col-sm-9">
                                                <select class="col-xs-12 col-sm-12 radius" asp-for="ProductCategoryId" asp-items="ViewBag.ProductCategoryId"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Mã sản phẩm</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="col-xs-12 col-sm-12" placeholder="Mã sản phẩm" asp-for="Code" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Tên sản phẩm</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="col-xs-12 col-sm-12" placeholder="Tên sản phẩm" asp-for="Title" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Giá niêm yết</label>
                                            <div class="col-sm-9">
                                                <input type="number" asp-for="Price" class="form-control col-xs-12 col-sm-12" placeholder="Giá niêm yết" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Giá khuyến mãi</label>
                                            <div class="col-sm-9">
                                                <input type="number" asp-for="PricePromo" class="form-control col-xs-12 col-sm-12" placeholder="Giá khuyến mãi" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Giảm giá (%)</label>
                                            <div class="col-sm-4">
                                                <input type="text" asp-for="Sale" class="form-control col-xs-12 col-sm-12" placeholder="Phần trăm khuyến mãi" />
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="input-group">
                                                    <input type="datetime-local" asp-for="SaleDeadLine" class="form-control col-xs-12 col-sm-12" placeholder="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Khuyến mãi theo đợt</label>
                                            <div class="col-sm-9">
                                                <select class="col-xs-12 col-sm-12 radius" asp-for="SaleId" asp-items="ViewBag.SaleId">
                                                    <option disabled selected>--- Chọn đợt khuyến mãi ---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Vị trí</label>
                                            <div class="col-sm-5">
                                                <input type="text" class="col-xs-10 col-sm-5" placeholder="Vị trí" asp-for="Position" />
                                            </div>
                                            @*<div class="col-sm-4">
                                                    <span class="help-inline">
                                                        <label class="middle padding-top-5px">
                                                            <input type="checkbox" asp-for="StockStatus" />
                                                            <span class="lbl">Còn hàng</span>
                                                        </label>
                                                    </span>
                                                </div>*@
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                            <div class="col-sm-9">
                                                <span class="help-inline">
                                                    <label class="middle">
                                                        <input type="checkbox" asp-for="IsProductHot" />
                                                        <span class="lbl">Sản phẩm HOT</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                            <div class="col-sm-9">
                                                <span class="help-inline">
                                                    <label class="middle">
                                                        <input type="checkbox" asp-for="IsProductNew" />
                                                        <span class="lbl">Sản phẩm NEW</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                            <div class="col-sm-9">
                                                <span class="help-inline">
                                                    <label class="middle">
                                                        <input type="checkbox" asp-for="Status" />
                                                        <span class="lbl">Hiển thị</span>
                                                    </label>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Hình đại diện 1 (500x500)</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="150" src="@(Model?.Thumb != null ? "/"+ Model.Thumb : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderThumb(event, 'ImageThumb');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="Thumb" id="ImageThumb" class="col-xs-12 col-sm-12" placeholder="..." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right">Hình đại diện 2 (500x500)</label>
                                            <div class="col-sm-9">
                                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                                    <div>
                                                        <img width="150" src="@(Model?.Avatar != null ? "/"+ Model.Avatar : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                                        </span>
                                                        <input type="text" asp-for="Avatar" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="..." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="widget-box">
                                                    <div class="widget-header">
                                                        <h4 class="widget-title">Hình ảnh sản phẩm</h4>
                                                    </div>
                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 text-right">
                                                                            <a href="#" class="btn btn-sm btn-info radius" onclick="AddColor();">
                                                                                <i class="ace-icon glyphicon glyphicon-plus"></i>
                                                                                Thêm mới
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                                                    <table id="simple-table" class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">Màu sắc</th>
                                                                                <th class="text-center" width="20%">Trạng thái</th>
                                                                                <th class="text-center" width="20%"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tbody_color"></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                                            <div class="col-xs-12 col-sm-7">
                                                <div class="widget-box">
                                                    <div class="widget-header">
                                                        <h4 class="widget-title">Chi tiết sản phẩm</h4>
                                                    </div>
                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 text-right">
                                                                            <a href="#" class="btn btn-sm btn-info radius" onclick="AddSize();">
                                                                                <i class="ace-icon glyphicon glyphicon-plus"></i>
                                                                                Thêm mới
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                                                    <table id="simple-table" class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">Màu sắc</th>
                                                                                <th class="text-center">Size</th>
                                                                                <th class="text-center">Giá</th>
                                                                                <th class="text-center">Giá KM</th>
                                                                                <th class="text-center">SL</th>
                                                                                <th class="text-center">Trạng thái</th>
                                                                                <th class="text-center" width="10%"></th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tbody_size"></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Mô tả ngắn
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapseTwo">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea type="text" asp-for="Description" id="Description" class="col-xs-12 col-sm-12" placeholder="" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Bài viết
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse" id="collapseThree">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <textarea type="text" asp-for="Content" id="Content" class="col-xs-12 col-sm-12" placeholder="" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                        Nội dung SEO
                                    </a>
                                </h4>
                            </div>

                            <div class="panel-collapse collapse" id="collapse4">
                                <div class="panel-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-tags">Từ khóa SEO</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="MetaKeywords" class="form-control col-xs-12 col-sm-12" placeholder="Nhập cách nhau bằng dấu ( ; )" />
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Tiêu đề SEO</label>
                                            <div class="col-sm-9">
                                                <input type="text" asp-for="MetaTitle" class="form-control col-xs-12 col-sm-12" placeholder="Tiêu đề SEO" />
                                            </div>
                                        </div>
                                        <div class="space-4"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Mô tả SEO</label>
                                            <div class="col-sm-9">
                                                <textarea asp-for="MetaDescription" class="form-control col-xs-12 col-sm-12" placeholder="Mô tả SEO" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="form-horizontal" role="form">
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" onclick="CKupdate();SubmitFormByID('frmProduct',true);">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        Lưu và tiếp tục
                    </button>
                    <a class="btn" asp-area="Admin" asp-controller="AdminProduct" asp-action="Insert">
                        <i class="ace-icon fa fa-undo bigger-110"></i>
                        Nhập lại
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="AddColor" class="modal fade" data-url="@Url.Action("AddColor","AdminProduct")" data-backdrop="static" role="dialog"></div>
<div id="UpdateColor" class="modal fade" data-backdrop="static" role="dialog"></div>
<div id="AddSize" class="modal fade" data-url="@Url.Action("AddSize","AdminProduct")" data-backdrop="static" role="dialog"></div>
<div id="UpdateSize" class="modal fade" data-backdrop="static" role="dialog"></div>

@section scripts{
    <script src="~/admin/app/ProductAttribute.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderThumb = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browsethumb', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.openElFinderListImage = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browselistimage', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                if (requestingField == "ImageList") {
                    var imageList = $('#' + requestingField).val();
                    if (imageList != '') {
                        var url = imageList + ';' + filePath;
                        $('#' + requestingField).val(url).trigger('change');
                    }
                    else {
                        $('#' + requestingField).val(filePath).trigger('change');
                    }
                }
                else {
                    $('#' + requestingField).val(filePath).trigger('change');
                }
            }
        });
    </script>
    <script type="text/javascript">
        CKEDITOR.config.height = 300;
        CKEDITOR.config.width = 'auto';
        CKEDITOR.replace("Description");
        CKEDITOR.replace("Content");
    </script>
    <script type="text/javascript">
        $(function () {
            CKupdate();

            //link
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                language: 'vi',
                format: 'dd/MM/yyyy'

            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
        });

        function CKupdate() {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
            return true;
        }

    </script>
    <script src="~/admin/app/ProductValidate.js"></script>
}
