﻿@{
    Layout = null;
}

<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Chọn sản phẩm</h4>
        </div>
        <div class="modal-body">
            <div class="row text-right">
                <div class="col-xs-12">
                    <input type="text" id="form-product-search" placeholder="Tìm kiếm sản phẩm" class="form-control radius" onkeydown="Search(arguments[0] || event);">
                </div>
            </div>
            <div class="clearfix"></div>
            <hr style="margin-top: 5px; margin-bottom: 5px;" />
            <div class="row">
                <div class="col-xs-12">
                    <table id="product-table"></table>
                    <div id="product-pager"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="SelectProduct();">Đồng ý</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
