﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model SaleModel
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | @Html.Raw(Model.Title)</title>
    <meta itemprop='name' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta property='og:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:title' content='VNSO SHOP | @Html.Raw(Model.Title)' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(Model.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(Model.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(Model.Avatar)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(Model.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<!--breadcumb area start -->
@if (!string.IsNullOrEmpty(Model.Avatar))
{
    <div class="breadcumb-area overlay pos-rltv">
        <img src="/@Model.Avatar" alt="@Model.Title" />
    </div>
}
<!--breadcumb area end -->
<!--choose us area start-->
<div class="choose-us-area choose-us-area-custom ptb-30 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-time-countdown"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Thủ tục nhanh gọn</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Tiết kiệm thời gian
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-local-shipping"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Giao hàng nhanh</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Giao hàng nhanh toàn quốc
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-block d-lg-block">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-case-download"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Đóng gói cẩn thận</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Đóng gói 2 lớp hộp carton
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--choose us area start-->
<!--shop main area are start-->
<div class="shop-main-area pt-30 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title heading-style pos-rltv mtb-20 text-center">
                    <h3 class="uppercase">@Model.Title</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12">
                <div class="shop-total-product-area clearfix mt-35">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!--tab grid are start-->
                        <div role="tabpanel" class="tab-pane fade show active" id="grid">
                            <div class="total-shop-product-grid row">
                                @if (Model.Products != null)
                                {
                                    foreach (var item in Model.Products)
                                    {
                                        <div class="col-lg-3 col-md-4 col-xs-5 item">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <div class="product-label">
                                                        @if (item.IsSale)
                                                        {
                                                            <div class="sale">-@item.Discount%</div>
                                                        }
                                                    </div>
                                                    <div class="single-prodcut-img  product-overlay pos-rltv">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">
                                                            <img src="/@item.Thumb" alt="@item.Title" class="primary-image">
                                                            <img src="/@item.Avatar" alt="@item.Title" class="secondary-image">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-text">
                                                    <div class="prodcut-name">
                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">
                                                            @item.Title
                                                        </a>
                                                    </div>
                                                    <div class="prodcut-ratting">
                                                        @for (decimal i = 1; i <= 5; i++)
                                                        {
                                                            if (i <= item.ValueAssess.ToDecimal())
                                                            {
                                                                <a href="#" tabindex="0"><i class="fa fa-star"></i></a>
                                                            }
                                                            else
                                                            {
                                                                if (item.ValueAssess.ToDecimal() > i - 1)
                                                                {
                                                                    <a href="#" tabindex="0"><i class="fa fa-star-half-o"></i></a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#" tabindex="0"><i class="fa fa-star-o"></i></a>
                                                                }
                                                            }
                                                        }
                                                        <a href="#" class="color-1"> (@item.TotalAssess.ToInt() đánh giá )</a>
                                                    </div>
                                                    <div class="prodcut-ratting-price">
                                                        <div class="prodcut-price">
                                                            @if (item.IsSale)
                                                            {
                                                                <div class="new-price"> @String.Format("{0:0,0đ}", item.PriceSale) </div>
                                                                <div class="old-price"> @String.Format("{0:0,0đ}", item.Price) </div>
                                                                <span class="text--primary-sale">
                                                                    -@item.Discount%
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <div class="new-price"> @String.Format("{0:0,0đ}", item.Price) </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="prodcut-name">
                                                        <a class="btn product-detail" asp-controller="Product" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()"> Chọn mua</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shop main area are end-->