﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model List<SaleModel>;
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Khuyến mãi</title>
    <meta itemprop='name' content='VNSO SHOP | Danh sách khuyến mãi' />
    <meta property='og:title' content='VNSO SHOP | Danh sách khuyến mãi' />
    <meta name='twitter:title' content='VNSO SHOP | Danh sách khuyến mãi' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<!--breadcumb area start -->
@if (Model != null && !string.IsNullOrEmpty(Model.FirstOrDefault().Avatar))
{
    <div class="breadcumb-area overlay pos-rltv">

        <img src="/@Model.FirstOrDefault().Avatar" alt="@Model.FirstOrDefault().Title" />

    </div>
}
<!--breadcumb area end -->
<!--choose us area start-->
<div class="choose-us-area choose-us-area-custom ptb-30 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-time-countdown"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Thủ tục nhanh gọn</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Tiết kiệm thời gian
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-local-shipping"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Giao hàng nhanh</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Giao hàng nhanh toàn quốc
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-block d-lg-block">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-case-download"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Đóng gói cẩn thận</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Đóng gói 2 lớp hộp carton
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--choose us area start-->
<!--shop main area are start-->
@foreach (var item in Model)
{
    <div class="shop-main-area pt-30 pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="heading-title heading-style pos-rltv mtb-20 text-center">
                        <h3 class="uppercase">@item.Title</h3>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <div class="shop-total-product-area clearfix mt-35">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!--tab grid are start-->
                            <div role="tabpanel" class="tab-pane fade show active" id="grid">
                                <div class="total-shop-product-grid row">
                                    @if (item.Products != null)
                                    {
                                        foreach (var item1 in item.Products)
                                        {
                                            <div class="col-lg-3 col-md-4 col-xs-5 item">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <div class="product-label">
                                                            @if (item1.IsSale)
                                                            {
                                                                <div class="sale">-@item1.Discount%</div>
                                                            }
                                                        </div>
                                                        <div class="single-prodcut-img  product-overlay pos-rltv">
                                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item1.Id" asp-route-title="@item1.Title.ToUrlFormat()">
                                                                <img src="/@item1.Thumb" alt="@item1.Title" class="primary-image">
                                                                <img src="/@item1.Avatar" alt="@item1.Title" class="secondary-image">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-text">
                                                        <div class="prodcut-name">
                                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@item1.Id" asp-route-title="@item1.Title.ToUrlFormat()">
                                                                @item1.Title
                                                            </a>
                                                        </div>
                                                        <div class="prodcut-ratting">
                                                            @for (decimal i = 1; i <= 5; i++)
                                                            {
                                                                if (i <= item1.ValueAssess.ToDecimal())
                                                                {
                                                                    <a href="#" tabindex="0"><i class="fa fa-star"></i></a>
                                                                }
                                                                else
                                                                {
                                                                    if (item1.ValueAssess.ToDecimal() > i - 1)
                                                                    {
                                                                        <a href="#" tabindex="0"><i class="fa fa-star-half-o"></i></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="#" tabindex="0"><i class="fa fa-star-o"></i></a>
                                                                    }
                                                                }
                                                            }
                                                            <a href="#" class="color-1"> (@item1.TotalAssess.ToInt() đánh giá )</a>
                                                        </div>
                                                        <div class="prodcut-ratting-price">
                                                            <div class="prodcut-price">
                                                                @if (item1.IsSale)
                                                                {
                                                                    <div class="new-price"> @String.Format("{0:0,0đ}", item1.PriceSale) </div>
                                                                    <div class="old-price"> @String.Format("{0:0,0đ}", item1.Price) </div>
                                                                    <span class="text--primary-sale">
                                                                        -@item1.Discount%
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <div class="new-price"> @String.Format("{0:0,0đ}", item1.Price) </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="prodcut-name">
                                                            <a class="btn product-detail" asp-controller="Product" asp-action="Detail" asp-route-id="@item1.Id" asp-route-title="@item1.Title.ToUrlFormat()"> Chọn mua</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!--shop main area are end-->