﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model OrderModel
@{
    var cartList = ViewBag.CartList as List<CartItem>;
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
    {
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Thanh toán</title>
    <meta itemprop='name' content='VNSO SHOP | Thanh toán' />
    <meta property='og:title' content='VNSO SHOP | Thanh toán' />
    <meta name='twitter:title' content='VNSO SHOP | Thanh toán' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Thanh toán
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="heading-2 mb-10 text-uppercase">Thanh toán</h1>
                <div class="d-flex justify-content-between">
                    @*<h6 class="text-body">There are <span class="text-brand">3</span> products in your cart</h6>*@
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row mb-50">
                    @await (Component.InvokeAsync("LoginCheckout"))
                    @*<div class="col-lg-6">
                            <form method="post" class="apply-coupon">
                                <input type="text" placeholder="Enter Coupon Code...">
                                <button class="btn  btn-md" name="login">Apply Coupon</button>
                            </form>
                        </div>*@
                </div>
                <div class="row">
                    <h4 class="mb-30">THÔNG TIN GIAO HÀNG</h4>
                    <form method="post" id="frmCheckout" data-ajax="true" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="SaveCheckout" asp-controller="Checkout">
                        <input type="hidden" asp-for="PayTypeId" id="PayTypeId" name="PayTypeId" class="info" placeholder="Hình thức thanh toán">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input type="text" asp-for="FullName" id="FullName" name="FullName" class="info" placeholder="Nhập họ tên*">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="text" asp-for="Mobi" id="Mobi" name="Mobi" class="info" placeholder="Nhập số điện thoại*">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="email" asp-for="Email" id="Email" name="Email" class="info" placeholder="Nhập email*">
                            </div>
                        </div>
                        @*<div class="row shipping_calculator">
                                <div class="form-group col-lg-6">
                                    <div class="custom_select">
                                        <select class="form-control select-active">
                                            <option value="">Select an option...</option>
                                            <option value="ZM">Zambia</option>
                                            <option value="ZW">Zimbabwe</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input required="" type="text" name="city" placeholder="City / Town *">
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <input type="text" asp-for="Address" id="Address" name="Address" class="info mb-10" placeholder="Địa chỉ nhận hàng*">
                            </div>
                        </div>
                        <div class="form-group mb-30">
                            <textarea asp-for="Remark" id="Remark" name="Remark" rows="3" class="info mb-10" placeholder="Ghi chú đơn hàng..."></textarea>
                        </div>
                        @*<div class="form-group">
                                <div class="checkbox">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="createaccount">
                                        <label class="form-check-label label_info" data-bs-toggle="collapse" href="#collapsePassword" data-target="#collapsePassword" aria-controls="collapsePassword" for="createaccount"><span>Create an account?</span></label>
                                    </div>
                                </div>
                            </div>
                            <div id="collapsePassword" class="form-group create-account collapse in">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input required="" type="password" placeholder="Password" name="password">
                                    </div>
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="border p-40 cart-totals ml-30 mb-20">
                    <div class="d-flex align-items-end justify-content-between mb-30">
                        <h4 class="text-uppercase">Đơn hàng</h4>
                    </div>
                    <div class="divider-2 mb-30"></div>
                    <div class="table-responsive order_table checkout">
                        <table class="table no-border">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" class="center" colspan="2"><h6>Sản phẩm</h6></th>
                                    <th scope="col" class="center"><h6>Thành tiền</h6></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in cartList)
                                {
                                    <tr>
                                        @*<td class="image product-thumbnail"><img src="~/assets/imgs/shop/product-1-1.jpg" alt="#"></td>*@
                                        <td>
                                            <span class="mb-5"><a href="#" class="text-heading">@item.ProductName</a></span>
                                        </td>
                                        <td>
                                            <h6 class="text-muted pl-20 pr-20">x @item.Quantity</h6>
                                        </td>
                                        <td>
                                            <h6 class="text-brand">@String.Format("{0:0,0đ}", item.SubTotal)</h6>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr class="order_total">
                                    <th colspan="2"><h6>Tổng tiền</h6></th>
                                    <td><h5 class="text-brand text-start">@String.Format("{0:0,0đ}", (decimal)ViewBag.Total)</h5></td>
                                </tr>
                                <tr>
                                    <th colspan="2">
                                        <h6>Phí vận chuyển</h6>
                                    </th>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-start">Miễn phí</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="2">
                                        <h6>Tổng cộng</h6>
                                    </th>
                                    <td class="cart_total_amount">
                                        <h5 class="text-brand text-start" id="Total">@(String.Format("{0:0,0đ}", cartList.Sum(z=>z.Quantity * z.Price)))</h5>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="payment ml-30">
                    <h5 class="mb-30">Hình thức thanh toán</h5>
                    <div class="payment_option">
                        <div class="custome-radio">
                            <input class="form-check-input" name="pay" value="1" type="radio" id="exampleRadios3" checked>
                            <label class="form-check-label" for="exampleRadios3" data-bs-toggle="collapse" data-target="#bankTranfer" aria-controls="bankTranfer">Thanh toán bằng tiền mặt (COD)</label>
                        </div>
                        <div class="custome-radio">
                            <input class="form-check-input" name="pay" type="radio" value="2" id="exampleRadios4">
                            <label class="form-check-label" for="exampleRadios4" data-bs-toggle="collapse" data-target="#checkPayment" aria-controls="checkPayment">Chuyển khoản</label>
                        </div>
                        @*<div class="custome-radio">
                                <input class="form-check-input" required="" type="radio" name="payment_option" id="exampleRadios5" checked="">
                                <label class="form-check-label" for="exampleRadios5" data-bs-toggle="collapse" data-target="#paypal" aria-controls="paypal">Online Getway</label>
                            </div>*@
                    </div>
                    @*<div class="payment-logo d-flex">
                            <img class="mr-15" src="~/assets/imgs/theme/icons/payment-paypal.svg" alt="">
                            <img class="mr-15" src="~/assets/imgs/theme/icons/payment-visa.svg" alt="">
                            <img class="mr-15" src="~/assets/imgs/theme/icons/payment-master.svg" alt="">
                            <img src="~/assets/imgs/theme/icons/payment-zapper.svg" alt="">
                        </div>*@
                    <div id="div_Alert" class="text-white"><strong>Thông báo :</strong> <span id="span_Message">Vui lòng nhập đầy đủ thông tin</span></div>
                    <button onclick="SubmistForm();" class="btn btn-fill-out btn-block mt-30">Đặt hàng<i class="fi-rs-sign-out ml-15"></i></button>
                </div>
            </div>
        </div>
    </div>
</main>

<!--cart-checkout-area end-->
@section scripts{
    <script type="text/javascript" src="~/admin/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/portal/function/checkout.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    LoadDistrictByProvince();
        //});

        $("#ProvinceId").change(function () {
            var provinceId = $("#ProvinceId").val();
            if (provinceId != '') {
                $.ajax({
                    type: 'GET',
                    url: '/Checkout/LoadDataDrop',
                    async: true,
                    dataType: 'JSON',
                    data: { id: provinceId },
                    success: function (data) {
                        $("#DistrictId").empty();
                        //$(".list").empty();
                        $.each(data.DistrictDrop, function (key, item) {
                            $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#DistrictId'));
                            //$("<li class='option' data-value=" + item.Value + ">" + item.Text + " </li>").appendTo($('.list'));
                        });

                        //Ship
                        $("#txtFeeShip").text(data.FeeShip.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + 'đ');
                        $("#txtTotalShip").text(data.TotalAndShip.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + 'đ');
                    }
                })
                    .fail(
                        function (jqXHR, textStatus, err) {

                        });
            }
        });

        //function LoadDistrictByProvince() {
        //    var provinceId = $("#ProvinceId").val();
        //    if (provinceId != '') {
        //        $.ajax({
        //            type: 'GET',
        //            url: '/Checkout/LoadDataDrop',
        //            async: true,
        //            dataType: 'JSON',
        //            data: { id: provinceId },
        //            success: function (data) {
        //                $("#DistrictId").empty();
        //                $.each(data.DistrictDrop, function (key, item) {
        //                    $("<option value=" + item.Value + ">" + item.Text + " </option>").appendTo($('#DistrictId'));
        //                });

        //                //Ship
        //                $("#txtFeeShip").text(data.FeeShip.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + 'đ');
        //                $("#txtTotalShip").text(data.TotalAndShip.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + 'đ');
        //            }
        //        })
        //            .fail(
        //                function (jqXHR, textStatus, err) {

        //                });
        //    }
        //}

    </script>
    <script type="text/javascript">
        $(function () {

        });

        function OnSuccess(data) {
            if (data.Status) {
                toastr.success("Đặt hàng thành công", "Thành công!", { timeOut: 3000, "closeButton": true });
                window.location.href = "/dat-hang-thanh-cong";
            }
            else {
                $("#span_Message").text("Đặt hàng thất bại. Vui lòng thử lại.");
                toastr.error("Đặt hàng thất bại. Kiểm tra lại thông tin", "Không thành công!", { timeOut: 3000, "closeButton": true });
            }
        }

        function OnFailure(data) {
            $("#span_Message").text("Đặt hàng thất bại. Vui lòng thử lại.");
            toastr.error("Đặt hàng thất bại. Kiểm tra lại thông tin", "Không thành công!", { timeOut: 3000, "closeButton": true });
        }

        function SubmistForm() {
            var pay = $("input[name='pay']:checked").val();
            if (pay == "2") { $("#PayTypeId").val("2"); }
            else { $("#PayTypeId").val("1"); }
            $("#frmCheckout").submit();
        }
    </script>
}

