﻿@using SoftNetCore.Common.Helpers
@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Extensions;
@model IList<CouponAndTotalTypeModel>
<div class="sidebar-widget widget-category-2 mb-30">
    <h5 class="section-title style-1 mb-30">DANH MỤC</h5>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {

                <li>
                    <a href="/coupon-@item.CouponTypeModel.Title.ToUrlFormat()-@item.CouponTypeModel.Id">
                        @*<img src="@item.CouponTypeModel.Avatar" alt="@item.CouponTypeModel.Title"> @item.CouponTypeModel.Title.Peel()<span class="count">@item.Total</span>*@
                        @if (string.IsNullOrEmpty(item.CouponTypeModel.Logo))
                        {
                            <img src="~/assets/imgs/theme/icons/noimage.png" width="30" alt="@item.CouponTypeModel.Title"> @item.CouponTypeModel.Title.Peel(15)
                        }
                        else
                        {
                            <img src="@item.CouponTypeModel.Logo" width="30" alt="@item.CouponTypeModel.Title"> @item.CouponTypeModel.Title.Peel(15)
                        }
                    </a>
                    <span class="count">@item.Total</span>
                </li>
            }
        </ul>
    }
</div>