﻿@using SoftNetCore.Model.Catalog;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý khuyến mãi</a>
            </li>
            <li class="active">Khuyến mãi</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Khuyến mãi</strong></h3>
            <div class="top-toolbar">
                <a asp-area="Admin" asp-controller="AdminPromotion" asp-action="Insert" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon ace-icon glyphicon glyphicon-plus bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Thêm mới</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row form-function">
            <div class="col-sm-7">
                <input type="text" id="form-search" placeholder="Tìm kiếm" class="col-xs-10 col-sm-5 width-100 radius" onkeydown="Search(arguments[0] || event);">
            </div>
            <div class="col-sm-3">
                <select id="form-select-search" class="form-control width-100 radius" onchange="Search(arguments[0] || event);">
                    <option value="">Tất cả</option>
                    @foreach (var item in ViewBag.PromotionCategory as List<PromotionCategoryModel>)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }
                </select>
            </div>
            <button class="btn btn-sm btn-primary radius" onclick="Search(arguments[0] || event);">
                <i class="ace-icon glyphicon glyphicon-search bigger-110"></i>
                <span class="bigger-110 no-text-shadow">Tìm kiếm</span>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/app/Promotion.js"></script>
    <script type="text/javascript">
        function UpdateStatus(id) {
            $.ajax({
                type: 'POST',
                url: '/Admin/AdminPromotion/UpdateStatus',
                //async: true,
                //dataType: 'html',
                data: { id: id },
                success: function (result) {
                    if (result.Status) {
                        toastr.success("Cập nhật thành công.", "Thành công !");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500); //delay is in milliseconds
                    }
                    else {
                        toastr.error("Lỗi hệ thống.", "Không thành công!");
                    }
                }
            })
                .fail(
                    function (jqXHR, textStatus, err) {

                    });
        }
    </script>
}