﻿@using SoftNetCore.Model.Catalog;
@model IList<FeedbackModel>

<div class="testimonial-area overlay ptb-50 mt-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title mb-20 text-center">
                    <h3 class="uppercase">Khách hàng nói gì về VNSO SHOP</h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="total-testimonial testimonial-slider carosule-pagi pagi-03">
                    @foreach (var item in Model)
                    {
                        <div class="single-testimonial">
                            <div class="testimonial-img">
                                <img src="/@item.Avatar" alt="@item.FullName">
                            </div>
                            <div class="testimonial-content">
                                <div class="name-degi pos-rltv">
                                    <h5>@item.FullName</h5>
                                    <div class="prodcut-ratting">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                </div>
                                <div class="testi-text">
                                    @Html.Raw(item.Content)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>