﻿@using SoftNetCore.Model.Request
@model AuthenticateRequest
@{ Layout = null;
    string returnUrl = Model != null ? Model.ReturnUrl : string.Empty;}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Đăng nhập - Admin</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/admin/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- text fonts -->
    <link rel="stylesheet" href="~/admin/css/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="~/admin/css/ace.min.css" />
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/Areas/Admin/assets/css/ace-part2.min.css" />
    <![endif]-->
    <link rel="stylesheet" href="~/admin/css/ace-rtl.min.css" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/Areas/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/Areas/Admin/assets/js/html5shiv.min.js"></script>
    <script src="/Areas/Admin/assets/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .width-40 {
            width: 40% !important;
        }
    </style>

</head>
<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <span class="red">ADMIN</span>
                            </h1>
                        </div>
                        <div class="space-6"></div>
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            Vui lòng nhập thông tin tài khoản
                                        </h4>
                                        <div class="space-6"></div>

                                        <form method="post" data-ajax="true" data-ajax-complete="completed" asp-action="AdminLogin" asp-controller="AdminAccount" asp-route-returnUrl="@returnUrl">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="form-control" placeholder="Tên đăng nhập" asp-for="Username" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" placeholder="Mật khẩu" asp-for="Password" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>
                                                <div class="space"></div>
                                                <div class="clearfix">
                                                    <label class="inline">
                                                        <input type="checkbox" asp-for="RememberMe" class="ace" id="customCheck">
                                                        <span class="lbl"> Nhớ mật khẩu</span>
                                                    </label>
                                                    <button type="submit" class="width-40 pull-right btn btn-sm btn-primary">
                                                        <i class="ace-icon fa fa-key"></i>
                                                        <span class="bigger-110">Đăng nhập</span>
                                                    </button>
                                                </div>
                                                <div class="space-4"></div>
                                            </fieldset>
                                        </form>

                                        @*<div class="social-or-login center">
                                                <span class="bigger-110">Hoặc đăng nhập bằng</span>
                                            </div>
                                            <div class="space-6"></div>
                                            <div class="social-login center">
                                                <a class="btn btn-primary">
                                                    <i class="ace-icon fa fa-facebook"></i>
                                                </a>
                                                <a class="btn btn-info">
                                                    <i class="ace-icon fa fa-twitter"></i>
                                                </a>
                                                <a class="btn btn-danger">
                                                    <i class="ace-icon fa fa-google-plus"></i>
                                                </a>
                                            </div>*@
                                    </div>
                                    <div class="toolbar clearfix">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/admin/js/jquery-2.1.4.min.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="/Areas/Admin/assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script type="text/javascript">if ('ontouchstart' in document.documentElement) document.write("<script src='~/admin/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");</script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(document).on('click', '.toolbar a[data-target]', function (e) {
                e.preventDefault();
                var target = $(this).data('target');
                $('.widget-box.visible').removeClass('visible');//hide others
                $(target).addClass('visible');//show target
            });
        });
        //you don't need this, just used for changing background
        jQuery(function ($) {
            $('#btn-login-dark').on('click', function (e) {
                $('body').attr('class', 'login-layout');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-light').on('click', function (e) {
                $('body').attr('class', 'login-layout light-login');
                $('#id-text2').attr('class', 'grey');
                $('#id-company-text').attr('class', 'blue');

                e.preventDefault();
            });
            $('#btn-login-blur').on('click', function (e) {
                $('body').attr('class', 'login-layout blur-login');
                $('#id-text2').attr('class', 'white');
                $('#id-company-text').attr('class', 'light-blue');

                e.preventDefault();
            });

        });</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Username").on('keyup', function () {
                var val = $(this).val();
                if (val != "") {
                    $(this).removeClass("is-invalid");
                }
                // Does some stuff and logs the event to the console
            });
            $("#Username").on('blur', function () {
                var val = $(this).val();
                if (val == "") {
                    $(this).addClass("is-invalid");
                }
                // Does some stuff and logs the event to the console
            });
            $("#Password").on('keyup', function () {
                var val = $(this).val();
                if (val != "") {
                    $(this).removeClass("is-invalid");
                }
                // Does some stuff and logs the event to the console
            });
            $("#Password").on('blur', function () {
                var val = $(this).val();
                if (val == "") {
                    $(this).addClass("is-invalid");
                }
                // Does some stuff and logs the event to the console
            });
        });

    </script>
</body>
</html>
