﻿@using SoftNetCore.Model.Request;
@model ChangePasswordRequest;
@{
    Layout = null;
}

<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Đổi mật khẩu</h4>
        </div>
        <div class="modal-body">
            <form method="post" id="frmChangePassword" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="ChangePassword" asp-controller="AdminAccount">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            <input type="password" asp-for="OldPassword" class="col-xs-12 col-sm-12" placeholder="Nhập mật khẩu cũ" />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới</label>
                            <input type="password" asp-for="NewPassword" class="col-xs-12 col-sm-12" placeholder="Nhập mật khẩu mới" />
                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu</label>
                            <input type="password" asp-for="ConfirmPassword" class="col-xs-12 col-sm-12" placeholder="Nhập lại mật khẩu" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="SubmitFormByID('frmChangePassword');" class="btn btn-primary">Cập nhật</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>