﻿@model SoftNetCore.Model.Catalog.AccountModel
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Hệ thống</a>
            </li>
            <li class="active">Tài khoản hệ thống</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm tài khoản hệ thống</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="SubmitFormByID('frmAccount',true);">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminAccount" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal" role="form">
                    <form method="post" id="frmAccount" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminAccount">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Họ và tên</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="FullName" class="col-xs-12 col-sm-12" placeholder="Họ tên" />
                            </div>
                        </div>*@
                        @*<div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Email</label>
                            <div class="col-sm-9">
                                <input type="email" asp-for="Email" class="col-xs-12 col-sm-12" placeholder="Email" />
                            </div>
                        </div>*@
                        @*<div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Điện thoại</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="PhoneNumber" class="col-xs-12 col-sm-12" placeholder="Điện thoại" />
                            </div>
                        </div>*@
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Tài khoản</label>
                            <div class="col-sm-5">
                                <input type="text" asp-for="UserName" class="col-xs-12 col-sm-12" placeholder="Tên đăng nhập" />
                            </div>
                            <div class="col-sm-4">
                                <input type="password" asp-for="Password" class="col-xs-12 col-sm-12" placeholder="Mật khẩu" />
                            </div>
                        </div>
                        @*<div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                            <div class="col-sm-9">
                                <textarea class="col-xs-12 col-sm-12" placeholder="Mô tả" rows="2" asp-for="Description"></textarea>
                            </div>
                        </div>*@
                        @*<div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Địa chỉ</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Address" class="col-xs-12 col-sm-12" placeholder="Địa chỉ" />
                            </div>
                        </div>*@
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                            <div class="col-sm-9">
                                <span class="help-inline">
                                    <label class="middle">
                                        <input type="checkbox" asp-for="Status" class="ace" />
                                        <span class="lbl">Đang hoạt động</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button onclick="SubmitFormByID('frmAccount',true);" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Lưu và tiếp tục
                            </button>
                            <a class="btn" asp-area="Admin" asp-controller="AdminAccount" asp-action="Insert">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/app/AccountValidate.js"></script>
}



