﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model IList<ProductViewModel>
<!-- Quick view -->
@await (Component.InvokeAsync("Quick", new { model = Model }))
<div class="row mt-60">
    <div class="col-12">
        <div class="title">
            <h2 class="section-title style-1 mb-30">Bạn có thể thích</h2>
        </div>
    </div>
    <div class="col-12">
        <div class="row related-products">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var product in Model)
                {
                    <div class="col-lg-3 col-md-4 col-6 col-sm-6">
                        <div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">
                                        <img class="default-img" src="@product.Thumb" alt="@product.Title">
                                        <img class="hover-img" src="@product.Thumb" alt="@product.Title">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Yêu thích" data-productid="@product.Id" class="action-btn addWishlist" href="javascript:void(0)"><i class="fi-rs-heart"></i></a>
                                    @*<a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>*@
                                    <a aria-label="Xem trước" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal-@product.Id"><i class="fi-rs-eye"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    @if (product.IsProductNew.ToBool())
                                    {
                                        <span class="new">Mới</span>
                                    }
                                    else if (product.CommissionType != null && product.CommissionType.Equals("amount"))
                                    {
                                        <span class="hot">Bán chạy</span>
                                    }
                                    else if (product.CommissionValue.ToDecimal() > 0)
                                    {
                                        <span class="sale">Giảm giá</span>
                                    }
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                @*<div class="product-category">
                                        <a href="/san-pham-@product.ProductCategoryId">@product.ProductCategory.Title</a>
                                    </div>*@
                                <h2><a href="/chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id" title="@product.Title">@product.Title.Peel(45)</a></h2>
                                <div class="product-rate-cover">
                                    <div class="product-rate d-inline-block">
                                        <div class="product-rating" style="width: 90%"></div>
                                    </div>
                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
                                </div>
                                @*<div>
                                        <span class="font-small text-muted">By <a href="vendor-details-1.html">NestFood</a></span>
                                    </div>*@
                            <div class="product-price mt-10">
                                @if (product.CommissionValue.ToDecimal() > 0)
                                {
                                    <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue.ToDecimal() / 100))</span>
                                    <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                    <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                                }
                                else
                                {
                                    if (product.Price == null || product.Price == 0)
                                    {
                                        <span>Liên hệ</span>
                                    }
                                    else
                                    {
                                        <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                    }
                                }
                            </div>
                                <div class="sold mt-15 mb-15">
                                    <div class="progress mb-5">
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                </div>

                                @if (string.IsNullOrEmpty(product.Aff_link))
                                {
                                    <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                        <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="add-cart2">
                                        <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>