﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model ProductTopViewModel;


<section class="section-padding mb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
                <h4 class="section-title style-1 mb-30 animated animated uppercase">Sản phẩm ưu đãi</h4>
                @if (Model.ProductSaleList != null)
                {
                    <div class="product-list-small animated animated">
                        @foreach (var product in Model.ProductSaleList)
                        {
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id"><img src="@product.Thumb" alt="@product.Title"></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">@product.Title.Peel(54)</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price mt-10">
                                        @if (product.CommissionValue.ToDecimal() > 0)
                                        {
                                            <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue.ToDecimal() / 100))</span>
                                            <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                            <span class="save-price font-md color3 ml-15">@(product.CommissionValue.ToDecimal() == 0 ?"":"-"+ product.CommissionValue.ToString() +"%")</span>
                                        }
                                        else
                                        {
                                            if (product.Price == null || product.Price == 0)
                                            {
                                                <span>Liên hệ</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                            }
                                        }
                                    </div>
                                    <div class="sold mt-15 mb-15">
                                        <div class="progress mb-5">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                    </div>

                                    @*@if (string.IsNullOrEmpty(product.Aff_link))
                                    {
                                        <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                            <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="add-cart2">
                                            <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                        </div>
                                    }*@
                                </div>
                            </article>
                        }
                    </div>
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-md-0 wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                <h4 class="section-title style-1 mb-30 animated animated uppercase">Sản phẩm thịnh hành</h4>
                @if (Model.ProductHotList != null)
                {
                    <div class="product-list-small animated animated">
                        @foreach (var product in Model.ProductHotList)
                        {
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id"><img src="@product.Thumb" alt="@product.Title"></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">@product.Title.Peel(54)</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price mt-10">
                                        @if (product.CommissionValue.ToDecimal() > 0)
                                        {
                                            <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue / 100))</span>
                                            <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                        }
                                        else
                                        {
                                            if (product.Price == null || product.Price == 0)
                                            {
                                                <span>Liên hệ</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                            }
                                        }
                                    </div>
                                    <div class="sold mt-15 mb-15">
                                        <div class="progress mb-5">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                    </div>

                                    @*@if (string.IsNullOrEmpty(product.Aff_link))
                                    {
                                        <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                            <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="add-cart2">
                                            <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                        </div>
                                    }*@
                                </div>
                            </article>
                        }
                    </div>
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-lg-block wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                <h4 class="section-title style-1 mb-30 animated animated uppercase">Sản phẩm mới</h4>
                @if (Model.ProductNewList != null)
                {
                    <div class="product-list-small animated animated">
                        @foreach (var product in Model.ProductNewList)
                        {
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id"><img src="@product.Thumb" alt="@product.Title"></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">@product.Title.Peel(54)</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price mt-10">
                                        @if (product.CommissionValue.ToDecimal() > 0)
                                        {
                                            <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue / 100))</span>
                                            <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                        }
                                        else
                                        {
                                            if (product.Price == null || product.Price == 0)
                                            {
                                                <span>Liên hệ</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                            }
                                        }
                                    </div>
                                    <div class="sold mt-15 mb-15">
                                        <div class="progress mb-5">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                    </div>

                                    @*@if (string.IsNullOrEmpty(product.Aff_link))
                                    {
                                        <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                            <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="add-cart2">
                                            <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                        </div>
                                    }*@
                                </div>
                            </article>
                        }
                    </div>
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0 d-none d-xl-block wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                <h4 class="section-title style-1 mb-30 animated animated uppercase">Sản phẩm ngẫu nhiên</h4>
                @if (Model.ProductRandomList != null)
                {
                    <div class="product-list-small animated animated">
                        @foreach (var product in Model.ProductRandomList)
                        {
                            <article class="row align-items-center hover-up">
                                <figure class="col-md-4 mb-0">
                                    <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id"><img src="@product.Thumb" alt="@product.Title"></a>
                                </figure>
                                <div class="col-md-8 mb-0">
                                    <h6>
                                        <a href="\chi-tiet-san-pham-@product.Title.ToUrlFormat()-@product.Id">@product.Title.Peel(54)</a>
                                    </h6>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (4.0)</span>
                                    </div>
                                    <div class="product-price mt-10">
                                        @if (product.CommissionValue.ToDecimal() > 0)
                                        {
                                            <span>@String.Format("{0:0,0đ}", (product.Price * product.CommissionValue / 100))</span>
                                            <span class="old-price">@String.Format("{0:0,0đ}", product.Price)</span>
                                        }
                                        else
                                        {
                                            if (product.Price == null || product.Price == 0)
                                            {
                                                <span>Liên hệ</span>
                                            }
                                            else
                                            {
                                                <span>@String.Format("{0:0,0đ}", product.Price)</span>
                                            }
                                        }
                                    </div>
                                    <div class="sold mt-15 mb-15">
                                        <div class="progress mb-5">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        @*<span class="font-xs text-heading"> Sold: 90/120</span>*@<span class="font-xs text-heading"></span>
                                    </div>

                                    @*@if (string.IsNullOrEmpty(product.Aff_link))
                                    {
                                        <div class="add-cart" data-quantity="1" data-id="@product.Id" data-producimage="@product.Thumb" data-producname="@product.Title" data-producprice="@(product.CommissionValue == 0 ? product.Price : product.Price * product.CommissionValue/100)">
                                            <a href="javascript:void(0)" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Thêm vào giỏ</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="add-cart2">
                                            <a href="@product.Aff_link" target="_blank" class="btn w-100 hover-up"><i class="fi-rs-shopping-cart mr-5"></i>Mua hàng</a>
                                        </div>
                                    }*@
                                </div>
                            </article>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>