﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers
@using SoftNetCore.Common.Extensions;
@using SoftNetCore.DataAccess.ViewModel;
@model IList<CouponViewModel>

<div class="sidebar-widget coupon coupon-sidebar mb-30 p-30 bg-grey border-radius-10">
    <div class="title">
        <h5 class="section-title style-1 mb-30">Mã giảm giá mới</h5>
    </div>
    @if (Model != null)
    {
        foreach (var coupon in Model)
        {
            <div class="single-post clearfix">
                <div class="coupon-single-img">
                    <img src="@coupon.Image" alt="@coupon.Title">
                </div>
                <div class="content pt-10">
                    <a href="\chi-tiet-san-pham-@coupon.Title.ToUrlFormat()-@coupon.Id" title="@coupon.Title">@coupon.Title.Peel(54)</a>
                    <div class="product-rate-cover">
                        <span>HSD: @coupon.EndDate</span>
                    </div>
                    <div class="product-rate-cover">
                        <span>@coupon.TimeLeft</span>
                    </div>
                    <div class="product-rate-cover">
                        <span>Mã: <span>@coupon.CouponDetails.FirstOrDefault()?.coupon_code</span></span>
                    </div>
                    <div class="product-card-bottom">
                        <div>
                            <a href="@coupon.AffilateLink" target="_blank"> <i class="fi-rs-surfing"></i> Lấy link</a>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        }
    }
</div>
