﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model List<CartItem>
@{
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
    {
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Giỏ hàng</title>
    <meta itemprop='name' content='VNSO SHOP | Giỏ hàng' />
    <meta property='og:title' content='VNSO SHOP | Giỏ hàng' />
    <meta name='twitter:title' content='VNSO SHOP | Giỏ hàng' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info?.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info?.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info?.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info?.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info?.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info?.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info?.PageId)' />
}

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow"><i class="fi-rs-home mr-5"></i>Trang chủ</a>
                <span></span> Giỏ hàng
            </div>
        </div>
    </div>
    <div class="container mb-80 mt-50">
        <div class="row">
            <div class="col-lg-8 mb-40">
                <h1 class="heading-2 mb-10 text-uppercase">Giỏ hàng</h1>
                <div class="d-flex justify-content-between">
                    <h6 class="text-body">Có <span class="text-brand total-item-product">@(Model != null && Model.Count > 0 ? @Model.Count : 0)</span> sản phẩm trong giỏ hàng của bạn</h6>
                    <h6 class="text-body"><a href="javascript:void(0);" id="removeAllCart" class="text-muted"><i class="fi-rs-trash mr-5"></i>Xóa giỏ hàng</a></h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="table-responsive shopping-summery">
                    @if (Model != null && Model.Count > 0)
                    {
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2"> Sản phẩm</th>
                                    <th scope="col" class="text-center">Giá</th>
                                    <th scope="col" class="text-center">Số lượng</th>
                                    <th scope="col" class="text-center">Thành Tiền</th>
                                    <th scope="col" class="end text-center">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr class="pt-30">
                                        <td class="image product-thumbnail pt-40"><img src="@product.Avatar" alt="@product.ProductName"></td>
                                        <td class="product-des product-name">
                                            <h6 class="mb-5"><a class="product-name mb-10 text-heading" href="chi-tiet-san-pham-@product.ProductName-@product.ProductId">@product.ProductName.Peel(54)</a></h6>
                                            <div class="product-rate-cover">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (4.0)</span>
                                            </div>
                                        </td>
                                        <td class="price" data-title="Price">
                                            <h6 class="text-body" data-price="@product.Price">@String.Format("{0:0,0đ}", product.Price)</h6>
                                        </td>
                                        <td class="text-center detail-info" data-title="Stock">
                                            <div class="detail-extralink mr-15">
                                                <div class="detail-qty border radius">
                                                    <a href="#" class="qty-down" data-id="@product.ProductId"><i class="fi-rs-angle-small-down"></i></a>
                                                    <span class="qty-val">@product.Quantity</span>
                                                    <a href="#" class="qty-up" data-id="@product.ProductId"><i class="fi-rs-angle-small-up"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="price" data-title="Price">
                                            <h6 class="text-brand">@String.Format("{0:0,0đ}", (product.Quantity * product.Price))</h6>
                                        </td>
                                        <td class="action text-center remove" data-id="@product.ProductId" data-title="Xóa"><a href="#" class="text-body"><i class="fi-rs-trash"></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }

                </div>
                <div class="divider-2 mb-30"></div>
                <div class="cart-action d-flex justify-content-between">
                    <a href="/san-pham" class="btn "><i class="fi-rs-arrow-left mr-10"></i>Tiếp tục mua hàng</a>
                    @*<a class="btn  mr-10 mb-sm-15"><i class="fi-rs-refresh mr-10"></i>Update Cart</a>*@
                </div>
                @*<div class="row mt-50">
                        <div class="col-lg-7">
                            <div class="calculate-shiping p-40 border-radius-15 border">
                                <h4 class="mb-10">Calculate Shipping</h4>
                                <p class="mb-30"><span class="font-lg text-muted">Flat rate:</span><strong class="text-brand">5%</strong></p>
                                <form class="field_form shipping_calculator">
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <div class="custom_select">
                                                <select class="form-control select-active w-100">
                                                    <option value="">United Kingdom</option>
                                                    <option value="AX">Aland Islands</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <div class="form-group col-lg-6">
                                            <input required="required" placeholder="State / Country" name="name" type="text">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input required="required" placeholder="PostCode / ZIP" name="name" type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="p-40">
                                <h4 class="mb-10">Apply Coupon</h4>
                                <p class="mb-30"><span class="font-lg text-muted">Using A Promo Code?</span></p>
                                <form action="#">
                                    <div class="d-flex justify-content-between">
                                        <input class="font-medium mr-15 coupon" name="Coupon" placeholder="Enter Your Coupon">
                                        <button class="btn"><i class="fi-rs-label mr-10"></i>Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-lg-4">
                <div class="border p-md-4 cart-totals ml-30">
                    <div class="table-responsive">
                        <table class="table no-border">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Tạm tính</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" id="subTotal">@(String.Format("{0:0,0đ}", Model.Sum(z=>z.Quantity * z.Price)))</h4>
                                    </td>
                                </tr>
                                @*<tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Phí vận chuyển</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h5 class="text-heading text-end">Miễn phí</h5>
                                    </td>
                                </tr>
                                @*<tr>
                                        <td class="cart_total_label">
                                            <h6 class="text-muted">Estimate for</h6>
                                        </td>
                                        <td class="cart_total_amount">
                                            <h5 class="text-heading text-end">United Kingdom</h5>
                                        </td>
                                    </tr>*@
                                @*<tr>
                                    <td scope="col" colspan="2">
                                        <div class="divider-2 mt-10 mb-10"></div>
                                    </td>
                                </tr>*@
                                <tr>
                                    <td class="cart_total_label">
                                        <h6 class="text-muted">Tổng cộng</h6>
                                    </td>
                                    <td class="cart_total_amount">
                                        <h4 class="text-brand text-end" id="Total">@(String.Format("{0:0,0đ}", Model.Sum(z=>z.Quantity * z.Price)))</h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a id="checkOut" class="btn mb-20 w-100">Mua hàng<i class="fi-rs-sign-out ml-15"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts{
    <script type="text/javascript" src="~/portal/function/cart.js"></script>
    <script>
        $('#checkOut').click(function () {
            if ($(".table-wishlist > tbody> tr").length == 0) {
                alert("Giỏ hàng đang trống. Vui lòng thêm sản phẩm vào giỏ hàng!")
            }
            else {
                window.location.href = '/thanh-toan';
            }
        });
    </script>
}