﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Trang chủ</a>
            </li>
            <li>
                <a href="#">Quản lý sản phẩm</a>
            </li>
            <li class="active">Đợt khuyến mãi</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Đợt khuyến mãi</strong></h3>
            <div class="top-toolbar">
                <a href="@Url.Action("Insert", "AdminSale")" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon ace-icon glyphicon glyphicon-plus bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Thêm mới</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row form-function">
            <div class="col-sm-8">
                <input type="text" id="form-search" placeholder="Tìm kiếm" class="col-xs-10 col-sm-5 width-100 radius" onkeydown="Search(arguments[0] || event);">
            </div>
            <div class="col-sm-2">
                <select class="form-control width-100 radius" id="form-select-search" onchange="Search(arguments[0] || event);">
                    <option value="">Tất cả</option>
                    <option value="1">Đang áp dụng</option>
                    <option value="0">Tạm ngưng</option>
                </select>
            </div>
            <button class="btn btn-sm btn-primary radius" onclick="Search(arguments[0] || event);">
                <i class="ace-icon glyphicon glyphicon-search bigger-110"></i>
                <span class="bigger-110 no-text-shadow">Tìm kiếm</span>
            </button>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table id="grid-table"></table>
                <div id="grid-pager"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/app/Sale.js"></script>
    <script type="text/javascript">
        function UpdateStatus(id) {
            $.ajax({
                type: 'POST',
                url: '/Admin/AdminSale/UpdateStatus',
                //async: true,
                //dataType: 'html',
                data: { id: id },
                success: function (result) {
                    if (result.Status) {
                        toastr.success("Cập nhật thành công.", "Thành công !");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500); //delay is in milliseconds
                    }
                    else {
                        toastr.error("Lỗi hệ thống.", "Không thành công!");
                    }
                }
            })
                .fail(
                    function (jqXHR, textStatus, err) {

                    });
        }
    </script>
}

