﻿@model SoftNetCore.Model.Catalog.SaleModel
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý sản phẩm</a>
            </li>
            <li class="active">Khuyến mãi</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="page-header">
            <h3><strong>Cập nhật</strong></h3>
            <div class="top-toolbar">
                <button class="btn btn-sm btn-primary radius" onclick="SubmitFormByID('frmSale',false);">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu</span>
                </button>
                <button onclick="SubmitFormByID('frmSale',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminSale" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal" role="form">
                    <form method="post" id="frmSale" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Update" asp-controller="AdminSale">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" asp-for="Id" class="col-xs-12 col-sm-12" />
                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                                <input type="hidden" asp-for="CreateTime" class="col-xs-12 col-sm-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Tên đợt khuyến mãi</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Tiêu đề" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                            <div class="col-sm-9">
                                <textarea type="text" asp-for="Description" class="col-xs-12 col-sm-12" placeholder="Mô tả" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mt-20" for="form-field-2">Khuyến mãi (%)</label>
                            <div class="col-sm-1 mt-20">
                                <input type="text" asp-for="PercentSale" class="form-control col-xs-12 col-sm-12" placeholder="%" />
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <div class="input-group row">
                                    <label class="control-label no-padding-right" for="form-field-2">Thời gian bắt đầu (mm/dd/yyyy)</label>
                                    <input type="datetime-local" asp-for="TimeStart" class="col-xs-12 col-sm-12" placeholder="" />
                                </div>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <div class="input-group">
                                    <label class="control-label no-padding-right" for="form-field-2">Thời gian kết thúc (mm/dd/yyyy)</label>
                                    <input type="datetime-local" asp-for="TimeEnd" class="form-control col-xs-12 col-sm-12" placeholder="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Hình ảnh (1920x545)</label>
                            <div class="col-sm-9">
                                <div class="col-sm-12 padding-left-0px padding-right-0px">
                                    <div>
                                        <img width="300" src="@(Model?.Avatar != null ? "/"+ Model.Avatar : "/admin/images/avatars/no_image_available.png")" alt="..." class="img-thumbnail">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" style="padding-left:42px !important;padding-right:42px !important" onclick="return openElFinderAvatar(event, 'ImageAvatar');">
                                            <i class="ace-icon fa fa-cloud-upload"></i>
                                        </span>
                                        <input type="text" asp-for="Avatar" id="ImageAvatar" class="col-xs-12 col-sm-12" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Độ ưu tiên</label>
                            <div class="col-sm-9">
                                <input type="text" class="col-xs-10 col-sm-5" asp-for="Position" placeholder="Độ ưu tiên" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                            <div class="col-sm-9">
                                <span class="help-inline">
                                    <label class="middle">
                                        <input type="checkbox" asp-for="Status" class="ace" />
                                        <span class="lbl"> Hiển thị</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                            <div class="col-xs-12 col-sm-7">
                                <div class="widget-box">
                                    <div class="widget-header">
                                        <h4 class="widget-title">Danh sách sản phẩm</h4>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-12 text-right">
                                                            <a href="#" class="btn btn-sm btn-info radius" onclick="ShowSelectProduct();">
                                                                <i class="ace-icon glyphicon glyphicon-plus"></i>
                                                                Chọn sản phẩm
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <hr style="margin-top: 5px; margin-bottom: 5px;" />
                                                    <table id="simple-table" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                @*<th class="text-center" width="15%">Hình ảnh</th>*@
                                                                <th class="text-center" width="40%">Sản phẩm</th>
                                                                <th class="text-center" width="10%"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="tbody_productsale"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button onclick="SubmitFormByID('frmSale',false);" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Kiểm tra và lưu
                            </button>
                            <a class="btn" asp-area="Admin" asp-controller="AdminSale" asp-action="Update" asp-route-id="@Model?.Id">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="SelectProduct" class="modal fade" data-url="@Url.Action("ShowSelectProduct","AdminProduct")" role="dialog"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>

    <script type="text/javascript">
        //link
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            language: 'vi',
            format: 'dd/mm/yyyy'

        })
            //show datepicker when clicking on the icon
            .next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
    </script>
    <script src="~/admin/app/SelectProductSale.js"></script>
    <script src="~/admin/app/SaleValidate.js"></script>
}

