﻿<!--choose us area start-->
<div class="choose-us-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-time-countdown"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Thủ tục nhanh gọn</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Tiết kiệm thời gian
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-local-shipping"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Giao hàng nhanh</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Giao hàng nhanh toàn quốc
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-md-none d-block d-lg-block">
                <div class="single-choose text-center">
                    <div class="choose-icon pos-rltv">
                        <i class="zmdi zmdi-case-download"></i>
                    </div>
                    <div class="choose-title">
                        <h5>Đóng gói cẩn thận</h5>
                    </div>
                    <div class="choose-des">
                        <p>
                            Đóng gói 2 lớp hộp carton
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--choose us area start-->
<!--better-area start-->
<div class="better-area pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="heading-title heading-style pos-rltv mb-50 text-center">
                    <h3 class="uppercase">LỢI ÍCH NỔI BẬT</h3>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-content">
                    <div class="powerfull-skills">
                        <div class="single-prograss">
                            <div class="progess-heading">
                                1. Tiết kiệm thời gian
                            </div>
                            <div class="progress">
                                <div class="progress-bar pr-blue wow fadeInLeft" style="width:79%"
                                     data-wow-duration="2s" data-wow-delay="1s"> </div>
                            </div>
                            <p>
                                Khách hàng đặt hàng trực tiếp trên website, cửa hàng sẽ liên hệ chốt đơn và giao hàng, thủ tục nhanh chóng.
                            </p>
                        </div>
                        <div class="single-prograss">
                            <div class="progess-heading pr-voilate"> 02. Giá cả hợp lý  </div>
                            <div class="progress">
                                <div class="progress-bar pr-violate wow fadeInLeft" style="width:85%"
                                     data-wow-duration="2s" data-wow-delay="1s"> </div>
                            </div>
                            <p>Tất cả những gì bạn thấy trên web là tất cả những gì bạn phải trả, cam kết không có chi phí phát sinh trong quá trình mua và đổi trả hàng.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-content">
                    <div class="powerfull-skills">
                        <div class="single-prograss">
                            <div class="progess-heading">
                                3. Trải nghiệm mua sắm thông minh
                            </div>
                            <div class="progress">
                                <div class="progress-bar pr-green wow fadeInLeft" style="width:96%"
                                     data-wow-duration="2s" data-wow-delay="1s"> </div>
                            </div>
                            <p>Đem lại sự thoải mái nhất trong mua sắm. Bạn có thể tự do xem bất kỳ món hàng nào, theo dõi những món đồ muốn mua, mua hàng trong tích tắc.</p>
                        </div>
                       
                        <div class="single-prograss">
                            <div class="progess-heading">
                                04. Sẵn sàng hỗ trợ để bạn thoải mái mua sắm.
                            </div>
                            <div class="progress">
                                <div class="progress-bar pr-ornage wow fadeInLeft" style="width:92%"
                                     data-wow-duration="2s" data-wow-delay="1s"> </div>
                            </div>
                            <p>Dịch vụ hỗ trợ và tư vấn khách hàng 24/7, giao hàng nhanh toàn quốc, luôn tiếp thu ý kiến khách hàng nhằm đem lại trải nghiệm tốt nhất đến khách hàng.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--better-area end-->