﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@model List<AssessModel>;

<div class="descripton-area">
    <div class="container">
        <div class="grid">
            <div class="grid__column">
                <div id="reviews" style="position: relative;pointer-events: none;opacity: 0;visibility: hidden;top: -100px"></div>
                <div class="product-single__reviews product-single__section">
                    <div class="product--review--rating">
                        <div class="product-rating">
                            <div class="grid">
                                <div class="grid__column three-twelfths mobile--six-twelfths">
                                    <div class="product-rating__total">
                                        <h2 style="white-space: nowrap">
                                            @ViewBag.ValueAssess
                                            <div class="prodcut-ratting">
                                                @for (decimal i = 1; i <= 5; i++)
                                                {
                                                    if (i <= (decimal)ViewBag.ValueAssess)
                                                    {
                                                        <a href="#" tabindex="0"><i class="fa fa-star"></i></a>
                                                    }
                                                    else
                                                    {
                                                        if ((decimal)ViewBag.ValueAssess > i - 1)
                                                        {
                                                            <a href="#" tabindex="0"><i class="fa fa-star-half-o"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" tabindex="0"><i class="fa fa-star-o"></i></a>
                                                        }
                                                    }
                                                }
                                                <a href="#" class="color-1"> (@ViewBag.TotalAssess đánh giá )</a>
                                            </div>
                                        </h2>
                                    </div>
                                </div>
                                @*<div class="grid__column six-twelfths tablet--hidden large--hidden desk--hidden">
                                        <div class="product-rating__button">
                                            <button class="btn--rating btn btn--outline btn--gray" style="display: none;">
                                                <svg width="14.24" height="14.12" viewBox="0 0 14.24 14.24">
                                                    <path d="M7.04 5.61a.54.54 0 11-.53.54.54.54 0 01.54-.54zm1.88.54a.54.54 0 10.54-.54.54.54 0 00-.54.54zm-4.82 0a.54.54 0 10.53-.54.54.54 0 00-.53.54zm9.36 5.03a1.6 1.6 0 01-2.27 2.27l-2.95-2.94a.54.54 0 01-.13-.22l-.64-2.1a.54.54 0 01.66-.68l2.16.6a.54.54 0 01.24.14zM9.1 9.85l1.98 1.98.76-.76L9.87 9.1l-1.1-.3zm3.6 2.08l-.1-.1-.75.76.1.1a.54.54 0 10.75-.76zm-5.33-.62h-.3a6.49 6.49 0 01-2.46-.47.54.54 0 00-.41 0l-2.44 1.03.82-1.95a.54.54 0 00-.1-.57 4.54 4.54 0 01-1.2-3.05c0-2.77 2.6-5.03 5.8-5.03s5.79 2.26 5.79 5.03a4.41 4.41 0 01-.48 1.97.54.54 0 10.96.47 5.47 5.47 0 00.59-2.44c0-3.36-3.08-6.1-6.87-6.1S.21 2.94.21 6.3a5.56 5.56 0 001.25 3.5l-1.2 2.87a.54.54 0 00.7.7L4.4 11.9a7.57 7.57 0 002.66.48l.35-.01a.54.54 0 10-.05-1.07zm0 0" fill="currentColor" stroke="currentColor" stroke-width=".4"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="grid__column three-twelfths mobile--hidden">
                                        <div class="product-rating__point">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="white-space: nowrap">
                                                            <div class="prodcut-ratting">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                            </div>
                                                        </td>
                                                        <td><span class="line"><span style="width: 78%"></span></span></td>
                                                        <td>(31)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="prodcut-ratting">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                        </td>
                                                        <td><span class="line"><span style="width: 18%"></span></span></td>
                                                        <td>(7)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="prodcut-ratting">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                        </td>
                                                        <td><span class="line"><span style="width: 3%"></span></span></td>
                                                        <td>(1)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="prodcut-ratting">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                        </td>
                                                        <td><span class="line"><span style="width: 3%"></span></span></td>
                                                        <td>(1)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="prodcut-ratting">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                            </div>
                                                        </td>
                                                        <td><span class="line"><span style="width: 0%"></span></span></td>
                                                        <td>(0)</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="grid__column three-twelfths mobile--one-whole">
                                        <div class="product-rating__gallery">
                                            <div class="gallery">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid__column three-twelfths mobile--hidden">
                                        <div class="product-rating__button">
                                            <button class="btn--rating btn btn--outline btn--gray" style="display: none;">
                                                <svg width="14.24" height="14.12" viewBox="0 0 14.24 14.24">
                                                    <path d="M7.04 5.61a.54.54 0 11-.53.54.54.54 0 01.54-.54zm1.88.54a.54.54 0 10.54-.54.54.54 0 00-.54.54zm-4.82 0a.54.54 0 10.53-.54.54.54 0 00-.53.54zm9.36 5.03a1.6 1.6 0 01-2.27 2.27l-2.95-2.94a.54.54 0 01-.13-.22l-.64-2.1a.54.54 0 01.66-.68l2.16.6a.54.54 0 01.24.14zM9.1 9.85l1.98 1.98.76-.76L9.87 9.1l-1.1-.3zm3.6 2.08l-.1-.1-.75.76.1.1a.54.54 0 10.75-.76zm-5.33-.62h-.3a6.49 6.49 0 01-2.46-.47.54.54 0 00-.41 0l-2.44 1.03.82-1.95a.54.54 0 00-.1-.57 4.54 4.54 0 01-1.2-3.05c0-2.77 2.6-5.03 5.8-5.03s5.79 2.26 5.79 5.03a4.41 4.41 0 01-.48 1.97.54.54 0 10.96.47 5.47 5.47 0 00.59-2.44c0-3.36-3.08-6.1-6.87-6.1S.21 2.94.21 6.3a5.56 5.56 0 001.25 3.5l-1.2 2.87a.54.54 0 00.7.7L4.4 11.9a7.57 7.57 0 002.66.48l.35-.01a.54.54 0 10-.05-1.07zm0 0" fill="currentColor" stroke="currentColor" stroke-width=".4"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    @*<div class="product-rating-filter">
                            <div class="filter" style="max-width: 100%">
                                <p>Lọc đánh giá</p>
                                <button class="reviews-filter all--reviews--filter is-active">Tất cả</button>
                                <div class="star-filter-section" style="display: flex; flex-direction: row; max-width: 100%">
                                    <button data-star="1" class="reviews-filter text-bold">
                                        1 <div class="prodcut-ratting">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </button>
                                    <button data-star="2" class="reviews-filter text-bold">
                                        2 <div class="prodcut-ratting">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </button>
                                    <button data-star="3" class="reviews-filter text-bold">
                                        3 <div class="prodcut-ratting">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </button>
                                    <button data-star="4" class="reviews-filter text-bold">
                                        4 <div class="prodcut-ratting">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </button>
                                    <button data-star="5" class="reviews-filter text-bold">
                                        5 <div class="prodcut-ratting">
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="order">
                                <select class="review-filter-order-by" data-order-by="" data-star="">
                                    <option value="" disabled="" selected="">Hiển thị</option>
                                    <option value="star-desc">Đánh giá cao nhất trước</option>
                                    <option value="star-asc">Đánh giá thấp nhất trước</option>
                                </select>
                            </div>
                        </div>*@
                    <div class="review reviews--list">
                        @foreach (var item in Model)
                        {
                            <div class="review--row">
                                <div class="review--header">
                                    <div class="review--info">
                                        <div class="review--avatar">
                                            <img src="~/portal/img/icons/avatar.png" />
                                        </div>
                                        <div class="review--rating">
                                            <div style="display: flex; align-items: center">
                                                <h2 class="name">
                                                    @item.FullName
                                                </h2>
                                            </div>

                                            <div class="review--verified">
                                                <img src="~/portal/img/icons/verified.png" />
                                                Đã mua sản phẩm
                                            </div>

                                            <div class="rating--star" data-score="10">
                                                <div class="prodcut-ratting">
                                                    @for (decimal i = 1; i <= 5; i++)
                                                    {
                                                        if (i <= item.NumberStar.ToInt())
                                                        {
                                                            <a href="#" tabindex="0"><i class="fa fa-star"></i></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="#" tabindex="0"><i class="fa fa-star-o"></i></a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review--date">
                                        <div style="text-align: right">
                                            @String.Format("{0:dd/MM/yyyy}", item.CreateTime)
                                        </div>
                                    </div>
                                </div>
                                <div class="review--content">@item.Content</div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>