﻿@model SoftNetCore.Model.Catalog.AttributeModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="AdminAttribute" asp-action="Index">Thuộc tính sản phẩm</a>
            </li>
            <li class="active">Thêm mới</li>
        </ul>
    </div>
    <div class="page-content">

        <div class="page-header">
            <h3><strong>Thêm mới</strong></h3>
            <div class="top-toolbar">
                <button onclick="SubmitFormByID('frmAttribute',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminAttribute" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <form method="post" id="frmAttribute" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminAttribute">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Loại thuộc tính</label>
                        <div class="col-sm-9">
                            <select class="col-xs-12 col-sm-12 radius" asp-for="TypeId" asp-items="ViewBag.TypeId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Tiêu đề</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Tiêu đề" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Mã thuộc tính</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Code" class="col-xs-12 col-sm-12" placeholder="Mã" />
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Vị trí</label>
                        <div class="col-sm-9">
                            <input type="text" asp-for="Position" class="col-xs-10 col-sm-5" placeholder="Vị trí" />
                        </div>
                    </div>
                    <div class="space-4"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                        <div class="col-sm-9">
                            <span class="help-inline">
                                <label class="middle">
                                    <input type="checkbox" asp-for="Status" />
                                    <span class="lbl">Hiển thị</span>
                                </label>
                            </span>
                        </div>
                    </div>
                </form> <div class="clearfix">
                    <div class="col-md-offset-3 col-md-9">
                        <button onclick="SubmitFormByID('frmAttribute',true);" class="btn btn-info">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và tiếp tục
                        </button>
                        <a class="btn" asp-area="Admin" asp-controller="AdminAttribute" asp-action="Insert">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/app/AttributeValidate.js"></script>
}