﻿@using SoftNetCore.Model.Catalog;
@model IList<ProductAttributeModel>;

<div class="size-area">
    <h2 class="saider-bar-title">Size <a href="/size-chart" target="_blank" class="color-1 size-12">(Hướng dẫn chọn size)</a></h2>
    <div class="size">
        <ul id="productsize" name="productsize">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <li data-value="@item.Id" data-title="@item.Attribute?.Code" data-quantity="@item.Quantity"><span>@item?.Attribute?.Code</span></li>
                }
            }
        </ul>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#productsize li").first().addClass("selected");

        var sizeId = $('#productsize li.selected').data('value');
        var titleSize = $('#productsize li.selected').data('title');
        var titleColor = $('#productcolor li.selected').data('title');

        // Load price
        LoadPrice(sizeId);
         // set title
        $("#add_to_cart").text("THÊM VÀO GIỎ (" + titleColor + "/" + titleSize + ")");
    });

    $(document).ready(function () {
        $('#productsize li').on('click', function (e) {
            e.preventDefault();
            // This removes the class on selected li's
            $("#productsize li").removeClass("selected");
            // 'this' here refers to the clicked a element
            $(this).closest('li').addClass('selected');
            // get title
            var sizeId = $(this).data('value');
            var titleSize = $(this).data('title');
            var titleColor = $('#productcolor li.selected').data('title');
            // Load price
            LoadPrice(sizeId);
            // set title
            $("#add_to_cart").text("THÊM VÀO GIỎ (" + titleColor + "/" + titleSize + ")");
        });
    });
</script>