/*--------------------------------------------------------------

Template: Theme Name
Author: 
Version:  1
Design and Developed by: 

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/
.site-nav__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.cart_mini {
    width: 80px;
    height: 80px;
}

.sticky .cart_mini {
    /*width: 70px;*/
}

.cart-icon-custom span {
    position: absolute;
    top: 6%;
    left: 63%;
    width: 18px;
    height: 18px;
    background-color: #fff;
    color: #fa6400;
    border-radius: 100px;
}

.cart-icon-custom:hover {
    background: #333;
}

.cart-text {
    /*padding-top: 5px;*/
}

.sticky .cart-icon .cart-text {
    /*display: none;*/
}

.blog-text p {
    margin-bottom: 5px;
}

.article-content {
    margin-top: 10px;
}

.contact-text {
    padding: 10px 0;
}

.product-detail {
    width: 100%;
    background-color: #fa6400 !important;
    color: #fff !important;
    border: 1px solid #fa6400 !important;
    text-align: center;
    height: 36px;
    line-height: 32px !important;
}

    .product-detail:hover {
        background-color: #fff !important;
        color: #fa6400 !important;
        border: 1px solid #fa6400 !important;
    }

.search-menu {
    /*width: 65px;*/
    height: 80px;
    color: #333;
}

.search-text {
    /*padding-top: 10px;*/
}

.sticky .cart-icon .search-text {
    /*display: none;*/
}
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .menu-cart li + li {
        padding-left: 10px;
    }
}

.header-cart a:focus, i:focus {
    color: #f1f1f1 !important;
    font-weight: 600;
}

@media (max-width: 767px) {
    .cart-content-wraper {
        width: 350px;
    }

    .logo img {
        width: 100px;
    }

    .search-text {
        display: none;
    }

    .cart-text {
        display: none;
    }

    .search-menu {
        width: 35px;
        height: 55px;
        color: #333;
    }

    .cart_mini {
        width: 35px;
        background: #ffffff;
        color: #333333;
        height: 55px;
    }

    .col-xs-1 {
        width: 10%;
    }

    .col-xs-2 {
        width: 20%;
    }

    .col-xs-3 {
        width: 30%;
    }

    .col-xs-4 {
        width: 40%;
    }

    .col-xs-5 {
        width: 50%;
    }

    .col-xs-6 {
        width: 60%;
    }

    .col-xs-7 {
        width: 70%;
    }

    .col-xs-8 {
        width: 80%;
    }

    .col-xs-9 {
        width: 90%;
    }

    .col-xs-10 {
        width: 100%;
    }

    .delivery-service-area h5 {
        font-size: 14px;
    }

    .brand-content-custom {
        padding: 10px 0;
    }

    .slick-dots {
        top: 30%;
    }

    .product-label .sale {
        background: #fa6400 none repeat scroll 0 0;
        font-size: 10px;
        height: 20px;
        right: 25px;
        line-height: 22px;
        min-height: 22px;
        padding: 0 8px;
        top: 0px;
        right: 0px;
    }

    .product-detail {
        height: 28px;
        line-height: 24px !important;
    }

    .title-tab-product-category li a {
        font-size: 20px;
    }

    .heading-title h3 {
        font-size: 20px;
    }

    .brand-text h3 {
        font-size: 18px;
    }

    .brand-text h4 {
        font-size: 16px;
    }
}
/* footer*/
.border-letter {
    border: 1px solid #fa6400;
}

@media screen and (max-width: 1800px) {
    .site-footer__content {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.site-footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    /*padding-top: 36px;
    padding-bottom: 36px;*/
    border-bottom: 1px solid #e3e3e9;
}

.site-footer__logo {
    height: 60px;
}

.site-footer__content > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.contacts-card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
}

.contacts-card__icon {
    width: 50px;
    height: 50px;
    background-color: #fa6400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.contacts-card__content {
    padding-left: 15px;
}

@media screen and (max-width: 1800px) {
    .contacts-card__label, .site-footer__meta, .site-footer__meta h3 {
        font-size: 14px;
    }
}

.contacts-card__label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 1800px) {
    .contacts-card__title--phone {
        font-size: 20px;
    }
}

.contacts-card__title--phone {
    font-size: 23px;
    font-weight: 700;
}

.contacts-card__title {
    color: #000;
    font-size: 17px;
    font-weight: 600;
    color: #fa6400;
}

.contacts-card {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
}

.contacts-card__icon {
    width: 50px;
    height: 50px;
    background-color: #fa6400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.contacts-card__content {
    padding-left: 15px;
}

.social-grid, .social-grid__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-grid__item {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 17px 15px 13px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

    .social-grid__item svg {
        width: 100%;
        height: 100%;
    }

.contacts-card__icon svg {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 911px) {
    .site-footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
    }
}

@media screen and (max-width: 911px) {
    .site-footer__info {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 911px) {
    .contacts-card {
        width: 100%;
    }
}

@media screen and (max-width: 911px) {
    .site-footer__logo {
        margin-bottom: 20px;
    }
}

.slider-area .slider-img img {
    width: 100%;
}

.btn-slider {
    border-color: #fa6400 !important;
    color: #fff !important;
    background: #fa6400 !important;
}

.text--primary {
    color: #fa6400;
}

.delivery-service-area img {
    max-width: 35px;
}

.delivery-service-area .single-service {
    padding: 10px;
}

.heading-title h5 {
    font-weight: 600;
}

.social-icon-custom ul li a {
    border: 1px solid #fa6400 !important;
    color: #fa6400;
}

.ratting > a {
    color: #fa6400;
    font-size: 12px;
}

.color-1 {
    color: #4A90E2 !important;
}

.color-2 {
    color: #fa6400 !important;
}

.heading-title h3 {
    font-weight: 600;
}

/**/
.coolsub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto
}

.coolsub-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
    position: relative;
    padding: 100px 0
}

.coolsub-content__wrapper {
    max-width: 775px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto
}

.coolsub-content__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

    .coolsub-content__bg img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center
    }

.coolsub-content__sub-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    color: #333;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px
}

.coolsub-content__heading {
    font-size: 90px;
    font-weight: 800;
    line-height: normal;
    color: #fa6400;
    margin-bottom: 20px
}

.coolsub-content__caption {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: normal;
    margin-bottom: 34px
}

    .coolsub-content__caption span {
        font-size: 24px;
        font-weight: 700;
        color: #fa6400
    }

.coolsub-content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 725px;
    margin-left: -15px;
    margin-right: -15px
}

.coolsub-content__item {
    padding: 0 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    margin-bottom: 34px;
}

.coolsub-content__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 24px;
    -webkit-box-shadow: 0 5px 15px 0 rgba(51,51,51,.1);
    box-shadow: 0 5px 15px 0 rgba(51,51,51,.1);
    background-color: #fff;
    margin-bottom: 20px;
    color: #fa6400;
}

    .coolsub-content__icon svg path {
        fill: currentColor;
    }

.coolsub-content__title {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    color: #333;
    margin-bottom: 15px
}

.coolsub-content__description {
    font-size: 16px;
    font-weight: 400;
    color: #494949;
    line-height: 1.67;
    margin: 0;
}

.coolsub-content__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.coolsub-content__actions, .coolsub-content__btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.coolsub-content__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 200px;
    width: 100%;
    min-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.6px;
    border-radius: 10px;
    background-color: #fa6400;
    border: 1px solid #fa6400;
    -webkit-transition: all .3s;
    transition: all .3s;
}

@media (hover:hover) and (pointer:fine) {
    .coolsub-content__btn:hover {
        color: #fff;
        -webkit-box-shadow: 0 19px 27px 0 rgba(238,92,45,.2);
        box-shadow: 0 19px 27px 0 rgba(238,92,45,.2);
    }
}

.coolsub-content__policy {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin-left: 25px;
}

.coolsub-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -5px;
    margin-bottom: -5px
}

    .coolsub-product > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 5px;
    }

.coolsub-product--three > * {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333%;
    flex: 0 0 33.3333333%;
    max-width: 33.3333333%;
}

.coolsub-product__item {
    display: block;
}

.coolsub-product__item--def .coolsub-product__content:before, .coolsub-product__item--def .coolsub-product__thumbnail:before {
    background: #999 none repeat scroll 0 0;
}

.coolsub-product__item--green .coolsub-product__content:before, .coolsub-product__item--green .coolsub-product__thumbnail:before {
    background-color: #e0eeea;
}

.coolsub-product__item--yellow .coolsub-product__content:before, .coolsub-product__item--yellow .coolsub-product__thumbnail:before {
    background-color: #f6efe0;
}

.coolsub-product__item--purple .coolsub-product__content:before, .coolsub-product__item--purple .coolsub-product__thumbnail:before {
    background-color: #ede6f9;
}

.coolsub-product__item--red .coolsub-product__content:before, .coolsub-product__item--red .coolsub-product__thumbnail:before {
    background-color: #f9e6e6;
}

.coolsub-product__item--orange .coolsub-product__content:before, .coolsub-product__item--orange .coolsub-product__thumbnail:before {
    background-color: #fff1e8;
}

.coolsub-product__item:hover .coolsub-product__content:before {
    background-color: #fff;
}

.coolsub-product__item:hover .coolsub-product__content:after {
    opacity: 1;
}

.coolsub-product__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 50px 15px;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fa64003d;
}

    .coolsub-product__content:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e7f2ff;
        z-index: -1;
        -webkit-transition: .3s linear;
        transition: .3s linear
    }

    .coolsub-product__content:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        background-image: url(/portal/images/ico-ar.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        opacity: 0;
        -webkit-transition: all .3s;
        transition: all .3s
    }

.coolsub-product__thumbnail {
    max-width: 160px;
    width: 100%;
    position: relative;
    margin-bottom: 30px
}

    .coolsub-product__thumbnail:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 170px;
        height: 170px;
        border-radius: 100px;
        background-color: #e7f2ff;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0)
    }

    .coolsub-product__thumbnail:after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-top: 117.15976331%
    }

    .coolsub-product__thumbnail img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center
    }

.coolsub-product__title {
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media (hover:hover) and (pointer:fine) {
    .coolsub-product__title:hover {
        color: #fa6400
    }
}

.coolsub-product__count {
    font-size: 16px;
    font-weight: 400;
    color: #494949
}

@media screen and (max-width:1800px) {
    .product-hot__link {
        height: 50px
    }

    .product-hot__sale span {
        font-size: 14px;
        height: 28px
    }

    .section-products {
        padding-top: 70px
    }

        .section-products > .container {
            max-width: 1280px
        }

    .coolsub-content {
        padding: 75px 0
    }

    .coolsub-content__sub-heading {
        font-size: 20px
    }

    .coolsub-content__heading {
        font-size: 55px;
        line-height: 1em;
        margin-bottom: 10px
    }

    .coolsub-content__caption {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 15px
    }

        .coolsub-content__caption span {
            font-size: 20px
        }

    .coolsub-content__icon {
        margin-bottom: 15px;
        width: 80px;
        height: 80px;
        padding: 22px
    }

    .coolsub-content__title {
        margin-bottom: 10px
    }

    .coolsub-product__content {
        padding-top: 30px;
        padding-bottom: 20px
    }

    .coolsub-product__thumbnail {
        max-width: 120px;
        margin-bottom: 20px
    }

        .coolsub-product__thumbnail:before {
            width: 120px;
            height: 120px
        }

    .sections-testimonials {
        padding-top: 120px;
        padding-bottom: 50px
    }

    .testimonials:before {
        margin-bottom: 25px
    }

    .testimonials__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        padding: 30px 20px
    }

    .testimonials__description {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 10px
    }

    .faqs-service__sub-heading {
        font-size: 20px;
        margin-bottom: 0
    }

    .faqs-service__heading {
        font-size: 38px
    }

    .faqs-service__icon {
        width: 110px;
        height: 110px
    }

    .section-faqs .container {
        max-width: 991px
    }

    .section-blogs {
        padding-top: 50px
    }

    .blogs__head {
        padding-left: 20px;
        padding-right: 30px
    }

    .blog__content {
        padding: 10px
    }

    .blog__title {
        margin-bottom: 10px
    }

    .blog__link, .blog__title {
        font-size: 14px
    }

        .blog__link span {
            width: 18px
        }

    .about-us {
        padding-top: 50px;
        padding-bottom: 50px
    }

    .about-us__description {
        padding: 20px;
        font-size: 14px
    }

    .about-us__short-description {
        font-size: 14px
    }

    .about-us__hashtag {
        font-size: 26px
    }
}

@media screen and (max-width:990px) {
    .policy-list__item {
        font-size: 13px;
        width: 50%
    }

    .section-products > .container {
        padding-left: 15px;
        padding-right: 15px
    }

    .product-new {
        padding-left: 0
    }

    .product-new__heading {
        -webkit-transform: unset;
        transform: unset;
        position: relative;
        text-align: center;
        width: 100%;
        font-size: 24px;
        height: auto;
        margin-bottom: 15px
    }

    .product-new__item {
        padding-left: 0;
        height: auto
    }

        .product-new__item:before {
            display: none
        }

    .product-new__thumbnail {
        position: relative
    }

    .product-new__content {
        padding-right: 0;
        padding-top: 10px
    }

    .product-new__sub-title {
        font-size: 16px
    }

    .product-new__title {
        font-size: 28px
    }

    .product-new__description {
        margin-bottom: 15px
    }

    .product-new__link {
        border: 2px solid rgba(250,100,0,.22);
        border-radius: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fa6400;
        background-color: #fff
    }

        .product-new__link span {
            display: none
        }
}

@media screen and (max-width:990px) and (hover:hover) and (pointer:fine) {
    .product-new__link:hover {
        color: #fa6400
    }
}

@media screen and (max-width:990px) {
    .product-new__link:active {
        background-color: #fa6400;
        border: 2px solid #fa6400;
        color: #fff
    }

    .product-new .slick-dots {
        position: relative;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-right: 0;
        height: 30px;
        margin-bottom: 20px
    }

    .product-hot {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
        padding-right: 0
    }

    .product-hot__heading {
        -webkit-transform: unset;
        transform: unset;
        width: 100%;
        text-align: center;
        position: relative
    }

    .product-hot__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        padding: 5px;
        height: auto;
        outline: none
    }

    .product-hot__title {
        font-size: 14px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .product-hot__thumbnail {
        width: 100%
    }

        .product-hot__thumbnail:before {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            padding-top: 113%
        }

    .product-hot__content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        width: 100%;
        border: 0;
        padding: 10px 0
    }

    .product-hot__arrows {
        display: none
    }

    .product-hot__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 0
    }

    .product-hot__rating {
        margin-bottom: 5px
    }

    .product-hot__sale span {
        height: auto;
        background-color: #fff0;
        text-align: left;
        font-size: 12px;
        padding: 0 8px
    }

    .product-hot__description, .product-hot__link {
        display: none
    }

    .product-hot__price {
        font-size: 20px
    }

    .product-hot__slide.slick-slider .slick-track {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important
    }

    .product-hot__slide.slick-slider .slick-slide {
        height: inherit !important
    }

        .product-hot__slide.slick-slider .slick-slide > div, .product-hot__slide.slick-slider .slick-slide > div > .product-hot__item {
            height: 100%
        }

    .section-products {
        padding-bottom: 30px;
        padding-top: 30px
    }

    .coolsub {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

    .coolsub-content {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px 15px;
        margin-top: 10px
    }

    .coolsub-content__item {
        padding: 0;
        width: 100%;
        margin-bottom: 10px;
        padding-left: 90px;
        position: relative;
        min-height: 90px
    }

    .coolsub-content__sub-heading {
        font-size: 16px
    }

    .coolsub-content__heading {
        font-size: 60px
    }

    .coolsub-content__title {
        font-size: 20px;
        margin-bottom: 5px
    }

    .coolsub-content__description {
        font-size: 14px
    }

    .coolsub-content__icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px
    }

    .coolsub-content__actions {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

    .coolsub-content__btn {
        min-height: 50px;
        width: 100%;
        max-width: 100%
    }

    .coolsub-content__policy {
        margin-left: 0;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 12px;
        text-align: center
    }

    .coolsub-product__title {
        font-size: 16px;
        text-align: center
    }

    .coolsub-product__content {
        padding: 30px 10px 20px
    }

    .sections-testimonials {
        padding-top: 80px;
        padding-bottom: 30px
    }

    .testimonials__heading img {
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover
    }

    .testimonials__heading h2 {
        font-size: 22px
    }

    .testimonials__item {
        position: relative
    }

    .testimonials__content {
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 100%;
        background-color: #0007;
        color: #fff;
        pointer-events: none
    }

        .testimonials__content:before {
            content: "Xem s\1EA3n ph\1EA9m";
            position: absolute;
            bottom: 0;
            left: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            width: 100%;
            height: 60px;
            background-color: #0007
        }

    .testimonials__description {
        color: #fff;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none
    }

    .testimonials__thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%
    }

    .faqs-service__ele {
        display: none
    }

    .faqs-service__head {
        font-size: 14px;
        padding-right: 30px;
        padding-top: 15px;
        padding-bottom: 15px
    }

    .faqs-service__icon {
        width: 80px;
        height: 80px
    }

        .faqs-service__icon img {
            -o-object-fit: contain;
            object-fit: contain
        }

    .faqs-service__sub-heading {
        font-size: 16px
    }

    .faqs-service__heading {
        font-size: 28px;
        margin-bottom: 0
    }

    .faqs-service__content {
        padding: 15px;
        font-size: 14px
    }

    .faqs-service__list {
        margin-bottom: 0
    }

    .section-blogs {
        padding-top: 30px
    }

    .blogs {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .blogs__arrows {
        display: none
    }

    .blogs__head {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px
    }

        .blogs__head br {
            display: none
        }

    .blogs__heading {
        font-size: 30px
    }

    .blogs__sub-heading {
        font-size: 20px
    }
}

@media screen and (max-width:990px) and (min-width:768px) {
    .about-us__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        max-width: 75%
    }
}

@media (max-width:767px) {
    .banner {
        height: auto;
        padding-bottom: 0
    }

    .banner-slide .container {
        padding: 0
    }

    .banner-slide__container {
        height: auto
    }

    .banner-slide__item {
        margin-right: 0
    }

        .banner-slide__item img {
            border-radius: 0
        }

    .banner-bg {
        display: none
    }

    .coolsub-content__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        margin: 0
    }

    .coolsub-product__thumbnail:before {
        width: 90px;
        height: 90px
    }

    .coolsub-product__title {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1
    }

    .coolsub-product__count, .coolsub-product__title {
        font-size: 14px;
        text-align: center
    }

    .about-us {
        padding-top: 60px;
        padding-bottom: 30px
    }

    .about-us__content {
        width: 100%;
        margin-bottom: 20px
    }

    .about-us__heading {
        top: auto;
        left: 50%;
        bottom: 100%;
        font-size: 24px
    }

        .about-us__heading span {
            font-size: 30px;
            margin: 0
        }

    .about-us__description {
        position: relative;
        width: 100%;
        top: 0;
        left: 0
    }

    .about-us__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }

    .about-us__box {
        position: relative;
        top: 0;
        left: 0;
        padding-top: 20px;
        margin-top: 0
    }

    .about-us__btn {
        max-width: 100%
    }

    .section-policy, .section-policy > .container {
        padding: 0
    }

    .policy-list {
        -ms-flex-flow: wrap;
        flex-flow: wrap
    }

    .policy-list, .policy-list__item {
        padding-top: 5px;
        padding-bottom: 5px
    }

    .policy-list__item {
        font-size: 14px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        font-size: 12px
    }

        .policy-list__item + .policy-list__item {
            border-left: 0;
            border-top: 1px solid #0001
        }

    .policy-list__icon {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
        flex: 0 0 45px
    }
}

@media screen and (min-width:769px) {
    .site-wrapper {
        padding-top: 0 !important
    }

    .horizontal-scroll-wrapper {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-transform: rotate(-90deg) translateY(-550px);
        transform: rotate(-90deg) translateY(-550px);
        -webkit-transform-origin: right top;
        transform-origin: right top;
        height: 100vw;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

        .horizontal-scroll-wrapper::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 0;
            height: 0;
            display: none
        }

        .horizontal-scroll-wrapper::-webkit-scrollbar-thumb, .horizontal-scroll-wrapper::-webkit-scrollbar-track {
            background: #fff0
        }

            .horizontal-scroll-wrapper::-webkit-scrollbar-thumb:hover {
                background: #fff0
            }

        .horizontal-scroll-wrapper > div {
            width: 550px;
            height: 0;
            padding-top: 100%;
            -webkit-transform: rotate(90deg) translateX(100%);
            transform: rotate(90deg) translateX(100%);
            -webkit-transform-origin: right top;
            transform-origin: right top;
            margin: 0 0 30px
        }

            .horizontal-scroll-wrapper > div > * {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%
            }
}

/*

*/
.single-testimonial {
    padding: 20px;
    background-color: #fff;
}
/**/
.product-color-size-area {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
}

.color-area {
    margin-bottom: 18px;
    overflow: hidden;
}

.size-area {
    margin-bottom: 8px;
    overflow: hidden;
}

.product-color-size-area .color-area {
    display: inline-block;
    width: 40%;
    float: left;
    margin-right: 18px;
}

.product-color-size-area .size-area {
    display: inline-block;
    width: 50%;
}

h2.saider-bar-title {
    color: #333333;
    display: block;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px #e8e8e8 solid;
    margin-bottom: 14px;
    padding-bottom: 5px;
}

.product-view-area ul, .product-overview-tab ul {
    padding: 0px;
    margin: 0px;
}

.product-view-area li {
    list-style: none;
}

.color ul li {
    border: 0 none;
    float: left;
    margin: 5px;
    border: 1px solid #524c4c;
}

    .color ul li:hover {
        border: 2px solid #fa6400;
        box-shadow: 0 0 0 1px #fa6400ed !important;
    }

    .color ul li.selected {
        border: 2px solid #fa6400;
        box-shadow: 0 0 0 1px #fa6400ed !important;
    }

    .color ul li span {
        clear: both;
        background: #333333;
        float: left;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        height: 25px;
        width: 25px;
        border-radius: 0px;
        cursor: pointer;
    }

/* .color ul li:nth-child(2) a {
        background: #e32b00;
    }

    .color ul li:nth-child(3) a {
        background: #ff9000;
    }

    .color ul li:nth-child(4) a {
        background: #8BC44A;
    }

    .color ul li:nth-child(5) a {
        background: #10b9b9;
    }

    .color ul li:nth-child(6) a {
        background: #FFFFFF;
    }*/

.size ul li {
    border: 0 none;
    float: left;
    margin: 5px;
}

    .size ul li :hover {
        border: 2px solid #fa6400;
        box-shadow: 0 0 0 1px #fa6400ed !important;
    }

    .size ul li.selected {
        border: 2px solid #fa6400;
        box-shadow: 0 0 0 1px #fa6400ed !important;
    }

    .size ul li span {
        border: 1px solid #e8e6e2;
        padding: 3px 10px;
        color: #666;
        float: left;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 0px;
        cursor: pointer;
    }


.colorname {
    color: #fa6400;
}

.size-12 {
    font-size: 12px;
}
/**/
.grid--aligned-center, .grid--aligned-middleleft {
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.grid--aligned-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-custom a, .header-custom i {
    font-size: 15px;
    font-weight: bold;
}

.breadcrumbs {
    padding: 8px 0px;
    margin: auto;
    font-size: 14px;
    background-color: #fa6400;
    margin-top: 5px;
}

    .breadcrumbs ul {
        margin: 0px;
        padding: 0px;
    }

        .breadcrumbs ul li {
            list-style-type: none;
            display: inline;
        }

    .breadcrumbs a {
        color: #fff;
    }

    .breadcrumbs strong {
        color: #fff;
        font-weight: normal;
    }

    .breadcrumbs span {
        display: inline-block;
        margin: 0 5px 0 5px;
        color: #fff;
        font-size: 14px;
        font-weight: normal;
    }
/* SIZE CHART*/
.popup--size-chart .popup__inner {
    text-align: center
}

.popup--size-chart .popup__image {
    width: 390px
}

.size-chart-page .page-header__title {
    text-align: center
}

.size-chart-page .site-content {
    background: #f8f8f8
}

.size-chart__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .size-chart__heading .desc {
        text-align: center
    }

@media (min-width:768px) {
    .size-chart__heading {
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

        .size-chart__heading .desc {
            position: absolute;
            right: 0;
            margin: 0;
            text-align: left
        }
}

.size-chart__title {
    margin: 0;
    padding: 6px 22px 9px;
    border-radius: 27px;
    border: 1px dashed #fa6400;
    font-size: 15px
}

    .size-chart__title img {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 5px
    }

.size-chart__table {
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0 6px 30px 0 hsla(17,28%,61%,.05);
    box-shadow: 0 6px 30px 0 hsla(17,28%,61%,.05);
    background-color: #fff;
    border-collapse: collapse
}

    .size-chart__table td {
        padding: 15px 20px;
        border: 1px solid #fafafa
    }

@media (min-width:768px) {
    .size-chart__table td:nth-child(2n+2) {
        background: #fafafa
    }
}

@media (max-width:767px) {
    .size-chart__table td {
        padding: 15px;
        text-align: center
    }
}

.size-chart__table p {
    margin: 0
}

.size-chart__image {
    text-align: center
}

@media (min-width:768px) {
    .size-chart__image {
        text-align: right
    }
}

@media screen and (min-width:768px) {
    .size-chart__heading {
        position: relative;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

        .size-chart__heading .desc {
            position: absolute;
            right: 0;
            margin: 0;
            text-align: left
        }

    .size-chart__table td:nth-child(2n+2) {
        background: #fafafa
    }

    .size-chart__image {
        text-align: right
    }
}

mgb--10 {
    margin-bottom: 10px;
}

mgb--20 {
    margin-bottom: 20px;
}

.mgb--30 {
    margin-bottom: 30px;
}

.mgt--10 {
    margin-top: 10px;
}

.mgt--20 {
    margin-top: 20px;
}

.mgt--30 {
    margin-top: 30px;
}

.text-bold {
    font-weight: bold;
}

.grid {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -moz-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    position: relative;
    float: none;
}

.align--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.grid {
    margin-right: -10px;
    margin-left: -10px;
}

.grid__column {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 1px;
    vertical-align: top;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 15px;
    width: 100%;
}

.nine-twelfths {
    width: 75%;
}

.grid__column {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.grid .grid__column {
    padding: 10px;
}

size-chart__table {
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0 6px 30px 0 hsl(17deg 28% 61% / 5%);
    box-shadow: 0 6px 30px 0 hsl(17deg 28% 61% / 5%);
    background-color: #fff;
    border-collapse: collapse;
}

.size-chart__table td {
    padding: 15px 20px;
    border: 1px solid #fafafa;
}

.title-text {
    font-size: 16px;
}

.text--primary {
    color: #fa6400;
}

.three-twelfths {
    width: 25%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 1200px) {
    .large--hidden {
        display: none !important;
    }
}

.grid__column img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.tablet--hidden img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.sub-text {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #5a5a5a;
}

iframe, table {
    max-width: 100%;
}

@media (max-width: 767px) {
    .mobile--hidden {
        display: none !important;
    }

    .sort + .sort {
        margin-left: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tablet--hidden {
        display: none !important;
    }

    .sort + .sort {
        margin-left: 0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .desk--hidden {
        display: none !important;
    }
}

.site-content .container {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    margin: 0 auto;
}

.breadcumb-area img {
    width: 100%;
}

.sp-bottom-des .quick-add-to-cart {
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 0 0 25px;
}

.sp-bottom-des .quick-desc {
    font-size: 14px;
    padding: 15px 0;
}
/*

*/
.product-rating {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px
}

.product-rating__total {
    width: 100%;
    height: 100%;
    border-right: 1px solid #e8e8e8
}

    .product-rating__total h2 {
        font-size: 32px;
        font-weight: 700;
        color: #fa6400
    }

    .product-rating__total span {
        color: #888;
        font-size: 14px
    }

.product-rating__point {
    font-size: 14px;
    line-height: 24px
}

    .product-rating__point table {
        width: 100%
    }

        .product-rating__point table .line {
            width: 100px;
            display: block;
            position: relative;
            background: hsla(60,0%,41%,.2);
            height: 5px
        }

            .product-rating__point table .line span {
                background: #de8d1e;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%
            }

.product-rating__gallery p {
    margin: 0
}

.product-rating__gallery .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -3px;
    margin-right: -3px
}

.product-rating__gallery .gallery__item {
    display: block;
    position: relative;
    width: 20%;
    padding: 3px
}

    .product-rating__gallery .gallery__item .image {
        display: block;
        position: relative;
        width: 100%
    }

        .product-rating__gallery .gallery__item .image:before {
            content: "";
            display: block;
            padding-top: 100%;
            width: 100%
        }

        .product-rating__gallery .gallery__item .image img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover
        }

.product-rating-filter {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px
}

    .product-rating-filter, .product-rating-filter .filter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .product-rating-filter .filter {
            font-size: 14px;
            line-height: 16px
        }

            .product-rating-filter .filter p {
                margin: 0 10px 0 0
            }

            .product-rating-filter .filter .reviews-filter, .product-rating-filter .filter .reviews-filter-has-image {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 30px;
                width: 70px;
                border: 1px solid #e8e8e8;
                border-radius: 3px;
                margin: 0 2px;
                background-color: #fff;
                cursor: pointer;
                -webkit-transition: all .3s;
                transition: all .3s;
                color: #333;
            }

                .product-rating-filter .filter .reviews-filter-has-image .rating--icon, .product-rating-filter .filter .reviews-filter .rating--icon {
                    width: 14px;
                    height: 14px;
                    margin-left: 5px
                }

                    .product-rating-filter .filter .reviews-filter-has-image .rating--icon svg, .product-rating-filter .filter .reviews-filter .rating--icon svg {
                        width: 100%;
                        height: 100%
                    }

                .product-rating-filter .filter .reviews-filter-has-image.is-active, .product-rating-filter .filter .reviews-filter-has-image:hover, .product-rating-filter .filter .reviews-filter.is-active, .product-rating-filter .filter .reviews-filter:hover {
                    background-color: #fa6400;
                    border: 1px solid #fa6400;
                    color: #fff
                }

            .product-rating-filter .filter .reviews-filter-has-image {
                margin-left: 40px
            }

        .product-rating-filter .order {
            position: relative;
            font-size: 14px;
            line-height: 16px
        }

            .product-rating-filter .order .review-filter-order-by {
                background: #ececec;
                border-radius: 5px;
                border: 1px solid #e8e8e8;
                height: 30px;
                padding: 0 30px 0 10px;
                color: #fa6400;
                cursor: pointer
            }

                .product-rating-filter .order .review-filter-order-by option {
                    color: #000
                }

                    .product-rating-filter .order .review-filter-order-by option[selected] {
                        color: #fa6400
                    }

            .product-rating-filter .order:before {
                content: "";
                position: absolute;
                top: 50%;
                right: 5%;
                border-top: 5px solid #fa6400;
                border-bottom: 5px solid #fa640000;
                border-left: 5px solid #fa640000;
                border-right: 5px solid #fa640000;
                margin-top: 2px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%)
            }

.feedback-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #0003;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0 15px
}

    .feedback-popup-container, .feedback-popup-container .feedback-popup {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

        .feedback-popup-container .feedback-popup {
            background-color: #fefefe;
            padding: 25px 25px 30px;
            width: 80vw;
            max-width: 400px;
            text-align: center;
            min-height: 230px;
            position: relative;
            overflow: hidden;
            border: 0
        }

            .feedback-popup-container .feedback-popup:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100px;
                height: 100px;
                background-color: #fa640020;
                border-radius: 100px;
                -webkit-transform: translate3d(300%,440%,0) scale(10);
                transform: translate3d(300%,440%,0) scale(10);
                pointer-events: none
            }

            .feedback-popup-container .feedback-popup > * {
                position: relative;
                z-index: 1
            }

        .feedback-popup-container .feedback-popup-title {
            font-size: 20px;
            text-align: center
        }

@media screen and (max-width:768px) {
    .feedback-popup-container .feedback-popup-title {
        font-size: 18px
    }
}

.feedback-popup-container .feedback-popup .feedback-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    font-size: 20px;
    border: 1px solid #fa640040;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: left;
    margin-top: 25px
}

    .feedback-popup-container .feedback-popup .feedback-selection input.feedback-radio :not([type=image i]) {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .feedback-popup-container .feedback-popup .feedback-selection input.feedback-radio[type=radio i] {
        background-color: initial;
        cursor: default;
        -webkit-appearance: auto;
        -moz-appearance: auto;
        appearance: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: initial;
        border: initial
    }

    .feedback-popup-container .feedback-popup .feedback-selection .selection-container {
        width: 100%
    }

        .feedback-popup-container .feedback-popup .feedback-selection .selection-container label {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 16px;
            height: 40px;
            cursor: pointer;
            width: 100%
        }

            .feedback-popup-container .feedback-popup .feedback-selection .selection-container label input {
                display: none
            }

                .feedback-popup-container .feedback-popup .feedback-selection .selection-container label input:checked ~ .checkmark:before {
                    opacity: 1
                }

            .feedback-popup-container .feedback-popup .feedback-selection .selection-container label .checkmark {
                width: 100%;
                max-width: 16px;
                height: 16px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                border: 2px solid #fa6400;
                border-radius: 100px;
                margin-right: 10px;
                position: relative
            }

                .feedback-popup-container .feedback-popup .feedback-selection .selection-container label .checkmark:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 70%;
                    height: 70%;
                    background-color: #fa6400;
                    border-radius: 100px;
                    -webkit-transform: translate3d(-50%,-50%,0);
                    transform: translate3d(-50%,-50%,0);
                    opacity: 0
                }

@media screen and (max-width:768px) {
    .feedback-popup-container .feedback-popup .feedback-selection {
        padding: 10px
    }
}

.feedback-popup-container .feedback-popup .feedback-thankyou {
    font-weight: 700;
    font-size: 28px;
    text-align: left
}

.feedback-popup-container .feedback-popup .feedback-content {
    max-width: 100%;
    min-width: 100%;
    min-height: 80px;
    margin-bottom: 10px;
    border: 1px solid #fa640040;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 5px
}

.feedback-popup-container .feedback-popup .feedback-button {
    border: none;
    background-color: #fa6400;
    color: #fff;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s
}

    .feedback-popup-container .feedback-popup .feedback-button:hover {
        background-color: #fa4a00
    }

.feedback-popup-container .close-icon {
    position: relative;
    top: 35px;
    left: 180px;
    z-index: 1
}

@media only screen and (max-width:768px) {
    .feedback-popup-container .close-icon {
        left: 24%
    }
}

@media only screen and (max-width:767px) {
    .feedback-popup-container .close-icon {
        left: 38%
    }

    .feedback-popup-container .feedback-popup {
        min-height: 150px;
        padding: 25px 10px 30px
    }

        .feedback-popup-container .feedback-popup .feedback-popup-title {
            font-size: 20px
        }

        .feedback-popup-container .feedback-popup .feedback-selection {
            font-size: 11px;
            padding: 10px
        }

            .feedback-popup-container .feedback-popup .feedback-selection .selection-container label {
                font-size: 14px
            }

        .feedback-popup-container .feedback-popup .feedback-thankyou {
            font-size: 22px
        }
}

.prodcut-ratting > i {
    color: #fa6400;
}
/**/
.review {
    margin-top: 25px
}

.review__rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.review__header {
    margin-bottom: 10px
}

.review--verified {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    color: #929292;
    margin: 5px 0
}

    .review--verified img {
        height: 30px;
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        margin-right: 10px
    }

.review--form {
    padding-top: 5px
}

    .review--form label {
        display: block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .28px;
        color: #fa6400;
        margin-bottom: 10px
    }

.review-form-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #0003;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0 15px
}

.review-form-popup, .review-form-popup__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.review-form-popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px
}

    .review-form-popup__close svg {
        width: 100%;
        height: 100%
    }

    .review-form-popup__close:hover {
        color: #fa6400
    }

.review-form-popup__radio .radiobox {
    padding-left: 30px
}

    .review-form-popup__radio .radiobox span {
        color: #000;
        font-size: 14px;
        font-weight: 400
    }

    .review-form-popup__radio .radiobox .checkmark {
        width: 20px;
        height: 20px
    }

        .review-form-popup__radio .radiobox .checkmark:after {
            top: 2px;
            left: 2px;
            width: 12px;
            height: 12px;
            -webkit-transition: all .3s;
            transition: all .3s;
            display: block;
            opacity: 0
        }

    .review-form-popup__radio .radiobox + .radiobox {
        margin-left: 40px
    }

@media screen and (max-width:330px) {
    .review-form-popup__radio .radiobox + .radiobox {
        margin-left: 0
    }
}

.review-form-popup__radio .radiobox input:checked ~ .checkmark:after {
    opacity: 1
}

.review-form-popup__container {
    max-height: calc(100vh - 300px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 20px 30px;
    margin-left: -20px;
    margin-right: -20px
}

    .review-form-popup__container::-webkit-scrollbar {
        width: 3px
    }

    .review-form-popup__container::-webkit-scrollbar-track {
        background: #f1f1f1
    }

    .review-form-popup__container::-webkit-scrollbar-thumb {
        background: #fa6400
    }

        .review-form-popup__container::-webkit-scrollbar-thumb:hover {
            background: #555
        }

.review-form-popup__after {
    margin-top: 10px;
    position: relative
}

    .review-form-popup__after:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 30px;
        background-image: -webkit-gradient(linear,left bottom,left top,from(#fff),to(#fff0));
        background-image: linear-gradient(0deg,#fff,#fff0)
    }

.review-form-popup.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible
}

.review-form-popup .review--form {
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 0;
    position: relative
}

    .review-form-popup .review--form .form__rating label {
        margin-bottom: 0
    }

.review--row {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 20px
}

.review--header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.review--header, .review--info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.review--info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.review--avatar {
    margin-right: 10px
}

    .review--avatar img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }

.review--images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px
}

.review--images_item {
    max-width: 100px;
    width: 100%
}

    .review--images_item + .review--images_item {
        margin-left: 10px
    }

.review--rating .name {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .28px;
    text-align: left;
    color: #fa6400;
    margin-bottom: 0
}

.review--date {
    font-size: 13px;
    letter-spacing: .26px;
    color: #636363
}

.review--content {
    font-size: 14px;
    letter-spacing: .28px;
    color: #000
}

.review--total {
    margin-right: 5px
}

.form__rating label {
    margin-right: 20px
}

#review--rating span {
    width: 16px;
    margin-left: 5px
}

    #review--rating span svg {
        width: 16px
    }

    #review--rating span.rating--icon:not(:nth-child(2n)) {
        width: 8px
    }

    #review--rating span.rating--icon:nth-child(2n) {
        margin-left: -8px
    }

.rating--icon {
    cursor: pointer
}

    .rating--icon .star--full, .rating--icon .star--half {
        display: block
    }

.rating--icon-half .star--full, .rating--icon-none .star--full, .rating--icon-none .star--half {
    display: none
}

.rating--icon.hover .star--full, .rating--icon.hover .star--half, .rating--icon.selected .star--full, .rating--icon.selected .star--half {
    display: block
}

.rating--star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

    .rating--star span {
        padding-right: 6px
    }

        .rating--star span svg {
            width: 15px
        }

#review--rating span {
    padding: 0;
    width: 26px;
    margin-left: 10px;
    line-height: 1em
}

    #review--rating span svg {
        width: 26px;
        height: 26px
    }

    #review--rating span.rating--icon:not(:nth-child(2n)) {
        width: 13px;
        overflow: hidden;
        position: relative;
        z-index: 2
    }

    #review--rating span.rating--icon:nth-child(2n) {
        margin-left: -13px
    }

.choose-us-area-custom {
    background: #f5f5f7;
}

/**/
.on-mobile .site-header__action {
    background-color: #f5f5f7;
    border-bottom: 1px solid #ebebeb;
}

    .on-mobile .site-header__action ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
        margin: 0;
        height: 40px;
    }

        .on-mobile .site-header__action ul li {
            width: 100%;
            text-align: center;
            list-style: none;
        }

.site-nav__item {
    position: relative;
}

.on-mobile .site-header__action ul li a {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

    .on-mobile .site-header__action ul li a .site-nav__toggle {
        bottom: 50%;
        left: 100%;
        -webkit-transform: translate3d(0,50%,0);
        transform: translate3d(0,50%,0);
        margin-left: 5px;
    }

.site-nav__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.montserrat {
    display: inline-block;
}

.breadcrumb li a:hover {
    color: #fff;
}

.pagination-btn ul .active, .pagination-btn ul li a:hover {
    background: #fa6400 none repeat scroll 0 0;
    /*border-color: #fa6400;*/
    color: #ffffff;
}

.pagination-btn ul .active {
    display: block;
    font-size: 15px;
    height: 35px;
    line-height: 33px;
    margin: 0 1px;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
    width: 35px;
}

.pagination {
    display: inline-flex;
}

/**/
.popup-box-on {
    display: block !important;
}

.off {
    display: none;
}

.chat_box .chat_message_wrapper ul.chat_message > li + li {
    margin-top: 4px;
}

#search.open {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
}

#search {
    background-color: #fff;
    height: 135px;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 2000;
}

    #search #formSearch {
        margin-top: 55px;
    }

    #search input {
        width: 75%;
        border: 1px solid #999;
        background: #fff;
    }

    #search .close {
        color: #fa6400;
        font-size: 40px;
        opacity: 1;
        padding: 10px 0px;
        position: fixed;
    }

button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
}

#search .btn {
    position: inherit;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px 0 5px;
}

.error {
    color: red;
}

.catagories-aside {
    border: 1px solid #fa6400;
    margin-bottom: 20px;
}

    .catagories-aside .aside-title {
        padding: 10px 20px;
        background-color: #fa6400;
        margin-bottom: 0;
        color: #fff;
        width: 100%;
    }

        .catagories-aside .aside-title::after {
            background: none !important;
        }

.product-cat ul li a:before {
    background: none !important;
}

.product-cat ul li a:hover {
    color: #fff;
    background: #fa6400;
}

.site-header__action ul li + li {
    border-left: 1px solid #ebebeb;
}

/*view order detail*/

.profile-user-info {
    display: table;
    width: 98%;
    width: calc(100% - 24px);
    margin: 0 auto
}

.profile-info-row {
    display: table-row
}

.profile-info-name, .profile-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.profile-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 135px;
    vertical-align: middle
}

.profile-info-value {
    padding: 6px 4px 6px 6px
}

    .profile-info-value > span + span:before {
        display: inline;
        content: ",";
        margin-left: 1px;
        margin-right: 3px;
        color: #666;
        border-bottom: 1px solid #FFF
    }

    .profile-info-value > span + span.editable-container:before {
        display: none
    }

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value {
    border-top: none
}

.profile-user-info-striped {
    border: 1px solid #DCEBF7
}

    .profile-user-info-striped .profile-info-name {
        color: #336199;
        background-color: #EDF3F4;
        border-top: 1px solid #F7FBFF
    }

    .profile-user-info-striped .profile-info-value {
        border-top: 1px dotted #DCEBF7;
        padding-left: 12px
    }

.profile-picture {
    border: 1px solid #CCC;
    background-color: #FFF;
    padding: 4px;
    display: inline-block;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px rgba(0,0,0,.15)
}

.dd-empty, .dd-handle, .dd-placeholder, .dd2-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}

.profile-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #D0D8E0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF
}

    .profile-activity:first-child {
        border-top: 1px dotted transparent
    }

        .profile-activity:first-child:hover {
            border-top-color: #D0D8E0
        }

    .profile-activity:hover {
        background-color: #F4F9FD;
        border-left: 1px dotted #D0D8E0;
        border-right: 1px dotted #D0D8E0
    }

    .profile-activity img {
        border: 2px solid #C9D6E5;
        border-radius: 100%;
        max-width: 40px;
        margin-right: 10px;
        margin-left: 0;
        box-shadow: none
    }

    .profile-activity .thumbicon {
        background-color: #74ABD7;
        display: inline-block;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        color: #FFF;
        font-size: 18px;
        text-align: center;
        line-height: 38px;
        margin-right: 10px;
        margin-left: 0;
        text-shadow: none !important
    }

    .profile-activity .time {
        display: block;
        margin-top: 4px;
        color: #777
    }

    .profile-activity a.user {
        font-weight: 700;
        color: #9585BF
    }

    .profile-activity .tools {
        position: absolute;
        right: 12px;
        bottom: 8px;
        display: none
    }

    .profile-activity:hover .tools {
        display: block
    }

.user-profile .ace-thumbnails li {
    border: 1px solid #CCC;
    padding: 3px;
    margin: 6px
}

    .user-profile .ace-thumbnails li .tools {
        left: 3px;
        right: 3px
    }

    .user-profile .ace-thumbnails li:hover .tools {
        bottom: 3px
    }

.user-title-label:hover {
    text-decoration: none
}

.user-title-label + .dropdown-menu {
    margin-left: -12px
}

.profile-contact-links {
    padding: 4px 2px 5px;
    border: 1px solid #E0E2E5;
    background-color: #F8FAFC
}

.btn-link:hover .ace-icon {
    text-decoration: none !important
}

.profile-social-links > a:hover > .ace-icon, .profile-users .memberdiv .name a:hover .ace-icon, .profile-users .memberdiv .tools > a:hover {
    text-decoration: none
}

.profile-social-links > a {
    text-decoration: none;
    margin: 0 1px
}

.profile-skills .progress {
    height: 26px;
    margin-bottom: 2px;
    background-color: transparent
}

    .profile-skills .progress .progress-bar {
        line-height: 26px;
        font-size: 13px;
        font-weight: 700;
        font-family: "Open Sans";
        padding: 0 8px
    }

.profile-users .user {
    display: block;
    position: static;
    text-align: center;
    width: auto
}

    .profile-users .user img {
        padding: 2px;
        border-radius: 100%;
        border: 1px solid #AAA;
        max-width: none;
        width: 64px;
        -webkit-transition: all .1s;
        -o-transition: all .1s;
        transition: all .1s
    }

        .profile-users .user img:hover {
            -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.33);
            box-shadow: 0 0 1px 1px rgba(0,0,0,.33)
        }

.profile-users .memberdiv {
    background-color: #FFF;
    width: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    text-align: center;
    margin: 0 8px 24px
}

    .profile-users .memberdiv .body {
        display: inline-block;
        margin: 8px 0 0
    }

    .profile-users .memberdiv .popover {
        visibility: hidden;
        min-width: 0;
        max-height: 0;
        max-width: 0;
        margin-left: 0;
        margin-right: 0;
        top: -5%;
        left: auto;
        right: auto;
        opacity: 0;
        display: none;
        position: absolute;
        -webkit-transition: opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s;
        -o-transition: opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s;
        transition: opacity .2s linear 0s,visibility 0s linear .2s,max-height 0s linear .2s,max-width 0s linear .2s,min-width 0s linear .2s
    }

        .profile-users .memberdiv .popover.right {
            left: 100%;
            right: auto;
            display: block
        }

        .profile-users .memberdiv .popover.left {
            left: auto;
            right: 100%;
            display: block
        }

    .profile-users .memberdiv > :first-child:hover .popover {
        visibility: visible;
        opacity: 1;
        z-index: 1060;
        max-height: 250px;
        max-width: 250px;
        min-width: 150px;
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s
    }

    .profile-users .memberdiv .tools {
        position: static;
        display: block;
        width: 100%;
        margin-top: 2px
    }

        .profile-users .memberdiv .tools > a {
            margin: 0 2px
        }

.user-status {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #FFF;
    border: 3px solid #AAA;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 1px
}

    .user-status.status-online {
        border-color: #8AC16C
    }

    .user-status.status-busy {
        border-color: #E07F69
    }

    .user-status.status-idle {
        border-color: #FFB752
    }

.tab-content.profile-edit-tab-content {
    border: 1px solid #DDD;
    padding: 8px 32px 32px;
    -webkit-box-shadow: 1px 1px 0 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 0 rgba(0,0,0,.2);
    background-color: #FFF
}

@media only screen and (max-width:480px) {
    .profile-info-name {
        width: 80px
    }

    .profile-user-info-striped .profile-info-name {
        float: none;
        width: auto;
        text-align: left;
        padding: 6px 4px 6px 10px;
        display: block
    }

    .profile-user-info-striped .profile-info-value {
        margin-left: 10px;
        display: block
    }

    .user-profile .memberdiv {
        width: 50%;
        margin-left: 0;
        margin-right: 0
    }
}

.modal-custom {
    z-index: 99999999999;
}

    .modal-custom a {
        color: #212529;
    }

.bg-danger {
    background-color: #f01414 !important;
    border: 1px solid #f01414 !important;
}

.bg-success {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
}

.article-content a {
    color: #fa6400 !important
}

.product-single__description-content a {
    color: #fa6400 !important
}

.about-des a {
    color: #fa6400 !important
}

.article-content img {
    max-width: 100% !important;
    height: auto !important;
}

.about-des img {
    max-width: 100% !important;
    height: auto !important;
}

.product-single__description-content img {
    max-width: 100% !important;
    height: auto !important;
}

.article-content ul li {
    list-style: initial;
    margin-left: 30px;
    display: list-item;
}

.product-single__description-content ul li {
    list-style: initial;
    margin-left: 30px;
    display: list-item;
}

.about-des ul li {
    list-style: initial;
    margin-left: 30px;
    display: list-item;
}

.tab-productlist {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 570px;
}

@media only screen and (max-width:767px) {
    .tab-productlist {
        max-height: 280px;
    }

    .product-more-views {
        width: 20%;
    }

    .tab-content.active-portfolio-area {
        width: 80%;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fa6400;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #fa3100;
    }


/* width */
.tab-productlist::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.tab-productlist::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
.tab-productlist::-webkit-scrollbar-thumb {
    background: #fa6400;
    border-radius: 10px;
}

    /* Handle on hover */
    .tab-productlist::-webkit-scrollbar-thumb:hover {
        background: #fa3100;
    }

.col-delivery-custom {
    width: 25% !important;
    padding: 0 5px !important;
}

    .col-delivery-custom h5 {
        margin: 5px 0 0;
    }

@media (min-width: 992px) {
    .coolsub-product__item {
        min-width: 165px;
    }
}