﻿@using X.PagedList.Mvc.Core;
@using SoftNetCore.Model.Catalog;
@using System.Threading.Tasks;
@using SoftNetCore.Common.Helpers;
@model List<FaqModel>
@{
    var titleCat = (string)ViewBag.TitleCat;
    int count = 0;
    var info = ViewBag.Info as AboutModel;
}
@section AdditionalMeta
{
    <meta name='revisit-after' content='7 days' />
    <title>VNSO SHOP | Hỏi đáp</title>
    <meta itemprop='name' content='VNSO SHOP | Hỏi đáp' />
    <meta property='og:title' content='VNSO SHOP | Hỏi đáp' />
    <meta name='twitter:title' content='VNSO SHOP | Hỏi đáp' />
    <meta name='twitter:card' content='summary' />
    <meta name='description' content='@Html.Raw(info.MetaDescription)' />
    <meta name='twitter:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='description' content='@Html.Raw(info.MetaDescription)' />
    <meta property='og:description' content='@Html.Raw(info.MetaDescription)' />
    <meta itemprop='image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta name='twitter:image' content='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host/@Html.Raw(info.MetaImage)' />
    <meta property='og:locale' content='vi_VN' />
    <link rel='alternate' hreflang='vi_VN' href='@Context.Request.Scheme@Uri.SchemeDelimiter@Context.Request.Host@Context.Request.Path' />
    <meta property='og:type' content='website' />
    <meta name='keywords' content='@Html.Raw(info.MetaKeywords)' />
    <meta property='og:site_name' content='@Html.Raw(info.Website)' />
    <meta name='twitter:site' content='@Html.Raw(info.Website)' />
    <meta name='robots' content='index, follow' />
    <meta property='fb:admins' content='@Html.Raw(info.PageId)' />
}

<!--breadcumb area start -->
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Trang chủ" href="/">Trang chủ</a><span>»</span></li>
                    <li><strong>Hỏi đáp</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--breadcumb area end -->
<!-- Begin Frequently Area -->
<div class="frequently-area pt-30 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="frequently-content">
                    <div class="frequently-desc">
                        <h3>CÂU HỎI THƯỜNG GẶP KHI MUA SẮM TẠI ORRIANNA</h3>
                    </div>
                </div>
                <!-- Begin Frequently Accordin -->
                <div class="frequently-accordion">
                    <div id="accordion">
                        @foreach (var item in Model)
                        {
                            count++;
                            if (count == 1)
                            {
                                <div class="card actives">
                                    <div class="card-header" id="heading-@item.Id">
                                        <h5 class="mb-0">
                                            <a class="" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id"
                                               aria-expanded="true" aria-controls="collapse-@item.Id">
                                                @item.Title
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-@item.Id" class="collapse show" aria-labelledby="heading-@item.Id"
                                         data-bs-parent="#accordion">
                                        <div class="card-body">
                                            @Html.Raw(@item.Description)
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card">
                                    <div class="card-header" id="heading-@item.Id">
                                        <h5 class="mb-0">
                                            <a class="" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id"
                                               aria-expanded="true" aria-controls="collapse-@item.Id">
                                                @item.Title
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapse-@item.Id" class="collapse" aria-labelledby="heading-@item.Id"
                                         data-bs-parent="#accordion">
                                        <div class="card-body">
                                            @Html.Raw(@item.Description)
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!--Frequently Accordin End Here -->
            </div>
        </div>
    </div>
</div>
<!--Frequently Area End Here -->
