﻿@using SoftNetCore.Common.Helpers
@using SoftNetCore.Model.Catalog;
@model IList<ArticleCategoryModel>
<div class="sidebar-widget widget-category-2 mb-30">
    <h5 class="section-title style-1 mb-30">Danh mục</h5>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="/tin-tuc-@item.Id"> <img src="/assets/imgs/theme/icons/icon-hot.svg" alt="@item.Title">@item.Title</a>@*<span class="count">@item.Articles.Count()</span>*@
                </li>
            }
        </ul>
    }

</div>