﻿@model SoftNetCore.Model.Catalog.FaqModel
@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="~/admin/home/index">Dashboard</a>
            </li>
            <li>
                <a href="#">Quản lý thông tin</a>
            </li>
            <li class="active">Hỏi đáp</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h3><strong>Thêm mới</strong></h3>
            <div class="top-toolbar">
                <button onclick="CKupdate();SubmitFormByID('frmFaq',true);" class="btn btn-sm btn-primary radius">
                    <i class="ace-icon fa fa-floppy-o bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Lưu và tiếp tục</span>
                </button>
                <a class="btn btn-sm btn-success radius" asp-area="Admin" asp-controller="AdminFaq" asp-action="Index">
                    <i class="ace-icon fa fa-reply bigger-110"></i>
                    <span class="bigger-110 no-text-shadow">Trở về</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-horizontal" role="form">
                    <form method="post" id="frmFaq" class="form-horizontal" data-ajax="true" data-ajax-complete="completed" data-ajax-success="OnSuccess" data-ajax-fail="OnFailure" asp-action="Insert" asp-controller="AdminFaq">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="hidden" asp-for="IsReturn" id="isReturn" class="col-xs-12 col-sm-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Câu hỏi</label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Title" class="col-xs-12 col-sm-12" placeholder="Câu hỏi" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right">Câu trả lời</label>
                            <div class="col-sm-9">
                                <textarea type="text" asp-for="Description" id="Description" class="col-xs-12 col-sm-12" placeholder="Câu trả lời" rows="2"></textarea>
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-2">Độ ưu tiên</label>
                            <div class="col-sm-9">
                                <input type="text" class="col-xs-10 col-sm-5" asp-for="Position" placeholder="Độ ưu tiên" />
                            </div>
                        </div>
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly"></label>
                            <div class="col-sm-9">
                                <span class="help-inline">
                                    <label class="middle">
                                        <input type="checkbox" asp-for="Status" class="ace" />
                                        <span class="lbl">Hiển thị</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix form-actions">
                        <div class="col-md-offset-3 col-md-9">
                            <button onclick="CKupdate();SubmitFormByID('frmFaq',true);" class="btn btn-info">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Lưu và tiếp tục
                            </button>
                            <a class="btn" asp-area="Admin" asp-controller="AdminFaq" asp-action="Insert">
                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                Nhập lại
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            window.input_id = '';
            window.openElFinderAvatar = function (event, input_id) {
                event.preventDefault();
                window.single = true;
                window.old = false;
                window.input_id = input_id;
                window.open('/tiny-mce/browseavatar', '_blank', 'menubar=no,status=no,toolbar=no,scrollbars=yes,height=500,width=1000');
                return false;
            };
            window.processSelectedFile = function (filePath, requestingField) {
                $('#' + requestingField).val(filePath).trigger('change');
            }
        });
    </script>
    <script type="text/javascript">
        $(function () {
            CKupdate();
        });

        function CKupdate() {
            for (instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();
            return true;
        }
    </script>
    <script type="text/javascript">
        CKEDITOR.config.height = 200;
        CKEDITOR.config.width = 'auto';
        CKEDITOR.replace("Description");
    </script>
    <script src="~/admin/app/FaqValidate.js"></script>
}



