﻿@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml"; }

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Trang chủ</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h3>CHÀO MỪNG BẠN ĐẾN VỚI HỆ THỐNG QUẢN LÝ</h3>
                </div>
            </div>
        </div>
    </div>
</div>
