﻿@using SoftNetCore.Model.Catalog;
@model List<ProductAttributeModel>

<div class="color-area">
    <h2 class="saider-bar-title">Màu sắc: <span class="colorname" id="colorname"></span></h2>
    <div class="color">
        <ul id="productcolor" name="productcolor">
            @foreach (var item in Model)
            {
                <li data-value="@item.Id" data-title="@item.Attribute?.Title"><span style="background:@item?.Attribute?.Code"></span></li>
            }
        </ul>
    </div>
</div>