﻿@using SoftNetCore.Model.Catalog;
@using SoftNetCore.Common.Helpers;
@{ var productCategoryList = ViewBag.ProductCategoryList as List<ProductCategoryModel>;
    var saleList = ViewBag.SaleList as List<SaleModel>; }

<div class="col-lg-12 col-md-12 col-xs-12 d-block d-sm-none" style="padding:0">
    <div class="site-header__action">
        <ul>
            <li class="site-nav__item site-nav__item--has-sub">
                <a href="#" class="site-nav__item--open" data-toggle="collapse" data-target="#saleMobile">
                    Sale <i class="fa fa-angle-double-down"></i>
                </a>
            </li>
            <li class="site-nav__item site-nav__item--has-sub">
                <a href="#" class="site-nav__item--open" data-toggle="collapse" data-target="#productMobile">
                    Sản phẩm <i class="fa fa-angle-double-down"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="saleMobile" class="collapse menu-mobile-nav menu-mobile-nav--slide mobile-nav-box">
        <div id="cat-treeview" class="product-cat">
            <ul class="treeview">
                @foreach (var item in saleList)
                {
    <li>
        <a asp-controller="Sale" asp-action="Detail" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">
            @item.Title
        </a>
    </li>}
            </ul>
        </div>
    </div>
    <div id="productMobile" class="collapse menu-mobile-nav menu-mobile-nav--slide mobile-nav-2">
        <div id="cat-treeview" class="product-cat">
            <ul class="treeview">
                @foreach (var item in productCategoryList)
                {
    <li class="closed">
        <a class="" asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" asp-route-title="@item.Title.ToUrlFormat()">
            @item.Title
        </a>
        @await (Component.InvokeAsync("MenuSidebarChild", new { parentId = item.Id }))
    </li>}
            </ul>
        </div>
    </div>
</div>