﻿@using SoftNetCore.Common.Helpers;
@using SoftNetCore.Common.Extensions;
@model List<CartItem>
@{
    Layout = null;
}
@*<div class="cart-dropdown-wrap cart-dropdown-hm2 cart-items">
        <ul class="list-item">
            @if (Model != null && Model.Count > 0)
            {
                foreach (var product in Model)
                {
                    <li>
                        <div class="shopping-cart-img">
                            <a href="/chi-tiet-san-pham-@product.ProductId"><img alt="@product.ProductName" src="@product.Avatar"></a>
                        </div>
                        <div class="shopping-cart-title">
                            <h4><a href="/chi-tiet-san-pham-@product.ProductId">@product.ProductName.Peel(54)</a></h4>
                            <h4 data-price="@product.Price" class="eachPrice"><span>@product.Quantity × </span>@String.Format("{0:0,0đ}", product.Price)</h4>
                        </div>
                        <div class="shopping-cart-delete">
                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                        </div>
                    </li>
                }
            }
        </ul>
        <div class="shopping-cart-footer">
            <div class="shopping-cart-total">
                <h4 id="total-price">Tổng cộng <span>@((Model != null && Model.Count > 0) ? String.Format("{0:0,0đ}", Model.Sum(z => z.Price * z.Quantity)) : "0đ")</span></h4>
            </div>
            <div class="shopping-cart-button">
                <a href="/gio-hang" class="outline">Xem giỏ hàng</a>
                <a href="/thanh-toan">Thanh toán</a>
            </div>
        </div>
    </div>*@


<div class="cart-dropdown-wrap cart-dropdown-hm2">
    <ul>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <li>
                    <div class="shopping-cart-img">
                        <a href="/chi-tiet-san-pham-@item.ProductName.ToUrlFormat()-@item.ProductId"><img alt="@item.ProductName" src="@item.Avatar"></a>
                    </div>
                    <div class="shopping-cart-title">
                        <h4><a href="/chi-tiet-san-pham-@item.ProductName.ToUrlFormat()-@item.ProductId">@item.ProductName.Peel(54)</a></h4>
                        <h4 data-price="@item.Price" class="eachPrice"><span>@item.Quantity × </span>@String.Format("{0:0,0đ}", item.Price)</h4>
                    </div>
                    <div class="shopping-cart-delete">
                        <a href="@Url.Action("DeletedReload", "ShoppingCart", new { id = item.ProductId})"><i class="fi-rs-cross-small"></i></a>
                    </div>
                </li>
            }
        }
    </ul>
    <div class="shopping-cart-footer">
        <div class="shopping-cart-total">
            <h4 id="total-price">Tổng cộng <span>@String.Format("{0:0,0đ}", (double)ViewBag.TotalPrice)</span></h4>
        </div>
        <div class="shopping-cart-button">
            <a href="/gio-hang" class="outline">Xem giỏ hàng</a>
            <a href="/thanh-toan">Thanh toán</a>
        </div>
    </div>
</div>