﻿@using SoftNetCore.Model.Catalog;
@model IList<PartnerModel>

<section class="popular-categories section-padding">
    <div class="container">
        <div class="section-title">
            <div class="title">
                <h3>Đối tác</h3>
            </div>
            <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow" id="carausel-8-columns-arrows"></div>
        </div>
        <div class="carausel-8-columns-cover position-relative">
            <div class="carausel-8-columns" id="carausel-8-columns">
                @foreach (var item in Model)
                {
                    <figure class="img-hover-scale overflow-hidden">
                        <a href="@item.Url">
                            <img src="/@item.Avatar" />
                        </a>
                    </figure>
                    @*<h6>
                            <a href="/thuong-hieu">Milks and <br />Dairies</a>
                        </h6>*@
                }
            </div>
        </div>
    </div>
</section>