﻿input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea {
    border-radius: 3px !important;
}
.ui-jqgrid .ui-jqgrid-labels th {
    border-right: 1px solid #E1E1E1 !important;
    text-align: center !important
}

.input-check-all {
    text-align: center !important;
    padding-bottom: 5px !important;
}

.top-toolbar {
    position:absolute;
    top:10px;
    right:20px;
}
.radius {
    border-radius: 3px !important;
}
.btn-toolbar {
    
}
.form-function {
    margin-bottom:12px !important;
}
.width-100 {
    width:100% !important;
}

.btn-none-boder {
    border: 0px solid #FFF !important;
}
.magin-right-none {
    margin-right: 0px !important;
}

.magin-right-3px {
    margin-right: 3px !important;
}
.padding-left-0px {
    padding-left: 0px !important;
}
.padding-right-0px {
    padding-right: 0px !important;
}

.padding-top-5px {
    padding-top: 5px !important;
}
.mt-20{
    margin-top:20px;
}

.error {
    color: red;
}


